<div xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
	<!-- 페이징필요한사람 -->
	<th:block th:replace="~{common/configs/default_pageing :: pageing}"></th:block>

	<div class="main-container">
	<div class="pd-ltr-20">
		
	<h2 class="h2 mb-20">생산계획 생성</h2>
		<div class="d-flex justify-content-between">
			<div class="pd-20 card-box mb-20" style="width: 48%;">	
				<h2 class="h5 mb-20">생산계획</h2>
				<form name="form"
					method="post">
					<div class="form-group">
						<label>주문코드</label> 
							<select name="oList" id="oList">
								<option></option>
								<th:block th:block th:each="list: ${oList}">
									<option>[[ ${list} ]]</option>
								</th:block>
							</select>
						<br>
					
					
							<label>시작일자</label> 
							<input class="form-control" type="date"
						 	name="startDate" >
							<label>종료일자</label> 
							<input class="form-control" type="date"
						 	name="endDate">
						<th:block sec:authorize="isAuthenticated()">
							<label>담당자</label>
							<input class="form-control" type="text"
						th:value="${#authentication.principal.authorities[2]}" readonly>
							<input type="hidden" 
							th:value="${#authentication.principal.authorities[1]}"
							name="manager">
						</th:block>
					</div>
						
					<div class="form-group">
						<label>요청사항</label>
						<textarea class="form-control" name="comm"></textarea>
					</div>
					<button class="btn btn-primary" type="button" onclick="sendCheckedRows()">제출</button>

				</form>
			</div>
	
	
	
		

			<div class="pd-20 card-box mb-20" style="width: 48%;"> 
				<h2 class="h5 mb-20">제품 선택</h2>
				<div id="grid"></div>
			</div>
		</div>
			
		</div>
	</div>

<script th:inline="javascript">
			
			const ol = $('#oList');
			
			const gridData = /*[[${products}]]*/[];
			
			let grid; 
			
			document.addEventListener('DOMContentLoaded', function() {
				
				

				grid = new tui.Grid({
					el : document.getElementById('grid'),
					data : gridData,
					scrollX : false,
					scrollY : false,
					columns : [ {
						header : '제품명',
						name : 'prdName',
						align : 'center',
					}, {
						header : '제품코드',
						name : 'prdCode',
						align : 'center',
					},  {
						header : '수량',
						name : 'ordQuantity',
						align : 'center',
						editor: 'text',
					}, ],
					rowHeaders : [ 'checkbox' ],
					pageOptions : {
						useClient : true,
						perPage : 10
					}
				});
			});
			
			

			
			// 주문 select 바꿀경우 
			ol.on('change', ()=>{
				const ordCode = ol.val();
				
				// 계획 그리드 ajax 변경(선택한 plancode의 남은 제품계획수량) 
				$.ajax({
				    url: 'ordPrd',
				    type: 'GET',
				    data: {
				        ordCode : ordCode 
				    },
				    success: function(response) {
				    	if(response.length>0){
				        grid.resetData(response);
				        

				    	}
				    	else{
				    		grid.resetData(gridData);	
				    	}
				    },
				    error: function(jqXHR, textStatus, errorThrown) {
				        console.error('Error:', textStatus, errorThrown);
				    }
				});
				

			});
			
		// 체크된 행의 데이터를 가져오는 함수
		/* function logCheckedRows() {
		    const checkedRows = grid.getCheckedRows();
		    console.log(checkedRows); // 체크된 행의 데이터 배열 출력
		} */
		
		function sendCheckedRows() {
		    const checkedRows = grid.getCheckedRows();

		    if (checkedRows.length == 0) {
		        alert('제품을 선택해주세요.');
		        return;
		    }
		    


		    // 폼 데이터를 직접 수집
		    const formArr = $("form[name=form]").serializeArray();
		    
		    const formObj = {};
		    $.each(formArr, function(idx, tag) {
		    	formObj[tag.name] = tag.value;
		    });

		    // 폼 데이터와 체크된 그리드 데이터를 병합
		    const payload = {
		        planVO: formObj,    // 폼 데이터 (주문 정보)
		        productVO: checkedRows  // 체크된 그리드 데이터 (상품 목록)
		    };
		    

		    
		 	// 수량 체크
		    for (let i = 0; i < checkedRows.length; i++) {
		        const row = checkedRows[i];

		        if (!row.ordQuantity || row.ordQuantity <= 0) {
		            alert('체크된 제품의 수량을 입력해주세요.');
		            return;
		        }
		    }
		    
		    if (!formObj.startDate) {
		        alert('시작 일자를 설정해주세요');
		        return;
		    }
		    
		    if (!formObj.endDate) {
		        alert('종료 일자를 설정해주세요');
		        return;
		    }

		    // 병합된 데이터를 서버로 전송 (AJAX 요청)
		    $.ajax({
		        url: '/planCreate', // 서버에서 처리할 URL 경로
		        type: 'POST',
		        contentType: 'application/json', // JSON 형식으로 데이터 전송
		        data: JSON.stringify(payload), // 폼 데이터와 체크된 데이터를 JSON으로 변환하여 전송
		        success: function(response) {
		            alert('생산계획이 생성되었습니다!');
		            window.location.href = "planList";
		            console.log(response); // 서버에서 받은 응답 처리
		        }
		    });
		}

		</script>

	<script>

	</script>