<div xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
	<!-- 페이징필요한사람 -->
	<th:block th:replace="~{common/configs/default_pageing :: pageing}"></th:block>

	<div class="main-container">
		<div class="pd-ltr-20">
		<h3>생산계획 조회</h3>
		
		<div class="pd-20 card-box mb-20"> 
        	<input name="btn" type="radio" value="a" id="all" checked>
            <label for="all">전체</label>
            <input name="btn" type="radio" value="a1" id="no">
            <label for="no">미이행</label>
            <input name="btn" type="radio" value="a2" id="ing">
            <label for="ing">진행중</label>
            <input name="btn" type="radio" value="a3" id="com">
            <label for="com">완료</label>
            
            
       		<div class="text-right">
       			<button class="btn btn-danger mr-3" id='dbtn' name='dbtn' disabled='true'>삭제</button>
        	</div>	
        </div>
		
		<div class="d-flex justify-content-between">
			<div class="pd-20 card-box mb-20" style="width: 70%;"> 
        		<h2 class="h5 mb-20">생산계획</h2>
        		<div id="grid"></div>
        	</div>
        
        
        	<div class="pd-20 card-box mb-20" style="width: 26%;"> 
        	<h2 class="h5 mb-20">생산지시 상세</h2>
        		<div id="detail-grid"></div>
        	</div>
    	</div>
    	</div>
    </div>
    </div>

    <script th:inline="javascript">
    const be = document.getElementsByName('btn');
    const dbtn = document.getElementById('dbtn');
    let pCode = '';
    let selectedRow;
    
    document.addEventListener('DOMContentLoaded', function() {
    const gridData = /*[[${list}]]*/[];
    	
    	const grid = new tui.Grid({
            el: document.getElementById('grid'),
            data: gridData, // 초기 데이터
            columns: [
                { header: '생산계획 코드', name: 'planCode', align: 'center' },
                { header: '시작 일자', name: 'startDate', align: 'center' },
                { header: '종료 일자', name: 'endDate', align: 'center' },
                { header: '담당자', name: 'userName', align: 'center' },
                
                { 
                    header: '상태', 
                    name: 'status', 
                    align: 'center',
                    formatter: (object, columnInfo) => {
                    	
                    	//return list[object.value];
                        switch (object.value) {
                            case 'a1': return '대기';
                            case 'a2': return '진행';
                            case 'a3': return '완료';
                            default: return '알 수 없음';
                        }
                    }
                },
                { header: '비고', name: 'comm', align: 'center' },
            ],
            rowHeaders: ['rowNum'],
            pageOptions: { useClient: true, perPage: 10 },
            height: '300px'
        });
    



        // 상세 그리드 초기화
        const detailGrid = new tui.Grid({
            el: document.getElementById('detail-grid'),
            data: [],
            columns: [
                { header: '제품명', name: 'prdName', align: 'center' },
                { header: '수량', name: 'quantity', align: 'center' },

            ],
            rowHeaders: ['rowNum'],
            height: '300px'
        });

        // 생산지시 클릭 시 상세 정보 로드
        grid.on('click', (ev) => {
            selectedRow = ev.rowKey;
            const selectedData = grid.getValue(selectedRow, 'planCode'); // 선택한 행 데이터 가져오기
            
            fetch('/planDList?planCode=' + selectedData)
                .then(resp => resp.json())
                .then(data => {
                	const cstatus = grid.getValue(selectedRow, 'status');
                    dbtn.disabled = (cstatus !== 'a1');
                    detailGrid.resetData(data);
                    
                    
                })
                .catch(error => {
                    console.error('Error fetching detail data:', error);
                });
        });
        
        Array.from(be).forEach((b) => {
            b.addEventListener('change', (event) => {
            	dbtn.disabled = true;
                const val = document.querySelector('input[type=radio][name=btn]:checked').value;
                fetchPlans(val);
            });
        });
        
        const fetchPlans = (status) => {
            fetch('/planListS?status=' + status)
                .then(resp => {
                    if (!resp.ok) throw new Error('Network response was not ok');
                    return resp.json();
                })
                .then(resp => {

                    grid.resetData(resp);

                })
                .catch(error => console.error('Fetch error:', error));
        };
        
        
        Array.from(be).forEach((b) => {
            b.addEventListener('change', (event) => {
            	dbtn.disabled = true;
                const val = document.querySelector('input[type=radio][name=btn]:checked').value;
                fetchPlans(val);
            });
        });
        
        dbtn.addEventListener('click', function(){
        	console.log('as');
        	pCode = grid.getValue(selectedRow, 'planCode');
        	$.ajax({
        	    url: 'deletePlan', // 요청할 URL
        	    type: 'POST', // HTTP 요청 방식
        	    data: {
        	        pCode : pCode
        	    },
        	    dataType: 'json', // 응답 데이터 형식
        	    success: function(response) {
        	        // 요청 성공 시 실행되는 콜백 함수
        	        if(response == 1){
        	        	alert('삭제 완료');
        	        	
        	        	fetchPlans('a');
        	        }
        	    },
        	    error: function(xhr, status, error) {
        	        // 요청 실패 시 실행되는 콜백 함수
        	        console.error('Error:', error);
        	    }
        	});
        });
        
    });
    </script>
</body>