<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">

<th:block th:replace="~{common/configs/default_pageing :: pageing}"></th:block>

<title>생산 공정</title>
</head>

<body>
    <div class="main-container">
        <div class="pd-ltr-20">
        <h3>생산 공정</h3>
        
        <button id="sBtn">생산 시작</button>
        <div class="pd-20 card-box mb-20">
        <h2 class="h5 mb-20">생산지시 상세</h2>
        <table id="bl" class="table table-hover">
            <thead>
                <tr>
                	<th>생산지시 코드</th>
                	<th>생산지시 상세코드</th>
                    <th>제품명</th>
                    <th>라인코드</th>
                    <th>목표량</th>
                    <th>지시량</th>
                    <th>생산량</th>
                    <th>상태</th>
                    <th>비고</th>
                </tr>
            </thead>    
            <tbody id="plan">
                <th:block th:each="list: ${list}">
                    <tr th:data-code="${list.prdCode}">
                    	<td th:text="${list.porderCode}"></td>
                    	<td th:text="${list.pdetailCode}"></td>
                        <td th:text="${list.prdName}"></td>
                        <td th:text="${list.lineCode}"></td>
                        <td th:text="${list.want}"></td>
                        <td>[[ ${list.command} ]]</td>
                        <td>[[ ${list.output} ]]</td>
                        <td th:if="${list.status=='b1'}">대기</td>
                        <td th:if="${list.status=='b2'}">진행</td>
                        <td th:if="${list.status=='b3'}">완료</td>
                        <td th:text="${list.comm}"></td>
                    </tr>
                </th:block>
            </tbody>
        </table>
        </div>
        
        
        <div class="pd-20 card-box mb-20">
        <h2 class="h5 mb-20">필요 자재</h2>
        <table id="detail-table" class="table table-hover">
            <thead>
                <tr>
                    <th>자재명</th>
                    <th>수량</th>
                </tr>
            </thead>    
            <tbody id="dbody"> 
            </tbody>
        </table>
        </div>
        
        
        <div class="pd-20 card-box mb-20">
        <h2 class="h5 mb-20">진행 공정</h2>
        <table id="dtable" class="table table-hover">
            <thead>
                <tr>
                	<th>순서</th>
					<th>공정명</th>
                    <th>설비명</th>
                    <th>가동상태</th>
                    <th>시작시간</th>
                    <th>종료시간</th>
                    <th>투입량</th>
                    <th>불량량</th>
                    <th>생산량</th>
                    <th>담당자</th>
                </tr>
            </thead>    
            <tbody id="cbody"> 
            </tbody>
        </table>
    </div>
    </div>
    
    
    <script>
    const plan = document.getElementById('plan');
    const detailBody = document.getElementById('detail-body');  
    const sBtn = document.getElementById('sBtn');
    const dby = document.getElementById('dbody');
    const cby = document.getElementById('cbody');
    let today = new Date();
    let prd;
    let pd;
    let line;
    let cnt;
    let dstatus;
   
    
    // 지시 클릭 시 필요 자재와 공정 리스트 보여주는 기능
    Array.from(plan.children).forEach((pl) => {
        pl.addEventListener('click', (event) => {
        	
        	
        	
            prd = event.currentTarget.dataset.code;
            cnt = event.currentTarget.children[4].innerText;
            pd = event.currentTarget.children[1].innerText;
            line = event.currentTarget.children[2].innerText;
            dstatus = event.currentTarget.children[6].innerText;
            
    		if(dstatus == '완료'){
    			sBtn.disabled = true;
    			
    		} else{
    			sBtn.disabled = false;
    		}
            
            
            console.log(cnt);
            console.log(prd);
            
			// 필요 자재 보여주는 기능
            fetch('/pNeed?prdCode=' + prd)
                .then(function(resp) {
                    if (!resp.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return resp.json();
                })
                .then(function(resp) {
                    // 상세 테이블 내용 초기화
                    dbody.innerHTML = '';

                    // 받아온 데이터로 테이블 행 추가
                    resp.forEach(item => {
                        const row = document.createElement('tr');
                        row.dataset.mc = item.mtCode;
                        row.innerHTML = `
                            <td>${item.mtName}</td>
                            <td>${item.quantityRequired * cnt}</td>
                        `;
                        dbody.appendChild(row);
                    });
                })
                .catch(function(error) {
                    console.error('Fetch error:', error);
                });
            
			
            // 기존 생산 실적 조회
            fetch('/searchR?pdetailCode=' + pd)
            	.then(resp =>{
            		if (!resp.ok){
            			throw new Error('네트워크 반응 에러');
            		}
            		return resp.json();
            	})
            	.then(data=>{
            		if (data.length>0){
            			
            			displayR(data);
            			
            		} else {
            			cbody.innerHTML = '';
            			insertR(pd);
            		}
            	})
            	.catch(error => {
            		console.error('에러 :', error);
            	});
        	});
            
           	
            	
            	
            	
            
    });

 // 진행 공정에 생산 실적 표시하는 함수
    function displayR(data) {
        const cbody = document.getElementById('cbody');
        cbody.innerHTML = ''; // 이전 내용 초기화
        data.forEach(item => {
        	
			const row = document.createElement('tr');
            row.dataset.rc = item.presultCode;
            if(item.status == 'b1'){
                row.innerHTML = `
                    <td>${item.no}</td>
                    <td>${item.processName}</td>
                    <td>${item.eqCode}</td>
    				<td>대기</td>
                    <td>${item.startTime}</td>
                    <td>${item.endTime}</td>
                    <td>${item.input}</td>
                    <td>${item.err}</td>
                    <td>${item.output}</td>
                `;}
                else if(item.status == 'b2'){
                    row.innerHTML = `
                        <td>${item.no}</td>
                        <td>${item.processName}</td>
                        <td>${item.eqCode}</td>
        				<td>진행</td>
                        <td>${item.startTime}</td>
                        <td>${item.endTime}</td>
                        <td>${item.input}</td>
                        <td>${item.err}</td>
                        <td>${item.output}</td>

                    `;}
                
                else {
                    row.innerHTML = `
                        <td>${item.no}</td>
                        <td>${item.processName}</td>
                        <td>${item.eqCode}</td>
        				<td>완료</td>
                        <td>${item.startTime}</td>
                        <td>${item.endTime}</td>
                        <td>${item.input}</td>
                        <td>${item.err}</td>
                        <td>${item.output}</td>
						<td>${item.userName}</td>
                    `;}
            
            cbody.appendChild(row);
            
            if(item.status == 'b1' || item.status == 'b2'){
            	
        		fetch('/lmanager?ldetailCode=' + item.ldetailCode)
        		.then(resp =>{
        			if (!resp.ok){
        				throw new Error('네트워크 반응 에러');
        			}
        			return resp.json();
        		})
        		.then(res =>{
        			

                	const selm = document.createElement('td');
                	const selb = document.createElement('select');
                
                	selb.name = "sname";
                
                	res.forEach(n=> {
                     	selb.innerHTML += `
                     	<option value=${n.userId}>
                     	${n.userName}
                     	</option>`;
                 	});
                	
                    selm.appendChild(selb);
                    row.appendChild(selm);
                        
            }
                        	
        	)
        	.catch(error => {
        		console.error('에러 :', error);
        	});
        	
            }
        	
        	
            
        });
    }
 
 	function insertR(pd){
        fetch(`/insertR?lineCode=${line}&pdetailCode=${pd}`)
    	.then(resp =>{
    		if (!resp.ok){
    			throw new Error('네트워크 반응 에러');
    		}
    		return resp.json();
    	})
    	.then(data =>{
			
			
			displayR(data);
	    		
			});

 	}
 	
 	// 생산 시작 버튼 클릭 시 이벤트 지정
 	sBtn.addEventListener('click', function(){
 		// 미선택시 선택 요구
 		if(line == null){
 			alert('생산지시를 선택해주세요.');
 			
 			
 		// 선택한 지시가 있을 경우	
 		} else{
 			// 선택 시 해당 공정에 맞는 자재 가져오기
 			fetch('/outMt', {
 				  method: "POST",
 				  headers: {
 	                'Content-Type': 'application/json',
 	            	},
 				  body: JSON.stringify({
 				    prdCd : prd,
 				    accounts : parseInt(cnt),
 				    vLineCode : line,
 				    pdCd : pd
 				  }),
 				})
 				.then(response => response.text())
 	            .then(data => {
 	                alert(data); // 결과 출력 알림
 	                
 	                
 	                // 자재 충족 시 생산시작
 	                if(data == '생산을 시작합니다.'){
 	                	
 	                	
 	                   pstart();
					
 	                // 자재 부족 시 아무것도 x
 	                } else{
 	                	
 	                }
 	            })
 	            .catch(error => {
 	                console.error('Error:', error);
 	            });
 	
 		}
 	});
 	
 	
 	function pstart(){
 		let ldmng = []; 
 		Array.from(cby.children).forEach((pl) => {
 			let sv = parseInt(pl.children[9].children[0].value);
 	 		
 	 		ldmng.push(sv);
 		});
		
 		console.log(ldmng[1]);

 		
 		fetch('/pstart', {
			  method: "POST",
			  headers: {
               'Content-Type': 'application/json',
           	},
			  body: JSON.stringify({
			    pdCode : pd,
			    ipt : parseInt(cnt), 
			    ldmng : ldmng
			  }),
			})
			.then(response => response.json())
           .then(data => {
        	   
               fetch('/searchR?pdetailCode=' + pd)
           		.then(resp =>{
           			if (!resp.ok){
           				throw new Error('네트워크 반응 에러');
           			}
           			return resp.json();
           		})
           		.then(a=>{
           			if (a.length>0){
           				
           				updatePD();
           			
           				displayR(a);
           				
           			
           			} else {

           			}
           		})
           		.catch(error => {
           			console.error('에러 :', error);
           		});
       		});
 	}
 


	function updatePD(){
		
		fetch('/updatePD')
		.then(resp =>{
			if (!resp.ok){
				throw new Error('네트워크 반응 에러');
			}
			return resp.json();
		})
		.then(res =>{
			

        	plan.innerHTML = '';
        
        
        	res.forEach(n=> {
        	const ctr = document.createElement("tr");
        	ctr.dataset.code = n.prdCode;
        	if(n.status == 'b1'){
        	
        	ctr.innerHTML =
        		`
        		<td>${n.porderCode}</td>
            	<td>${n.pdetailCode}</td>
                <td>${n.prdName}</td>
                <td>${n.lineCode}</td>
                <td>${n.want}</td>
                <td>${n.command}</td>
                <td>${n.output}</td>
                <td>대기</td>
		        <td>${n.comm}</td>
                `
        	plan.appendChild(ctr);
         	}
        	
        	else if(n.status == 'b2'){
            	ctr.innerHTML =
            		`
            		<td>${n.porderCode}</td>
                	<td>${n.pdetailCode}</td>
                    <td>${n.prdName}</td>
                    <td>${n.lineCode}</td>
                    <td>${n.want}</td>
                    <td>${n.command}</td>
                    <td>${n.output}</td>
                    <td>진행</td>
    		        <td>${n.comm}</td>
                    `
            	plan.appendChild(ctr);
        	}
        	else{
            	ctr.innerHTML =
            		`
            		<td>${n.porderCode}</td>
                	<td>${n.pdetailCode}</td>
                    <td>${n.prdName}</td>
                    <td>${n.lineCode}</td>
                    <td>${n.want}</td>
                    <td>${n.command}</td>
                    <td>${n.output}</td>
                    <td>완료</td>
    		        <td>${n.comm}</td>
                    `
            	plan.appendChild(ctr);
        	}
        	

        	});
        	Array.from(plan.children).forEach((pl) => {
                pl.addEventListener('click', (event) => {
                	
                	
                	
                    prd = event.currentTarget.dataset.code;
                    cnt = event.currentTarget.children[4].innerText;
                    pd = event.currentTarget.children[1].innerText;
                    line = event.currentTarget.children[2].innerText;
                    dstatus = event.currentTarget.children[6].innerText;
                    
            		if(dstatus == '완료'){
            			sBtn.disabled = true;
            			
            		} else{
            			sBtn.disabled = false;
            		}
                    
                    
                    console.log(cnt);
                    console.log(prd);
                    
        			// 필요 자재 보여주는 기능
                    fetch('/pNeed?prdCode=' + prd)
                        .then(function(resp) {
                            if (!resp.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return resp.json();
                        })
                        .then(function(resp) {
                            // 상세 테이블 내용 초기화
                            dbody.innerHTML = '';

                            // 받아온 데이터로 테이블 행 추가
                            resp.forEach(item => {
                                const row = document.createElement('tr');
                                row.dataset.mc = item.mtCode;
                                row.innerHTML = `
                                    <td>${item.mtName}</td>
                                    <td>${item.quantityRequired * cnt}</td>
                                `;
                                dbody.appendChild(row);
                            });
                        })
                        .catch(function(error) {
                            console.error('Fetch error:', error);
                        });
                    
        			
                    // 기존 생산 실적 조회
                    fetch('/searchR?pdetailCode=' + pd)
                    	.then(resp =>{
                    		if (!resp.ok){
                    			throw new Error('네트워크 반응 에러');
                    		}
                    		return resp.json();
                    	})
                    	.then(data=>{
                    		if (data.length>0){
                    			
                    			displayR(data);
                    			
                    		} else {
                    			cbody.innerHTML = '';
                    			insertR(pd);
                    		}
                    	})
                    	.catch(error => {
                    		console.error('에러 :', error);
                    	});
                	});
                    
                   	
                    	
                    	
                    	
                    
            });

        	
	})
	} 	
    	


    
    </script>
</body>
</html>