<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
	
	<head>
     	<title>생산 지시 생성</title>
        <style>
            #grid:hover {
                cursor: pointer;
            }
        </style>
    </head>

<th:block th:replace="~{common/configs/default_pageing :: pageing}"></th:block>
<div class="main-container">
	<div class="pd-ltr-20">
		
		<h2 class="h2 mb-20">생산지시</h2>
		<div class="d-flex justify-content-between">
			<div class="pd-20 card-box mb-20" style="width: 48%;">	
			<div class="d-flex justify-content-between align-items-center align-middle mb-20">
				<h2 class="h5 mb-20">생산지시 정보</h2>
				<div>
				<button class="btn btn-primary" type="button" onclick="sendCheckedRows()">제출</button>
				</div>
			</div>
				<form name="form"
					method="post">
					<div class="form-group">
							<label for="company">생산계획</label> 
							<input class="form-control" type="text" id="planCode" name="planCode" placeholder="생산계획을 선택해주세요.">
							
							
							
						<th:block sec:authorize="isAuthenticated()">
							<label>담당자</label>
							<input class="form-control" type="text"
						th:value="${#authentication.principal.authorities[2]}" readonly>
							<input type="hidden" 
							th:value="${#authentication.principal.authorities[1]}"
							name="manager">
						</th:block>
					</div>
						
					<div class="form-group">
						<label>요청사항</label>
						<textarea class="form-control" name="comm"></textarea>
					</div>
					

				</form>
			</div>
			
			<div class="pd-20 card-box mb-20" style="width: 48%;"> 
				<h2 class="h5 mb-20">생산계획 정보</h2>
				<div id="plangrid"></div>
			</div>
			
		</div>
		
		<div class="d-flex justify-content-between">
			<div class="pd-20 card-box mb-20" style="width: 48%;"> 
				<h2 class="h5 mb-20">제품 선택</h2>
				<div id="grid"></div>
			</div>
			
			
			<div class="pd-20 card-box mb-20" style="width: 48%;"> 
				<h2 class="h5 mb-20">필요 자재</h2>
				<div id="mtgrid">
				</div>
			</div>
		</div>
		
				<!-- The Modal -->
				<div class="modal" id="myModal">
					<div class="modal-dialog modal-xl">
						<div class="modal-content">
							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title">계획선택</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<!-- Modal body -->
							<div class="modal-body">
								    <h5 class="h5">계획목록</h5>
									<div id="cpList"></div>
							</div>
							<!-- Modal footer -->
							<div class="modal-footer justify-content-center">
								<button type="button" class="btn btn-primary" data-dismiss="modal" id="modalSubmitBtn">등록</button>
								<button type="button" class="btn btn-danger" data-dismiss="modal" id="modalCancelBtn">취소</button>
							</div>
						</div>
					</div>
				</div>


	</div>
</div>


<script th:inline="javascript">
	
	let grid; 
			
	let mtgrid;
			
	let mtgridData;
			
	let plangrid;
			
	let planData;
			
			
	document.addEventListener('DOMContentLoaded', function() {
		
		const modalGridData = /*[[${list}]]*/[];
		// 계획 select 
		const pc = $('#planCode');
				
		// 라인 선택 데이터
		const gridData = /*[[${linePrd}]]*/[];
				
		// 라인 선택 그리드
		grid = new tui.Grid({
			el : document.getElementById('grid'),
				data : gridData,
				scrollX : false,
				scrollY : false,
				columns : [ {
						header : '라인',
						name : 'lineCode',
						align : 'center',
					}, {
						header : '제품명',
						name : 'prdName',
						align : 'center',
					}, {
						header : '제품코드',
						name : 'prdCode',
						align : 'center',
					},  {
						header : '목표량',
						name : 'want',
						align : 'center',
						editor:  'text'
					}, {
						header : '지시량',
						name : 'command',
						align : 'center',
						editor : 'text'
					}, {
						header : '사용 가능 여부',
						name : 'use',
						align : 'center',
						formatter: (object, columnInfo) => {
							
	                		//return list[object.value];
	                    	switch (object.value) {
	                        	case 'Y': return '사용 가능';
	                        	case 'N': return '사용 불가';
	                        	case 'U': return '사용 중';                        	
	                        	default: return '알 수 없음';
	                    	}
	                	}
						
					}],
					rowHeaders : [ 'checkbox' ],
					pageOptions : {
						useClient : true,
						perPage : 10
					}
				});
				
				
				x();
			    
				
				    

				
				
				// 필요 자재 그리드
				mtgrid = new tui.Grid({
					el : document.getElementById('mtgrid'),
					data : mtgridData,
					scrollX : false,
					scrollY : false,
					columns : [ {
						header : '자재명',
						name : 'mtName',
						align : 'center',
					}, {
						header : '자재코드',
						name : 'mtCode',
						align : 'center',
					}, {
						header : '필요수량',
						name : 'quantityRequired',
						align : 'center',
					},  {
						header : '재고량',
						name : 'currentStc',
						align : 'center'
					}],
					rowHeaders : [ 'rowNum' ],
					pageOptions : {
						useClient : true,
						perPage : 10
					}
				});
				
				
				
				// 제품 라인 선택 시 자재 그리드 ajax
				grid.on('uncheck', (ev)=>{
					mtload();
				})
				
				grid.on('check', (ev) => {
					 mtload();
				});
				
				
				
				plangrid = new tui.Grid({
					el : document.getElementById('plangrid'),
					data : planData,
					scrollX : false,
					scrollY : false,
					columns : [ {
						header : '제품명',
						name : 'prdName',
						align : 'center',
					}, {
						header : '제품코드',
						name : 'prdCode',
						align : 'center',
					}, {
						header : '남은 계획량',
						name : 'quantity',
						align : 'center',
					}
					],
					rowHeaders : [ 'rowNum' ],
					pageOptions : {
						useClient : true,
						perPage : 10
					}
				});
				
				grid.on('click', (ev) =>{
					const rowIndex = ev.rowKey;
					
					const rowData = grid.getData()[rowIndex];
					
					if(rowData.use === 'N'){
						alert('해당 라인은 사용 불가능 합니다.');
					}
				});
				
				grid.on('afterChange', (ev) => {
			        const changedRows = ev.changes;
			        
			        
			        mtload();
			    	
				});
				
				
				modalGrid = new tui.Grid({
					el : document.getElementById('cpList'),
					data : modalGridData,
					scrollX : false,
					scrollY : false,
					columns : [ {
						header : '생산계획코드',
						name : 'planCode',
						align : 'center',
					}, {
						header : '시작일자',
						name : 'startDate',
						align : 'center',
					}, {
						header : '종료일자',
						name : 'endDate',
						align : 'center',
					}, {
						header : '담당자',
						name : 'userName',
						align : 'center',
					}, {
						header : '비고',
						name : 'comm',
						align : 'center',
					}, 
					
					
					],
					rowHeaders : [ 'rowNum' ],
					selectionUnit: 'row',
					pageOptions : {
						useClient : true,
						perPage : 10
					}
				});
				
				
				modalGrid.on('click', (ev) => {
				    const { value } = ev; // 입력된 출고량
				    const rowKey = ev.rowKey; // 현재 수정 중인 행의 키
				    
				    const planCode = modalGrid.getValue(rowKey, 'planCode');
				    
				    
			        document.getElementById('planCode').value = planCode;
			        
					
			        $.ajax({
					    url: 'planPrd',
					    type: 'GET',
					    data: {
					        planCode : planCode 
					    },
					    success: function(response) {
					        plangrid.resetData(response);
					    },
					    error: function(jqXHR, textStatus, errorThrown) {
					        console.error('Error:', textStatus, errorThrown);
					    }
					});
					
					$.ajax({
						url: 'planL',
					    type: 'GET',
					    data: {
					        planCode : planCode 
					    },
					    success: function(response) {
					    	if(response.length > 0 ){
					        grid.resetData(response);
					        
					        x();
						}else{
							grid.resetData(gridData);
							
							x();
						}
					    },
					    error: function(jqXHR, textStatus, errorThrown) {
					        console.error('Error:', textStatus, errorThrown);
					    }
					});
					
				});
				
				
				function mtload(){
					const checkedRows = grid.getCheckedRows();
				  	if(checkedRows.length == 0){
			        	mtgrid.resetData([]);
			        	return;
			        }
					fetch('/orderMt', {
		            	method: 'POST',
		            	headers: {
		                	'Content-Type': 'application/json' // JSON 형식으로 데이터 전송
		            	},
		            	body: JSON.stringify(checkedRows) // 데이터를 JSON으로 변환하여 전송
		        	})
		        	.then(response => {
		            	if (!response.ok) {
		                	throw new Error('네트워크 응답이 좋지 않습니다.');
		            	}
		            	return response.json(); // JSON 응답으로 변환
		        	})
		        	.then(data => {
		            
		            	mtgrid.resetData(data);

		        	})
		        	.catch(error => {
		            	console.error('문제가 발생했습니다:', error);
		        	});
				}
						
	
			
			
		// 체크된 행의 데이터를 가져오는 함수
		/* function logCheckedRows() {
		    const checkedRows = grid.getCheckedRows();
		    console.log(checkedRows); // 체크된 행의 데이터 배열 출력
		} */
		
				
		
		});		// DOMContentLoaded
			
			function x(){
				grid.getData().forEach((data, index) => {
			         if (data.use === 'N') {
			             grid.disableRow(index);
			         }
			         if (data.use === 'U') {
			             grid.disableRow(index);
			         }
			    });
			}
			
			document.getElementById('planCode').addEventListener('click', function() {
				$('#myModal').modal('show'); // 모달 열기
				modalGrid.refreshLayout();
			});
		
		
			function sendCheckedRows() {
	   			const checkedRows = grid.getCheckedRows();
	    		const mtRows = mtgrid.getData();

	    		if (checkedRows.length === 0) {
	        		alert('라인을 선택해주세요.');
	       		return;
	    		}
	    

	    
	 			// 수량 체크
	    		for (let i = 0; i < checkedRows.length; i++) {
	        		const row = checkedRows[i];

	        		if (!row.want || row.want <= 0) {
	            		alert('체크된 제품의 목표량을 입력해주세요.');
	            		return;
	        		}
	        		if (!row.command || row.command <= 0) {
	            		alert('체크된 제품의 지시량을 입력해주세요.');
	            		return;
	        		}
	    		}
	 	
	 			// 자재 수량 체크
	    		for (let mtRow of mtRows) {
	        		const requiredQuantity = mtRow.quantityRequired; // 필요한 수량
	        		const currentStock = mtRow.currentStc; // 재고량

	        		if (requiredQuantity > currentStock) {
	            		alert(`${mtRow.mtName}의 필요 수량(${requiredQuantity})이 재고량(${currentStock})보다 큽니다.`);
	            		return;
	        		}
	    		}

	    		// 폼 데이터를 직접 수집
	    		const formArr = $("form[name=form]").serializeArray();
	    
	    		const formObj = {};
	    		$.each(formArr, function(idx, tag) {
	    			formObj[tag.name] = tag.value;
	    		});

	    		// 폼 데이터와 체크된 그리드 데이터를 병합
	    		const payload = {
	        		porderVO: formObj,    // 폼 데이터 (주문 정보)
	        		linePrdVO: checkedRows  // 체크된 그리드 데이터 (상품 목록)
	    		};
	    

	    		// 병합된 데이터를 서버로 전송 (AJAX 요청)
	    		$.ajax({
	        		url: '/pOrder', // 서버에서 처리할 URL 경로
	        		type: 'POST',
	        		contentType: 'application/json', // JSON 형식으로 데이터 전송
	        		data: JSON.stringify(payload), // 폼 데이터와 체크된 데이터를 JSON으로 변환하여 전송
	        		success: function(response) {
	            		alert('생산지시가 생성되었습니다!');
	            		window.location.href = "pOrderList";
	            		console.log(response); // 서버에서 받은 응답 처리
	        		}
	    		});
			}
		
	

		</script>

	<script>

	</script>