<div xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
	<head>
     	<title>생산 공정 실적 조회</title>

    </head>
	<!-- 페이징필요한사람 -->
	<th:block th:replace="~{common/configs/default_pageing :: pageing}"></th:block>

	
		<div class="mb-20">
		<h3>생산 공정 실적 조회</h3>
		
		</div>
		<div class="pd-30 card-box mb-20">
		

           <form>
           <div class="form-group row" style="display: flex; align-items: center;">
           
			<label class="col-sm-12 col-md-1 col-form-label">공정 분류</label>
			<div class="col-sm-12 col-md-8" style="display: flex; align-items: center;">
			<div style="margin-right: 30px; display: flex; align-items: center;">
        		<input name="option" type="radio" value="" id="all" checked style="margin-right: 8px;">
            	<label for="all" style="margin-bottom: 0px;">전체</label>
        	</div>
            <div style="margin-right: 30px; display: flex; align-items: center;">
        		<input name="option" type="radio" value="배합" id="a" style="margin-right: 8px;">
            	<label for="a" style="margin-bottom: 0px;">배합</label>
        	</div>
        	<div style="margin-right: 30px; display: flex; align-items: center;">
            	<input name="option" type="radio" value="성형" id="no" style="margin-right: 8px;">
            	<label for="no" style="margin-bottom: 0px;">성형</label>
            </div>
            <div style="margin-right: 30px; display: flex; align-items: center;">
            	<input name="option" type="radio" value="포장" id="ing" style="margin-right: 8px;">
            	<label for="ing" style="margin-bottom: 0px;">포장</label>
            </div>
            <div style="margin-right: 30px; display: flex; align-items: center;">
            	<input name="option" type="radio" value="냉각" id="com" style="margin-right: 8px;">
            	<label for="com" style="margin-bottom: 0px;">냉각</label>
            </div>
            </div>
           </div>
            <div class="form-group row">
						<label class="col-sm-12 col-md-1 col-form-label">코드 검색</label>
						<div class="col-sm-12 col-md-3">
							<input class="form-control" id="pdetailCode" type="text" placeholder="생산지시 상세코드" oninput="performSearch()">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-1 col-form-label">지시일자</label>
						<div class="col-sm-12 col-md-3">
							<input class="form-control" id="processDate" type="date" oninput="performSearch()">
						</div>
					</div>

					
            </form> 
            </div>
			<div class="pd-20 card-box mb-20"> 
        		<h2 class="h5 mb-20">생산공정실적</h2>
        		<div id="grid"></div>
        	</div>
        
        



    <script th:inline="javascript">
    
    const gridData = /*[[${list}]]*/[];
    
    let grid;
    
    document.addEventListener('DOMContentLoaded', function() {
    	
    	grid = new tui.Grid({
            el: document.getElementById('grid'),
            data: gridData, // 초기 데이터
            columns: [{ 
            		header: '생산지시 상세코드', 
                	name: 'pdetailCode',
                	align: 'center'
                }, { 
                	header: '공정명',
               	 	name: 'processName',
             		align: 'center' 
             	}, { 
             		header: '공정 일자', 
             		name: 'processDate',
                	align: 'center' 
                },{ 
                	header: '설비코드', 
                	name: 'eqCode',
                    align: 'center' 
                }, {
                	header: '투입량', 
                	name: 'input',
                    align: 'center' 
                },{ 
                	header: '생산량', 
                	name: 'output',
                    align: 'center' 
                },{ 
                	header: '담당자', 
                	name: 'userName',         	
                	align: 'center' 
                }
            ],
            rowHeaders: ['rowNum'],
            pageOptions: { useClient: true, perPage: 10 },
            height: '300px'
        });

    });
    const radioButtons = document.querySelectorAll('input[name="option"]');
    radioButtons.forEach(radio => {
        radio.addEventListener('change', function() {
            performSearch(); // 여기에서 원하는 함수를 호출
        });
    });
    
    
    function performSearch() {
	    const pdetailCode = document.getElementById('pdetailCode').value;
	    const processDate = document.getElementById('processDate').value;
	    

	    const selectedOption = document.querySelector('input[name="option"]:checked');
	    const processName = selectedOption ? selectedOption.value : null; // 선택된 값이 없을 경우 null 처리

	    
	    const searchCriteria = {
	        pdetailCode: pdetailCode,
	        processDate: processDate,
	        processName : processName
	    };

	    $.ajax({
	        url: '/searchDetail',
	        type: 'POST',
	        contentType: 'application/json',
	        data: JSON.stringify(searchCriteria),
	        success: function(response) {
	            grid.resetData(response);
	
	        },
	        error: function(xhr, status, error) {
	            console.error('Error fetching search results:', error);
	        }
	    });
	}
    </script>
</body>