<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
layout:decorate="~{common/layouts/default_layout}"
layout:fragment="Content">
<head>
<meta charset="UTF-8">

<title>생산공정 실적</title>
</head>

<body>
    <div class="main-container">
        <h3>생산공정 실적</h3>
        <table id="bl" class="table table-secondary table-hover">
            <thead>
                <tr>
                    <th>생산지시상세 코드</th>
                    <th>공정명</th>
                    <th>공정 일자</th>
                    <th>설비코드</th>
                    <th>투입량</th>
                    <th>생산량</th>
                    <th>담당자</th>
                </tr>
            </thead>    
            <tbody id="plan">
                <th:block th:each="list: ${list}">
                    <tr>
                        <td th:text="${list.pdetailCode}"></td>
                        <td th:text="${list.processName}"></td>
                        <td th:text="${list.processDate}"></td>
                        <td>[[ ${list.eqCode} ]]</td>
                        <td>[[ ${list.input} ]]</td>
                        <td th:text="${list.output}"></td>
                        <td th:text="${list.userName}"></td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>
    
    <script>
    </script>
</body>

</html>