<div xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
	
	<!-- TOAST UI 페이징 필요하신분 -->
	<!-- <th:block th:replace="~{common/configs/default_pageing :: pageing}"></th:block> -->

	<!-- 제목 -->
	<h2 class="h2 mb-20">제목</h2>
		<div class="pd-30 card-box mb-20">
			<!-- 부제목 -->
			<h4 class="h5 mb-20">부제목</h4>
			
			<!-- 여러분들의 코드는 -->
			
			<!-- 여기에다가 넣으시면 됩니다. -->
		</div>
</div>

<!-- Toast UI 쓰시는 분 -->
<script th:inline="javascript">

</script>