<!DOCTYPE html>
<!-- default_pageing.html -->
<html xmlns:th="http://www.thymeleaf.org">
<!-- pageing -->
<th:block th:fragment="pageing">
	<link rel="stylesheet"
		href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
	<link rel="stylesheet" type="text/css"
		href="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.css" />
	<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
	<script type="text/javascript"
		src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
</th:block>
</html>
