<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">

<title>비가동 설비 목록</title>
</head>

<body>
	<div class="main-container">
		<div class="pd-ltr-20">
			<div class="card-box pd-20 mb-30">
				<div class="d-flex justify-content-between align-items-center mb-20">
				<p style="font-size:300%">설비 비가동 목록</p>
					<button type="button" class="btn btn-success">Excel</button>
				</div>

				<!-- 버튼을 우측 상단으로 이동 -->
				<div style="text-align: right; margin-bottom: 10px;">
					<!-- Button to Open the Modal -->

				</div>
				<!-- 
				<table class="data-table table nowrap">
				 -->
				<table class="table nowrap">
					<thead>
						<tr>
							<th class="table-plus datatable-nosort">No.</th>
							<th>설비코드</th>
							<th>설비구분</th>
							<th>설비명</th>
							<th>점검주기</th>
							<th>사용여부</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="wait, sts : ${equips}">
							<tr>
								<td>[[${sts.count}]]</td>
								<td>[[${wait.eqCode}]]</td>
								<td>[[${wait.eqType}]]</td>
								<td>[[${wait.eqName}]]</td>
								<td>[[${wait.eqPeriod}]]</td>
								<td>[[${wait.use}]]</td>
							</tr>
						</th:block>
					</tbody>
				</table>
				
				<table class="table nowrap">
					<thead>
						<tr>
							<th class="table-plus datatable-nosort">No.</th>
							<th>설비가동코드</th>
							<th>설비코드</th>
							<th>설비명</th>
							<th>사유</th>
							<th>시작날짜</th>
							<th>종료날짜</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="wait, sts : ${equipChck}">
							<tr>
								<td>[[${sts.count}]]</td>
								<td>[[${wait.eqChckOpcd}]]</td>
								<td>[[${wait.eqCode}]]</td>
								<td>[[${wait.eqName}]]</td>
								<td>[[${wait.reason}]]</td>
								<td>[[ ${ #dates.format(wait.startDate, "yyyy년 MM월 dd일" )} ]]</td>
								<td>[[ ${ #dates.format(wait.endDate, "yyyy년 MM월 dd일" )} ]]</td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>