<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.net/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>설비 상세</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
<style>
.table th {
	padding: 5rem;
}
.table td {
    padding: 1rem;
}

.main-container {
            margin-top: 0; /* 최상단에 위치하도록 */
            padding: 0; /* 기본 여백 제거 */
        }

        .col-10 {
            position: relative;
            top: 0;
            right: 30px;
            margin-top: 50px; /* 여백 조정 */
        }
        
        .card {
            margin: 0; /* 카드 여백 제거 */
        }
        
        
</style>

</head>

<body>
<div class="main-container">
    <div class="row">
        <div class="col-10 offset-2" >
            <div class="card shadow-sm mb-4 mt-3">
                <div class="card-header py-3">
                    	<h2 class="h2 mb-20">설비 상세</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <!-- 왼쪽 이미지 영역 -->
                        <div class="col-md-4 mb-3">
                            <img style="width: 100%;" class="img-fluid" 
                                 th:src="@{/assets/vendors/images/{file}(file=${equip.eqImg})}">
                        </div>
                        
                        <!-- 오른쪽 상세정보 영역 -->
                        <div class="col-md-8">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th class="bg-light text-right align-middle py-3" style="width: 30%">설비코드</th>
                                            <td class="py-3">[[${equip.eqCode}]]</td>
                                        </tr>
                                        <tr>
                                            <th class="bg-light text-right align-middle py-3">모델명</th>
                                            <td class="py-3">[[${equip.eqMdnm}]]</td>
                                        </tr>
                                        <tr>
                                            <th class="bg-light text-right align-middle py-3">모델번호</th>
                                            <td class="py-3">[[${equip.eqMdno}]]</td>
                                        </tr>
                                        <tr>
                                            <th class="bg-light text-right align-middle py-3">점검날짜</th>
                                            <td class="py-3">[[${#dates.format(equip.eqCkDate, "yyyy년 MM월 dd일")}]]</td>
                                        </tr>
                                        <tr>
                                            <th class="bg-light text-right align-middle py-3">점검주기</th>
                                            <td class="py-3">[[${equip.eqPeriod}]] 개월</td>
                                        </tr>
                                        <tr>
                                            <th class="bg-light text-right align-middle py-3">담당자</th>
                                            <td class="py-3">[[${equip.manager}]]</td>
                                        </tr>
                                        <tr>
                                            <th class="bg-light text-right align-middle py-3">라인코드</th>
                                            <td class="py-3">[[${equip.lineCode}]]</td>
                                        </tr>
										<tr>
										    <th class="bg-light text-right align-middle py-3">가동여부</th>
										    <td class="py-3">
										        <span th:class="${equip.use == 'Y' ? 'text-primary' : 'text-danger'}">
										            [[${equip.use == 'Y' ? '사용 가능' : '사용 불가'}]]
										        </span>
										    </td>
										</tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-end mt-3">
                        <button class="btn btn-primary mr-2" id="modifyBtn">수정</button>
                        <button class="btn btn-danger mr-2" id="deleteBtn" type="button">삭제</button>
                        <button class="btn btn-dark" type="button" th:onclick="|location.href='@{/eqList}'|">목록으로</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- 수정 모달 -->
    <div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">설비 상세 수정</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="eqModifyForm">
                        <div class="form-group">
                            <label for="eqCode">설비코드</label>
                            <input type="text" id="eqCode" name="eqCode" readonly class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="eqMdnm">모델명</label>
                            <input type="text" id="eqMdnm" name="eqMdnm" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="eqMdno">모델번호</label>
                            <input type="text" id="eqMdno" name="eqMdno" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="manager">담당자</label>
                            <input type="text" id="manager" name="manager" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label for="lineCode">라인코드</label>
                            <select id="lineCode" name="lineCode" class="form-control">
                                <option value="대기">대기</option>
                                <option value="L01">L01</option>
                                <option value="L02">L02</option>
                                <option value="L03">L03</option>
                                <option value="L04">L04</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="d-block">가동여부</label>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="useY" name="use" value="Y" class="custom-control-input">
                                <label class="custom-control-label" for="useY">사용 가능</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="useN" name="use" value="N" class="custom-control-input">
                                <label class="custom-control-label" for="useN">사용 불가</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="saveChanges">수정</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 삭제 확인 모달 -->
    <div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">삭제 확인</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="mb-0">정말 삭제 하시겠습니까?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="confirmDelete">삭제</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
	
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
	    <script>
	    $(document).ready(function () {
	        // 수정 버튼 클릭 시 모달 열기
	        $('#modifyBtn').on('click', function () {
	            const eqCode = '[[${equip.eqCode}]]';
	            const eqMdnm = '[[${equip.eqMdnm}]]';
	            const eqMdno = '[[${equip.eqMdno}]]';
	            const use = '[[${equip.use}]]';
	            const manager = '[[${equip.manager}]]';
	            const lineCode = '[[${equip.lineCode}]]';
	
	            // 모달 폼에 데이터 채우기
	            $('#eqCode').val(eqCode);
	            $('#eqMdnm').val(eqMdnm);
	            $('#eqMdno').val(eqMdno);
	            $('input[name="use"][value="' + use + '"]').prop('checked', true);
	            $('#manager').val(manager);
	            $('#lineCode').val(lineCode);
	
	            // 모달 열기
	            $('#modifyModal').modal('show');
	        });
	
	        // 모달 창에서 수정 처리
	        $('#saveChanges').on('click', function () {
	            const eqData = {
	                eqCode: $('#eqCode').val(),
	                eqMdnm: $('#eqMdnm').val(),
	                eqMdno: $('#eqMdno').val(),
	                use: $('input[name="use"]:checked').val(),
	                manager: $('#manager').val(),
	                lineCode: $('#lineCode').val()
	            };
	
	            // 서버로 데이터 전송 (AJAX 요청)
	            $.ajax({
	                type: 'POST',
	                url: '/eqUpdate2', // 서버에서 해당 설비 코드만 수정하도록 보장
	                contentType: 'application/json',
	                data: JSON.stringify(eqData),
	                success: function (response) {
	                	 Swal.fire({
	                            icon: response.result ? 'success' : 'error',
	                            text: response.result ? '수정이 완료되었습니다.' : '수정에 실패하였습니다.'
	                        }).then(() => {
	                            if (response.result) {
	                                location.href = '/eqInfo?eqCode=' + eqData.eqCode;
	                            }
	                        });
	                    },
	                    error: function () {
	                        Swal.fire({
	                            icon: 'error',
	                            text: '적합한 값을 입력해 주세요.'
	                        });
	                }
	            });
	
	            // 모달 닫기
	            $('#modifyModal').modal('hide');
	        });
	
	     // 삭제 버튼 클릭 시 삭제 확인 모달 열기
	        $('#deleteBtn').on('click', function () {
	            const useStatus = '[[${equip.use}]]'; // 현재 사용여부 가져오기

	            if (useStatus === 'Y') {
	            	Swal.fire({
	                    icon: 'error',
	                    text: '가동 중인 설비는 삭제할 수 없습니다.',
	                });
	            } else {
	                $('#deleteConfirmModal').modal('show'); // 사용 불가일 때만 모달 표시
	            }
	        });

	        // 삭제 확인 모달에서 삭제 버튼 클릭 시 AJAX 요청으로 삭제 처리
	        $('#confirmDelete').on('click', function () {
	            const eqCode = '[[${equip.eqCode}]]';

	            // 서버로 데이터 전송 (AJAX 요청)
	            $.ajax({
	                type: 'POST',
	                url: '/eqDelete', // 서버에서 해당 설비 코드만 삭제하도록 보장
	                data: { eqCode: eqCode },
	                success: function (response) {
	                    if (response == "1") {
	                    	Swal.fire({
	                            icon: 'success',
	                            text: '삭제가 완료되었습니다.',
	                        }).then((result) => {
	                        	if (result.isConfirmed){
	                        location.href = '/eqList'; // 삭제 후 목록 페이지로 이동
	                        	}
	                        });
	                        	
	                    } else {
	                    	Swal.fire({
	                            icon: 'error',
	                            text: '삭제에 실패했습니다.',
	                        });
	                    }
	                },
	                error: function () {
	                    alert('서버 오류가 발생했습니다.');
	                }
	            });

	        });

	    });
	    </script>
	</body>
	</html>
