<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">

<title>설비 목록</title>
</head>

<body>
	<div class="main-container">
		<div class="pd-ltr-20">
			<div class="card-box mb-30">
				<h2 class="h4 pd-20">설비 목록</h2>
				<!-- 버튼을 우측 상단으로 이동 -->
				<div style="text-align: right; margin-bottom: 10px;">
					<!-- Button to Open the Modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
					  수정
					</button>
				</div>
				<table class="data-table table nowrap">
					<thead>
						<tr>
							<th class="table-plus datatable-nosort">No.</th>
							<th>설비코드</th>
							<th>설비구분</th>
							<th>설비명</th>
							<th>최저온도</th>
							<th>최고온도</th>
							<th>사용여부</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="wait, sts : ${equips}">
							<tr>
								<td>[[${sts.count}]]</td>
								<td>[[${wait.eqCode}]]</td>
								<td>[[${wait.eqType}]]</td>
								<td>[[${wait.eqName}]]</td>
								<td>[[${wait.eqMin}]]</td>
								<td>[[${wait.eqMax}]]</td>
								<td>[[${wait.use}]]</td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
			<!-- The Modal -->
			<div class="modal" id="myModal">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <!-- Modal Header -->
			      <div class="modal-header">
			        <h4 class="modal-title">설비 목록 수정</h4>
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			      </div>
			      <!-- Modal body -->
			      <div class="modal-body">
			        
			      </div>
			      <!-- Modal footer -->
			      <div class="modal-footer">
			        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</body>

</html>
