<div xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">

	<!-- 페이징 필요하신분 -->
	<th:block th:replace="~{common/configs/default_pageing :: pageing}"></th:block>
<!-- 	<div class="main-container">
		<div class="pd-ltr-20"> -->
			<h2 class="h2 mb-20">완제품 품질검사</h2>
			
<!-- 			<div class="pd-30 card-box mb-20">
				<form>
					<div class="form-group row">
						<label class="col-sm-12 col-md-1 col-form-label">업체명</label>
						<div class="col-sm-12 col-md-3">
							<input class="form-control" type="text" placeholder="업체명">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-1 col-form-label">주문일자</label>
						<div class="col-sm-12 col-md-3">
							<input class="form-control" type="date">
						</div>
						<div
							class="col-sm-12 col-md-auto d-flex align-items-center justify-content-center">
							<span style="font-size: 1rem;">~</span>
						</div>
						<div class="col-sm-12 col-md-3">
							<input class="form-control" type="date">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-1 col-form-label">납기일자</label>
						<div class="col-sm-12 col-md-3">
							<input class="form-control" type="date">
						</div>
						<div
							class="col-sm-12 col-md-auto d-flex align-items-center justify-content-center">
							<span style="font-size: 1rem;">~</span>
						</div>
						<div class="col-sm-12 col-md-3">
							<input class="form-control" type="date">
						</div>
						<div class="col-sm-12 col-md-3">
							<button class="btn btn-dark">조회</button>
							<button class="btn btn-dark">초기화</button>
						</div>
					</div>
				</form>
			</div>-->	
			<div class="pd-30 card-box mb-20">	
				<h2 class="h5 mb-20">발주목록</h2>	
				<div id="gridOrder"></div>
				<h2 class="h5 mb-20">발주상세목록</h2>
				<div id="gridOrderDetail"></div>
			</div>
			
			<div class="modal" id="myModal">
				<div class="modal-dialog modal-xl">
					<div class="modal-content">
						<div class="pd-ltr-20">
							<h2 class="h2 mb-20">검사등록</h2>

							<div class="pd-30 card-box mb-20">
								<button class="btn btn-primary mb-3 mr-3" id="registerBtn">
									검사 등록
								</button>
								<button type="button" class="btn btn-danger" data-dismiss="modal" id="cancelBtn">
									취소
								</button>
								<h4 class="h5 mb-20">검사대상 목록</h4>
								<div id="modalInspection"></div>
							</div>

							<div style="display: flex; width: 100%; gap: 20px;">
								<div class="pd-30 card-box mb-20" style="width: 100%;">
									<h4 class="h5 mb-20">검사상세등록</h4>
									<div id="modalInspectionDetail"><button class="btn btn-primary" id="testInsert" type="button"> 조회 </button></div>
									
								</div>
<!-- 								<div class="pd-20 card-box mb-20" style="width: 50%;">
									<h2 class="h5 mb-20">불량상세목록</h2>
									<div id="gridBomDetail"></div>
								</div> --> 
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>

	<script th:inline="javascript">
		document.addEventListener('DOMContentLoaded', function() {
			const gridData = /*[[${pOrderList}]]*/[];
			const gridDetailData = /*[[${pDetail}]]*/[];
			const gridInspectionData = /*[[${pDInsList}]]*/[];
			const gridInsDetailData = /*[[${pDInsDtlList}]]*/[];

			const grid = new tui.Grid({
				el : document.getElementById('gridOrder'),
				data : gridData,
				scrollX : false,
				scrollY : false,
				columns : [ {
					header : '생산지시코드',
					name : 'porderCode',
					align : 'center',
					resizable: true,
					sortable: true,
				}, {
					header : '생산계획 코드',
					name : 'planCode',
					align : 'center',
					resizable: true,
					sortable: true,
				}, {
					header : '총 생산량',
					name : 'output',
					align : 'center',
					resizable: true,
					sortable: true,
				}, {
					header : '우선순위',
					name : 'pdetailNo',
					align : 'center',
					resizable: true,
					sortable: true,
				}, {
					header : '담당자',
					name : 'userName',
					align : 'center',
					resizable: true,
					sortable: true,
				},  ],
				rowHeaders : [ 'rowNum' ],
				pageOptions : {
					useClient : true,
					perPage : 10
				}
			});

			grid.on('click', (ev) => {
			    const rowKey = ev.rowKey;
			    const porderCodeValue = grid.getValue(rowKey, 'porderCode');
			    
			    if(porderCodeValue) {
			    	$.ajax({
			    		url : '/finishQualityWaitDetail',
			    		type : 'POST',
			    		contentType : 'application/json',
			    		data : JSON.stringify({porderCode : porderCodeValue}),
			    		success: function(response) {
			    			console.log('Order details received:', response);
			    			document.getElementById('gridOrderDetail').style.opacity = 1;
			    			griddetail.resetData(response); 
			    		},
			    		error: function(xhr, status, error) {
			    			console.error('error during request', error);
			    		}
			    	});
			    }
			    
			});
			
			
			const griddetail = new tui.Grid({
				el : document.getElementById('gridOrderDetail'),
				data : gridDetailData,
				scrollX : false,
				scrollY : false,
				columns : [ {
					header : '생산지시상세 코드',
					name : 'pdetailCode',
					align : 'center',
					resizable: true,
					sortable: true,
				}, {
					header : '제품 코드',
					name : 'prdCode',
					align : 'center',
					resizable: true,
					sortable: true,
				}, {
					header : '제품 이름',
					name : 'prdName',
					align : 'center',
					resizable: true,
				}, {
					header : '제품별 생산량',
					name : 'output',
					align : 'center',
					resizable: true,
				}, {
					header : '라인 코드',
					name : 'lineCode',
					align : 'center',
					resizable: true,
					sortable: true,
				}, {
					header : '상세 상태',
					name : 'pdetailStatus',
					align : 'center',
					resizable: true,
					sortable: true,
				}, {
					header : '우선순위',
					name : 'pdetailNo',
					align : 'center',
					resizable: true,
					sortable: true,
				}, ],
				rowHeaders : [ 'rowNum' ],
				pageOptions : {
					useClient : true,
					perPage : 5
				}
			});
			
 			let pdetailCodeValue = "";
		    let remainData = [];
		    
			
 		    griddetail.on('click', (ev) => {
		        const rowKey = ev.rowKey;
		        const pdetailCodeValue = griddetail.getValue(rowKey, 'pdetailCode');
				console.log(pdetailCodeValue);
		        if (pdetailCodeValue) {
		            $.ajax({
		                url: '/finishQualityInspection',
		                type: 'POST',
		                contentType: 'application/json',
		                data: JSON.stringify({ pdetailCode: pdetailCodeValue }),
		                success: function(response,) {
		                	console.log('Response:', response);
		                	gridInspectionModal.resetData(response.pDInsList);
		                	gridInsDetailModal.resetData(response.pDInsDtlList);
						    document.getElementById('gridOrderDetail').style.opacity = 1;
						    $('#myModal').modal('show'); // 모달 열기
						    gridInspectionModal.refreshLayout(); 
						    gridInsDetailModal.refreshLayout(); 
		                },
		                error: function(xhr, status, error) {
		                    console.error('Error during request', error);
		                    alert('데이터를 가져오는 데 오류가 발생했습니다.');
		                }
		            });
		        }
		    });
		    
		    

			const gridInspectionModal = new tui.Grid({
				el : document.getElementById('modalInspection'),
				data : gridInspectionData,
				scrollX : false,
				scrollY : false,
				columns : [ {
					header : '생산지시상세 코드',
					name : 'pdetailCode',
					align : 'center',
					resizable: true,
					sortable: true,
				}, {
					header : '품질검사코드',
					name : 'insCode',
					align : 'center',
					resizable: true,
					sortable: true,
				}, {
					header : '품질검사일자',
					name : 'insDate',
					align : 'center',
					resizable: true,
					sortable: true,
				},  {
					header : '검사자번호',
					name : 'userId',
					align : 'center',
					resizable: true,
					sortable: true,
				}, {
					header : '검사자이름',
					name : 'userName',
					align : 'center',
					resizable: true,
					sortable: true,
				}, {
					header : '품질검사상태',
					name : 'insStatus',
					align : 'center',
					resizable: true,
					sortable: true,
				}, {
					header : '검사수',
					name : 'numberOfTests',
					align : 'center',
					resizable: true,
					sortable: true,
				}, {
					header : '합격수',
					name : 'numberOfPasses',
					align : 'center',
					resizable: true,
					sortable: true,
				}, {
					header : '불합격수',
					name : 'numberOfFailed',
					align : 'center',
					resizable: true,
					sortable: true,
				}, {
					header : '완제품수량',
					name : 'output',
					align : 'center',
					resizable: true,
					sortable: true,
				}, {
					header : '총합격수',
					name : 'numberOfTotalPass',
					align : 'center',
					resizable: true,
					sortable: true,
				}, {
					header : '총합격여부',
					name : 'totalPass',
					align : 'center',
					resizable: true,
					sortable: true,
				}, ],
				rowHeaders : [ 'rowNum' ],
				pageOptions : {
					useClient : true,
					perPage : 10
				}
			});

			
			
			
 			const gridInsDetailModal = new tui.Grid({
				el : document.getElementById('modalInspectionDetail'),
				data : gridInsDetailData,
				scrollX : false,
				scrollY : false,
				columns : [ {
					header : '품질검사코드',
					name : 'insCode',
					align : 'center',
					resizable: true,
					sortable: true,
				}, {
					header : '검사상세코드',
					name : 'insDetailCode',
					align : 'center',
					resizable: true,
					sortable: true,
				}, {
					header : '품질검사항목코드',
					name : 'insItemCode',
					align : 'center',
					resizable: true,
					sortable: true,
				},  {
					header : '품질검사항목이름',
					name : 'insItemName',
					align : 'center',
					resizable: true,
					sortable: true,
				},  {
					header : '품질검사결과값',
					name : 'insValue',
					align : 'center',
					editor : 'text',
					resizable: true,
					sortable: true,
/* 					validation: {
                        required: true,
                        dataType: 'int',
                        regExp: /^[0-9 ]*$/, //    [정규식] 영문 숫자에 대한 조합만 가능
                    }, */
				}, {
					header : '품질검사기준',
					name : 'insItemCiteria',
					align : 'center',
					resizable: true,
					sortable: true,
				}, {
					header : '품질검사결과판정',
					name : 'insResult',
					align : 'center',
					resizable: true,
					sortable: true,
					editor: {
		                  type: 'select',
		                  options: {
		                    listItems: [
		                      { text: '합격', value: '합격' },
		                      { text: '불합격', value: '불합격' },
		                    ]
		                  }
		                },
				}, ],
				rowHeaders : [ 'rowNum' ],
				pageOptions : {
					useClient : true,
					perPage : 10
				}
			});
			
			
			// gridInsDetailModal에서 데이터가 변경될 때마다 호출되는 함수
			function updateTestCount() {
			    const insDetailData = gridInsDetailModal.getData();
			    const insCode = gridInsDetailModal.getValue(0, 'insCode'); // 현재 검사 코드 가져오기
			   
			    console.log('Current insCode:', insCode);
			   
			    
			    // insDetailCode에 대해 insValue가 null이 아닌 수 세기
			    const countTest = insDetailData.filter(item => 
			        									item.insCode === insCode 
			        								 && item.insValue !== null 
			        								 && item.insValue !== ''
			    									).length;
			    // insDetailCode에 대해 insResult가 null이 아니며 불합격이 아닌 수 세기
			    const countPass = insDetailData.filter(item => 
			        									item.insCode === insCode 
			        								 && item.insResult !== null 
			        								 && item.insResult !== ''
			        								 && item.insResult !== '불합격'
			    									).length;
			    console.log('Count of valid passes:', countPass);
			    // insDetailCode에 대해 insResult가 null이 아니며 불합격이 아닌 수 세기
			    const countNonPass = insDetailData.filter(item => 
			        									item.insCode === insCode 
			        								 && item.insResult !== null 
			        								 && item.insResult !== ''
			        								 && item.insResult !== '합격'
			    									).length;
			    console.log('Count of valid nonPasses:', countNonPass);
			    // totalPass 값 일치하는지 검증하기.
			    const totalPass = (countTest === countPass) ? '합격' : '불합격';;
			    
			    
			    // gridInspectionModal의 모든 데이터 가져오기
			    const inspectionData = gridInspectionModal.getData();
			    const pdetailQuantity = gridInspectionModal.getValue(0, 'output'); // mtlOdDetailQuantity

			    const numberOfTotalPass = pdetailQuantity * (countPass / countTest);
			    // insCode로 해당 행의 인덱스 찾기
			    const rowIndex = inspectionData.findIndex(item => item.insCode === insCode);
			    
			    if (rowIndex !== -1) {
			        gridInspectionModal.setValue(rowIndex, 'numberOfTests', countTest); // 검사수 업데이트
			        gridInspectionModal.setValue(rowIndex, 'numberOfPasses', countPass); // 합격수 업데이트
			        gridInspectionModal.setValue(rowIndex, 'numberOfFailed', countNonPass); // 불합격수 업데이트
			        gridInspectionModal.setValue(rowIndex, 'totalPass', totalPass); // 총합격여부 업데이트
			        gridInspectionModal.setValue(rowIndex, 'numberOfTotalPass', numberOfTotalPass); // 백분율값 업데이트
			    }
			}
			
 			
			document.getElementById('testInsert').addEventListener('click', () => {
				
				updateTestCount();
	                const requestData = gridInsDetailModal.getData();
	                
	                console.log(requestData);
	                
	                $.ajax({
	                    url: '/insValueUpdate',
	                    type: 'POST',
	                    contentType: 'application/json',
	                    data: JSON.stringify(requestData),
	                    success: function(response) {
	                        console.log('Grid modal received:', response);
	                        alert("개별검사가 입력 되었습니다.");
	                    },
	                    error: function(xhr, status, error) {
	                        console.error('Error fetching remain info:', error);
	                        alert("개별검사 입력에 실패하였습니다.");
	                    }
	                });
	           

			});
			// gridInsDetailModal에서 입력이 완료될 때마다 updateTestCount 호출
			gridInsDetailModal.on('afterChange', (ev) => {
				console.log('Data changed:', ev);
			    //updateTestCount();
			});
			
			
		    
			document.getElementById('registerBtn').addEventListener('click', () => {
				const requestData = gridInspectionModal.getData();
				console.log(requestData);    
				$.ajax({
					url: '/finishQualityWait',
					type: 'POST',
					contentType: 'application/json',
					data: JSON.stringify(requestData),
					success: function(response) {
					alert("품질검사가 완료되었습니다.");
					$('#myModal').modal('hide');
					},
					error: function(xhr, status, error) {
					console.error('Error during request', error);
					alert('검사 등록 중 오류가 발생했습니다.');
					}
				});
			});  			
			



			
			
		});
		
		document.addEventListener('click', (e) => {
		    grid.finishEditing();
		});
	</script>
</div>