<div xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">

	<!-- 페이징 필요하신분 -->
	<th:block th:replace="~{common/configs/default_pageing :: pageing}"></th:block>
	<div class="main-container">
		<div class="pd-ltr-20">
			<h2 class="h2 mb-20">입고품질검사 대기 목록</h2>
			<div class="pd-30 card-box mb-20">
				<form>
					<div class="form-group row">
						<label class="col-sm-12 col-md-1 col-form-label">업체명</label>
						<div class="col-sm-12 col-md-3">
							<input class="form-control" type="text" placeholder="업체명">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-1 col-form-label">주문일자</label>
						<div class="col-sm-12 col-md-3">
							<input class="form-control" type="date">
						</div>
						<div
							class="col-sm-12 col-md-auto d-flex align-items-center justify-content-center">
							<span style="font-size: 1rem;">~</span>
						</div>
						<div class="col-sm-12 col-md-3">
							<input class="form-control" type="date">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-1 col-form-label">납기일자</label>
						<div class="col-sm-12 col-md-3">
							<input class="form-control" type="date">
						</div>
						<div
							class="col-sm-12 col-md-auto d-flex align-items-center justify-content-center">
							<span style="font-size: 1rem;">~</span>
						</div>
						<div class="col-sm-12 col-md-3">
							<input class="form-control" type="date">
						</div>
						<div class="col-sm-12 col-md-3">
							<button class="btn btn-dark">조회</button>
							<button class="btn btn-dark">초기화</button>
						</div>
					</div>
				</form>
			</div>
			<div id="gridOrder"></div>
			<div id="gridOrderDetail" style="opacity : 0"></div>

			
			<div class="modal" id="myModal">
				<div class="modal-dialog modal-xl">
					<div class="modal-content">
						<div class="pd-ltr-20">
							<h2 class="h2 mb-20">검사등록</h2>

							<div class="pd-20 card-box mb-20">
								<button class="btn btn-primary mb-3 mr-3" id="registerBtn">
								검사 등록</button>
								<button type="button" class="btn btn-danger"
									data-dismiss="modal" id="cancelBtn">취소</button>
								<h2 class="h5 mb-20">검사대상 목록</h2>
								<div id="modalInspection"></div>
							</div>

							<div style="display: flex; width: 100%; gap: 20px;">
								<div class="pd-20 card-box mb-20" style="width: 100%;">
									<h2 class="h5 mb-20">검사상세등록</h2>
									<div id="modalInspectionDetail"><button class="btn btn-primary" id="testInsert" type="button"> 조회 </button></div>
									
								</div>
								<div class="pd-20 card-box mb-20" style="width: 50%;">
									<h2 class="h5 mb-20">불량상세목록</h2>
									<div id="gridBomDetail"></div>
								</div> 
							</div>

						</div>




					</div>
				</div>

			</div>


		</div>
	</div>

	<script th:inline="javascript">
		document.addEventListener('DOMContentLoaded', function() {
			const gridData = /*[[${mtlList}]]*/[];
			const gridDetailData = /*[[${mtlOdDetail}]]*/[];
			const gridInspectionData = /*[[${insList}]]*/[];
			const gridInsDetailData = /*[[${newList}]]*/[];

			const grid = new tui.Grid({
				el : document.getElementById('gridOrder'),
				data : gridData,
				scrollX : false,
				scrollY : false,
				columns : [ {
					header : '발주코드',
					name : 'mtlOdCode',
					align : 'center',
				}, {
					header : '업체코드',
					name : 'cpCode',
					align : 'center',
				}, {
					header : '업체명',
					name : 'cpName',
					align : 'center',
				}, {
					header : '총 발주 수량',
					name : 'mtlOdQuantity',
					align : 'center',
				}, {
					header : '발주날짜',
					name : 'mtlOdDate',
					align : 'center',
				}, {
					header : '납기일',
					name : 'diliveryDate',
					align : 'center',
				}, {
					header : '총 금액',
					name : 'price',
					align : 'center',
				}, {
					header : '사용자ID',
					name : 'userId',
					align : 'center',
				}, {
					header : '발주상태',
					name : 'mtlOdStatus',
					align : 'center',
				}, {
					header : '비고',
					name : 'mtlOdComm',
					align : 'center',
				},  ],
				rowHeaders : [ 'rowNum' ],
				pageOptions : {
					useClient : true,
					perPage : 10
				}
			});

			grid.on('click', (ev) => {
			    const rowKey = ev.rowKey;
			    const mtlOdCodeValue = grid.getValue(rowKey, 'mtlOdCode');
			    
			    if(mtlOdCodeValue) {
			    	$.ajax({
			    		url : '/getIncomingQualityWaitDetail',
			    		type : 'POST',
			    		contentType : 'application/json',
			    		data : JSON.stringify({mtlOdCode : mtlOdCodeValue}),
			    		success: function(response) {
			    			console.log('Order details received:', response);
			    			document.getElementById('gridOrderDetail').style.opacity = 1;
			    			griddetail.resetData(response); 
			    		},
			    		error: function(xhr, status, error) {
			    			console.error('error during request', error);
			    		}
			    	});
			    }
			    
			});
			
			
			const griddetail = new tui.Grid({
				el : document.getElementById('gridOrderDetail'),
				data : gridDetailData,
				scrollX : false,
				scrollY : false,
				columns : [ {
					header : '발주코드',
					name : 'mtlOdCode',
					align : 'center',
				}, {
					header : '발주상세코드',
					name : 'mtlOdDetailCode',
					align : 'center',
				}, {
					header : '발주상세상태',
					name : 'mtlOdDetailStatus',
					align : 'center',
				}, {
					header : '자재코드',
					name : 'mtCode',
					align : 'center',
				}, {
					header : '개별발주수량',
					name : 'mtlOdDetailQuantity',
					align : 'center',
				}, {
					header : '자재이름',
					name : 'mtName',
					align : 'center',
				}, {
					header : '자재구분',
					name : 'materialType',
					align : 'center',
				}, {
					header : '규격',
					name : 'specification',
					align : 'center',
				}, {
					header : '단위',
					name : 'unit',
					align : 'center',
				}, {
					header : '단가',
					name : 'unitPrice',
					align : 'center',
				}, ],
				rowHeaders : [ 'rowNum' ],
				pageOptions : {
					useClient : true,
					perPage : 5
				}
			});
			
			let mtlOdDetailCodeValue = "";
			let mtName = "";
		    let remainData = [];
		    
			
		    griddetail.on('click', (ev) => {
		        const rowKey = ev.rowKey;
		        const mtlOdDetailCodeValue = griddetail.getValue(rowKey, 'mtlOdDetailCode');
				console.log(mtlOdDetailCodeValue);
		        if (mtlOdDetailCodeValue) {
		            $.ajax({
		                url: '/incomingInspection',
		                type: 'POST',
		                contentType: 'application/json',
		                data: JSON.stringify({ mtlOdDetailCode: mtlOdDetailCodeValue }),
		                success: function(response,) {
		                	console.log('Response:', response);
		                	gridInspectionModal.resetData(response.insList);
		                	gridInsDetailModal.resetData(response.newList);
						    document.getElementById('gridOrderDetail').style.opacity = 1;
						    $('#myModal').modal('show'); // 모달 열기
						    gridInspectionModal.refreshLayout(); 
						    gridInsDetailModal.refreshLayout(); 
		                },
		                error: function(xhr, status, error) {
		                    console.error('Error during request', error);
		                    alert('데이터를 가져오는 데 오류가 발생했습니다.');
		                }
		            });
		        }
		    });
		    
		    

			const gridInspectionModal = new tui.Grid({
				el : document.getElementById('modalInspection'),
				data : gridInspectionData,
				scrollX : false,
				scrollY : false,
				columns : [ {
					header : '발주상세코드',
					name : 'mtlOdDetailCode',
					align : 'center',
				}, {
					header : '품질검사코드',
					name : 'insCode',
					align : 'center',
				}, {
					header : '품질검사일자',
					name : 'insDate',
					align : 'center',
				},  {
					header : '사용자번호',
					name : 'userId',
					align : 'center',
				}, {
					header : '사용자이름',
					name : 'userName',
					align : 'center',
				}, {
					header : '품질검사상태',
					name : 'insStatus',
					align : 'center',
				}, {
					header : '검사수',
					name : 'numberOfTests',
					align : 'center',
				}, {
					header : '합격수',
					name : 'numberOfPasses',
					align : 'center',
				}, {
					header : '불합격수',
					name : 'numberOfFailed',
					align : 'center',
				}, {
					header : '총합격수',
					name : 'numberOfTotalPass',
					align : 'center',
				}, {
					header : '총합격여부',
					name : 'totalPass',
					align : 'center',
				}, ],
				rowHeaders : [ 'rowNum' ],
				pageOptions : {
					useClient : true,
					perPage : 10
				}
			});
			
			/* gridInspectionModal.on('click', (ev) => {
			    const rowKey = ev.rowKey;
			    const insCodeValue = gridInspectionModal.getValue(rowKey, 'insCode');
			    
			    if(insCodeValue) {
			    	$.ajax({
			    		url : '/incomingInspectionDetail',
			    		type : 'POST',
			    		contentType : 'application/json',
			    		data : JSON.stringify({insCode : insCodeValue}),
			    		success: function(response) {
			    			console.log('Order details received:', response);
			    			document.getElementById('modalInspectionDetail').style.opacity = 1;
			    			gridInsDetailModal.resetData(response); 
			    		},
			    		error: function(xhr, status, error) {
			    			console.error('error during request', error);
			    		}
			    	});
			    }
			    
			}); */
			
			
			
			const gridInsDetailModal = new tui.Grid({
				el : document.getElementById('modalInspectionDetail'),
				data : gridInsDetailData,
				scrollX : false,
				scrollY : false,
				columns : [ {
					header : '품질검사코드',
					name : 'insCode',
					align : 'center',
				}, {
					header : '검사상세코드',
					name : 'insDetailCode',
					align : 'center',
				}, {
					header : '품질검사항목코드',
					name : 'insItemCode',
					align : 'center',
				},  {
					header : '품질검사이름',
					name : 'insItemName',
					align : 'center',
				},  {
					header : '품질검사결과값',
					name : 'insValue',
					align : 'center',
					editor : 'text'
				}, {
					header : '품질검사기준',
					name : 'insItemCiteria',
					align : 'center',
				}, {
					header : '품질검사결과판정',
					name : 'insResult',
					align : 'center',
				}, ],
				rowHeaders : [ 'rowNum' ],
				pageOptions : {
					useClient : true,
					perPage : 10
				}
			});
			
			
			
			
			document.getElementById('testInsert').addEventListener('click', () => {
				
	                
	                const requestData = gridInsDetailModal.getData();
	                
	                console.log(requestData);
	                
	                $.ajax({
	                    url: '/insValueUpdate',
	                    type: 'POST',
	                    contentType: 'application/json',
	                    data: JSON.stringify(requestData),
	                    success: function(response) {
	                        console.log('Grid modal received:', response);
	                    },
	                    error: function(xhr, status, error) {
	                        console.error('Error fetching remain info:', error);
	                    }
	                });
	           

			});
			
			
			
			
			
	/* 		
			function sendTestResults() {
			    const testResults = grid.getCheckedRows();

			    if (checkedRows.length === 0) {
			        alert('선택된 데이터가 없습니다.');
			        return;
			    }

			    // 폼 데이터를 직접 수집
			    const formArr = $("form[name=form]").serializeArray();
			    
			    const formObj = {};
			    $.each(formArr, function(idx, tag) {
			    	formObj[tag.name] = tag.value;
			    });

			    // 폼 데이터와 체크된 그리드 데이터를 병합
			    const payload = {
			        orderVO: formObj,    // 폼 데이터 (주문 정보)
			        productVO: checkedRows  // 체크된 그리드 데이터 (상품 목록)
			    };

			    // 병합된 데이터를 서버로 전송 (AJAX 요청)
			    $.ajax({
			        url: '/orderReception', // 서버에서 처리할 URL 경로
			        type: 'POST',
			        contentType: 'application/json', // JSON 형식으로 데이터 전송
			        data: JSON.stringify(payload), // 폼 데이터와 체크된 데이터를 JSON으로 변환하여 전송
			        success: function(response) {
			            alert('주문이 성공적으로 접수되었습니다!');
			            window.location.href = "orderHistory";
			            console.log(response); // 서버에서 받은 응답 처리
			        }
			    });
			} */
			


			
			
		});
		

	</script>
</div>