<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>사용자 관리</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.css"
    />    
</head>
<body>
<div class="main-container">
    <h3>사용자 관리</h3>
    <div id="grid"></div>
</div>

<script th:inline="javascript">
document.addEventListener('DOMContentLoaded', function() {
    const gridData = /*[[${incomingQualityWaits}]]*/ [];

    const grid = new tui.Grid({
        el: document.getElementById('grid'),
        data: gridData,
        scrollX: false,
        scrollY: false,
        columns: [

            {
                header: '자재발주 코드',
                name: 'mtlOdCode',
                align: 'center',
            },
            {
                header: '자재발주량',
                name: 'mtlOdQuantity',
                align: 'center',
            },
            {
                header: '자재발주 일자',
                name: 'mtlOdDate',
                align: 'center',
            },
            {
                header: '납기 일',
                name: 'diliveryDate',
                align: 'center',
            },
            {
                header: '금액',
                name: 'price',
                align: 'center',
            },
            {
                header: '자재 코드',
                name: 'mtCode',
                align: 'center',
            },
            {
                header: '업체 코드',
                name: 'cpCode',
                align: 'center',
            },
            {
                header: '사원번호',
                name: 'userId',
                align: 'center',
            },
            {
                header: '발주품질검사상태',
                name: 'mtlOdStatus',
                align: 'center',
            },
        ],
	    rowHeaders: ['rowNum'],
	    pageOptions: {
	      useClient: true,
	      perPage: 10
    	}
    });
});
</script>

</body>
</html>