<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<title>입고 검사 완료 목록</title>


<link rel="icon" sizes="180x180"
	href="vendors/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32"
	href="vendors/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16"
	href="vendors/images/favicon-16x16.png">


<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">


<link
	href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
	rel="stylesheet">


</head>



<body>
	<div class="mobile-menu-overlay"></div>
	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="card-box mb-30">



					<div class="filter-buttons mb-3">
						<button id="filter-pass" class="btn btn-secondary">합격</button>
						<button id="filter-fail" class="btn btn-secondary">불합격</button>
						<button id="filter-all" class="btn btn-secondary">전체</button>
					</div>



					<div
						class="d-flex justify-content-between align-items-center mb-20">
						<p style="font-size: 300%">입고검사 완료목록</p>


					</div>
				</div>

				<div class="pb-20">
					<div id="DataTables_Table_2_wrapper"
						class="dataTables_wrapper dt-bootstrap4 no-footer">
						<div class="dt-buttons btn-group flex-wrap">

							<button class="btn btn-secondary buttons-copy buttons-html5"
								tabindex="0" aria-controls="DataTables_Table_2" type="button">
								<span>Copy</span>
							</button>
							<button class="btn btn-secondary buttons-csv buttons-html5"
								tabindex="0" aria-controls="DataTables_Table_2" type="button">
								<span>CSV</span>
							</button>
							<button class="btn btn-secondary buttons-pdf buttons-html5"
								tabindex="0" aria-controls="DataTables_Table_2" type="button">
								<span>PDF</span>
							</button>
							<button class="btn btn-secondary buttons-print" tabindex="0"
								aria-controls="DataTables_Table_2" type="button">
								<span>Print</span>
							</button>
						</div>
						<div id="DataTables_Table_2_filter" class="dataTables_filter">
							<label>Search:<input type="search"
								class="form-control form-control-sm" placeholder="Search"
								aria-controls="DataTables_Table_2"></label>
						</div>



						<button type="button" class="btn btn-primary" id="success1">입고처리</button>
						<button type="button" class="btn btn-primary" id="failuer1">반품처리</button>
						<table
							class="table hover multiple-select-row data-table-export nowrap dataTable no-footer dtr-inline"
							id="DataTables_Table_2" role="grid">
							<thead>
								<tr role="row">
									<th class="table-plus datatable-nosort sorting_disabled"></th>
									<th>품질검사 날짜</th>
									<th>품질검사 코드</th>
									<th>품질검사 상태</th>
									<th>거래처코드</th>
									<th>자재명</th>
									<th>규격</th>
									<th>검사수</th>
									<th>합격수</th>
									<th>합격여부</th>
									<th>자재발주코드</th>
									<th>자재코드</th>
									<th>직원번호</th>
								</tr>
							</thead>
							<tbody>
								<th:block th:each="done : ${incomingQualityDones}">
									<tr>
										<td><input type=checkbox name=incomingQualityCheck></td>
										<td class="table-plus">[[${done.insDate}]]</td>
										<td><h5 class="font-16">[[${done.insCode}]]</h5></td>
										<td>[[${done.insStatus}]]</td>
										<td>[[${done.cpCode}]]</td>
										<td>[[${done.mtName}]]</td>
										<td>[[${done.specification}]]</td>
										<td>[[${done.numberOfTests}]]</td>
										<td>[[${done.numberOfPasses}]]</td>
										<td>[[${done.totalPass}]]</td>
										<td>[[${done.mtlOdCode}]]</td>
										<td>[[${done.mtCode}]]</td>
										<td>[[${done.userId}]]</td>
										<td><input type="text" name="comm"></td>
									</tr>
								</th:block>
							</tbody>
						</table>
						<div class="col-lg-12" id="ex3_Result1"></div>
						<div class="col-lg-12" id="ex3_Result2"></div>
					</div>
				</div>
				<!-- Export Datatable End -->
			</div>
		</div>







	</div>



	<!-- buttons for Export datatable -->
	<!-- 	<script src="src/plugins/datatables/js/dataTables.buttons.min.js"></script>
	<script src="src/plugins/datatables/js/buttons.bootstrap4.min.js"></script>
	<script src="src/plugins/datatables/js/buttons.print.min.js"></script>
	<script src="src/plugins/datatables/js/buttons.html5.min.js"></script>
	<script src="src/plugins/datatables/js/buttons.flash.min.js"></script>
	<script src="src/plugins/datatables/js/pdfmake.min.js"></script>
	<script src="src/plugins/datatables/js/vfs_fonts.js"></script> -->
	<!-- Datatable Setting js -->
	<!-- 	<script src="vendors/scripts/datatable-setting.js"></script> -->
</body>

<script>

	
	
	document.addEventListener('DOMContentLoaded', function() {
		
		
	    // 합격 여부에 따라 필터링
	    document.getElementById('filter-pass').addEventListener('click', function() {
	        filterRows('합격');
	    });
	    
	    document.getElementById('filter-fail').addEventListener('click', function() {
	        filterRows('불합격');
	    });
	    
	    document.getElementById('filter-all').addEventListener('click', function() {
	        filterRows('전체');
	    });

	    function filterRows(status) {
	        const rows = document.querySelectorAll('tbody > tr');
	        rows.forEach(row => {
	            const totalPassStatus = row.querySelector('td:nth-child(10)').innerText; // 9번째 열 (total_pass)
	            if (status === '전체' || totalPassStatus === status) {
	                row.style.display = ''; // 표시
	            } else {
	                row.style.display = 'none'; // 숨김
	            }
	        });
	    }
	    
	    


 	$("#success1").click(function(){
 		console.log("버튼 클릭됨");

		var checkbox = $("input[name=incomingQualityCheck]:checked");
		let flag = true;
  		let list = [];
		//var data = [];

		checkbox.each(function(i){

			var tr = $(this).closest("tr")
			var td = tr.children();

			var obj = {};
			
			var insCode = td.eq(2).text();
			var cpCode = td.eq(4).text();
			var numberOfPasses = Number(td.eq(8).text());
			var mtlOdCode = td.eq(10).text();
			var mtCode = td.eq(11).text();
			var userId = td.eq(12).text();
			var mtInComm = td.eq(13).find("input").val();
			
						
			//객체에 담기
			obj["insCode"] = insCode;  	     		
			obj["cpCode"] = cpCode;               					
			obj["numberOfPasses"] = numberOfPasses;   
			obj["mtlOdCode"] = mtlOdCode;      					
			obj["mtCode"] = mtCode;      	
			obj["userId"] = userId; 
			obj["mtInComm"] = mtInComm;
			
			//목록에 담기
			list.push(obj);
			});
		
				//객체를 string으로 변환
  		console.log(JSON.stringify(list));
		if(flag == false) {
			return;
		}
		
				$.ajax({
			url: 'updateIncoming',
			method: 'POST',
			contentType: 'application/json',
			data: JSON.stringify(list),
			success: function(response){
				console.log('입고성공', response);
				
				location.reload();
			},
			
			error: function(xhr, status, error){
				console.error('입고 실패', error);
			}
		
		})
		 .fail(err => console.log(err))
		});
  		
		
 	});
		
	
		
		
 	$("#failuer1").click(function(){
 		console.log("버튼 클릭됨");

		var checkbox = $("input[name=incomingQualityCheck]:checked");
		var data = [];

		checkbox.each(function(i){

			var tr = $(this).closest("tr")
			var td = tr.children();

			var item = {

			mtlOdCode : td.eq(10).text()
			};
			
			console.log(item);

			data.push(item);

		});
		
		$.ajax({
			url: 'updateMtlOdBack',
			method: 'POST',
			contentType: 'application/json',
			data: JSON.stringify(data),
			success: function(response){
				console.log('반품 성공', response);
				
				location.reload();
			},
			
			error: function(xhr, status, error){
				console.error('반품 실패', error);
			}
		
		})
 	});

	
	
	
	
	
	

	
	
	

	
	
	
</script>
</html>


