<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>품질 관리</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
</head>
<body>
<th:block th:replace="~{common/configs/default_pageing :: pageing}"></th:block>
<!-- 	<div class="main-container">
		<div class="pd-ltr-20"> -->
			<h2 class="h2 mb-20">품질 관리</h2>
			<div class="pd-30 card-box mb-20">
				<div class="d-flex justify-content-between align-items-center align-middle mb-20">
				        <h4 class="h5 mb-20">검사항목 목록</h4>
					

					  <div class="d-flex gap-3 mb-3">
                        <label class="col-form-label h5 text-nowrap">검사항목코드</label>
                        <input class="form-control w-25" type="text" id="inputInsCode" placeholder="검사코드 입력">
                        <label class="col-form-label h5 text-nowrap">자재명</label>
                        <input class="form-control w-25" type="text" id="inputMtName" placeholder="자재명 입력">
                        <label class="col-form-label h5 text-nowrap">완제품명</label>
                        <input class="form-control w-25" type="text" id="inputPrdName" placeholder="완제품명 입력">
                        <button class="btn btn-primary btn-sm" id="searchBtn">검색</button>
                    	  </div>

				</div>	
                    					 <div class="d-flex gap-3 mt-3 justify-content-end">
                        <button class="btn btn-success btn-sm" id="insertBtn">등록</button>
                        <button class="btn btn-warning btn-sm" id="updateBtn">수정</button>
                        <button class="btn btn-danger btn-sm" id="deleteBtn">삭제</button>
                    </div>	
				<form>
                        <div class="form-group row" style="display: flex; align-items: center; gap: 15px;">
                            <label class="col-sm-12 col-md-1 col-form-label" style="margin-right: 10px;">품질검사 분류</label>
                                <div style="display: flex; align-items: center;">
                                    <input type="radio" id="option1" name="option" value="all" checked="checked" style="margin-right: 8px;">
                                    <label for="option1" style="margin-bottom: 0px;">전체</label>
                                </div>
                                <div style="display: flex; align-items: center;">
                                    <input type="radio" id="option2" name="option" value="MTLD" style="margin-right: 8px;">
                                    <label for="option2" style="margin-bottom: 0px;">자재</label>
                                </div>
                                <div style="display: flex; align-items: center;">
                                    <input type="radio" id="option3" name="option" value="PD" style="margin-right: 8px;">
                                    <label for="option3" style="margin-bottom: 0px;">완제품</label>
                                </div>
                        </div>
                    </form>	
				<div id="grid"></div>
			</div>
<!-- 		</div>
	</div> -->
</body>
	<script th:inline="javascript">
	
	document.addEventListener('DOMContentLoaded', function() {
		
	    const grid = new tui.Grid({
	        el: document.getElementById('grid'),
	        scrollX: false,
	        scrollY: false,
	        columns: [
	            {
	                header: '검사코드',
	                name: 'insCode',
	                align: 'center',
	                sortingType: 'desc',
	                sortable: true,
					resizable: true,
	            },
	            {
	                header: '검사일자',
	                name: 'insDate',
	                align: 'center',
	                sortingType: 'desc',
	                sortable: true,
					resizable: true,
	            },
	            {
	                header: '검사상태',
	                name: 'insStatus',
	                align: 'center',
	                sortingType: 'desc',
	                sortable: true,
					resizable: true,
	            },
	            {
	                header: '검사 수',
	                name: 'numberOfTests',
	                align: 'center',
	                sortingType: 'desc',
	                sortable: true,
					resizable: true,
	            },
	            {
	                header: '검사 합격 수',
	                name: 'numberOfPasses',
	                align: 'center',
	                sortingType: 'desc',
	                sortable: true,
					resizable: true,
	            },
	            {
	                header: '검사 불합격 수',
	                name: 'numberOfFailed',
	                align: 'center',
	                sortingType: 'desc',
	                sortable: true,
					resizable: true,
	            },
	            {
	                header: '총 합격 여부',
	                name: 'totalPass',
	                align: 'center',
	                sortingType: 'desc',
	                sortable: true,
					resizable: true,
	            },
	            {
	                header: '합격 량',
	                name: 'numberOfTotalPass',
	                align: 'center',
	                sortingType: 'desc',
	                sortable: true,
					resizable: true,
	            },
	            {
	                header: '검사자 ID',
	                name: 'userId',
	                align: 'center',
	                sortingType: 'desc',
	                sortable: true,
					resizable: true,
	            },
	            {
	                header: '검사자 이름',
	                name: 'userName',
	                align: 'center',
	                sortingType: 'desc',
	                sortable: true,
					resizable: true,
	            },
	            {
	                header: '제품 코드',
	                name: 'mtlPdetailCode',
	                align: 'center',
	                sortingType: 'desc',
	                sortable: true,
					resizable: true,
	            },
	            {
	                header: '자재 명',
	                name: 'mtName',
	                align: 'center',
	                sortingType: 'desc',
	                sortable: true,
					resizable: true,
	            },
	            {
	                header: '완제품 명',
	                name: 'prdName',
	                align: 'center',
	                sortingType: 'desc',
	                sortable: true,
					resizable: true,
	            },
	        ],
	        rowHeaders: ['checkbox', 'rowNum'],
	        pageOptions: {
	            useClient: true,
	            perPage: 15
	        }
	    });
	    
	    document.getElementById('searchBtn').addEventListener('click', function() {
	        const search = {
	        		insCode: document.getElementById('inputInsCode').value,
	        		mtName: document.getElementById('inputMtName').value,
	        		prdName: document.getElementById('inputPrdName').value,
	        };
	        fetchInsList(search);
	    });

	    function fetchInsList(search = {}) {
	        const params = new URLSearchParams(search);
	        const url = `/inss?${params.toString()}`;

	        fetch(url)
	            .then(response => response.json())
	            .then(result => {
	                grid.resetData(result);
	            })
	            .catch(error => {
	                console.error(error);
	            });
	    }
	    
	    fetchInsList();
	    
	    
	    
	    const radioButtons = document.querySelectorAll('input[name="option"]');
	    
	    radioButtons.forEach(radio => {
	        radio.addEventListener('change', () => {
	        		
	        		const radIns = document.querySelector('input[name="option"]:checked').value;
	        		
	        		fetchRadIns(radIns);
	        });
	    });
	    
	    
	    function fetchRadIns(rad) {
            const url = `/insRadio?rad=${rad}`;
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    grid.resetData(data);
                })
                .catch(error => console.error('데이터를 가져오는 데 실패했습니다:', error));
        }
	    fetchRadIns('all');


	});			
	</script>
</html>