<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="defaultSidebar">
	<div class="left-side-bar">
		<div class="brand-logo">
			<a href="/main">
				<img th:src="@{/assets/vendors/images/deskapp-logo.svg}" alt="" class="dark-logo">
				<img th:src="@{/assets/vendors/images/logolee.jpg}" alt="" class="light-logo">
			</a>
			<div class="close-sidebar" data-toggle="left-sidebar-close">
				<i class="ion-close-round"></i>
			</div>
		</div>
		<div class="menu-block customscroll">
			<div class="sidebar-menu">
				<ul id="accordion-menu">
					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon dw dw-house-1"></span><span class="mtext">영업</span>
						</a>
						<ul class="submenu">


							<li><a th:href="@{/orderReception}">주문접수</a></li>
							<li><a th:href="@{/orderHistory}">주문내역</a></li>
							<li><a href="#">완제품 관리</a></li>
							<li><a href="#">완제품 입고</a></li>
							<li><a href="#">완제풀 출고</a></li>
							<li><a href="#">입/출고 내역</a></li>

						</ul>
					</li>
					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon dw dw-edit2"></span><span class="mtext">생산</span>
						</a>
						<ul class="submenu">

							<li><a href="">생산 계획 생성</a></li>
							<li><a href="planList">생산 계획 조회</a></li>
							<li><a href="">생산 지시</a></li>
							<li><a href="">생산 지시 조회</a></li>
							<li><a href="">생산 관리</a></li>
							<li><a href="">생산 관리 실적</a></li>

						</ul>
					</li>
					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon dw dw-library"></span><span class="mtext">자재</span>
						</a>
						<ul class="submenu">
							<li><a th:href="@{/productionPlanList}">발주 등록</a></li>
						</ul>
												<ul class="submenu">
							<li><a href="">발주 관리</a></li>
						</ul>
												<ul class="submenu">
							<li><a href="">입고 등록, 관리</a></li>
						</ul>
												<ul class="submenu">
							<li><a href="">출고 등록, 관리</a></li>
						</ul>
												<ul class="submenu">
							<li><a href="">안전재고 관리</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon dw dw-library"></span><span class="mtext">품질</span>
						</a>
						<ul class="submenu">
							<li><a href="/incomingQualityWaitInfo">입고 검사 대기 목록</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon dw dw-apartment"></span><span class="mtext">설비</span>
						</a>
						<ul class="submenu">
							<li><a href="">설비 등록</a></li>
							<li><a th:href="@{eqList}">설비 목록</a></li>
							<li><a href="">설비 상세</a></li>
							<li><a href="">비가동 설비</a></li>
							<li><a href="">설비 점검</a></li>
							<li><a href="">실시간 모니터링</a></li>
						</ul>
					</li>
					<li>
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon dw dw-edit-2"></span><span class="mtext">기준정보</span>
						</a>
						<ul class="submenu">
							<li><a th:href="@{infoUserListGridFetch}">사용자관리</a></li>
							<li><a th:href="@{infoPrdListGridFetch}">제품관리</a></li>
							<li><a th:href="@{infoCpListGridFetch}">업체관리</a></li>
							<li><a th:href="@{infoMtListGridFetch}">자재관리</a></li>
							<li><a th:href="@{infoBomListGridFetch}">BOM관리</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</th:block>
</html>