<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="defaultSidebar">
	<div class="left-side-bar">
		<div class="brand-logo">
			<a href="/main"> <img
				th:src="@{/assets/vendors/images/deskapp-logo.svg}" alt="" class="dark-logo"> <img
				th:src="@{/assets/vendors/images/deskapp-logo-white.svg}" alt="" class="light-logo">
			</a>
			<div class="close-sidebar" data-toggle="left-sidebar-close">
				<i class="ion-close-round"></i>
			</div>
		</div>
		<div class="menu-block customscroll">
			<div class="sidebar-menu">
				<ul id="accordion-menu">
					<li class="dropdown"><a href="javascript:;"
						class="dropdown-toggle"> <span class="micon dw dw-house-1"></span><span
							class="mtext">영업</span>
					</a>
						<ul class="submenu">
							<li><a th:href="@{/orderReception}">주문접수</a></li>
							<li><a th:href="@{/orderHistory}">주문내역</a></li>
							<li><a th:href="@{/productOut}">출고관리</a></li>
							<li><a th:href="@{/productManagement}">완제품 관리</a></li>
							<li><a th:href="@{/inoutHistory}">입/출고 내역</a></li>
						</ul>
					</li>
					<li class="dropdown"><a href="javascript:;"
						class="dropdown-toggle"> <span class="micon dw dw-edit2"></span><span
							class="mtext">생산</span>
					</a>
						<ul class="submenu">

							<li><a href="planCreate">생산 계획 생성</a></li>
							<li><a href="planList">생산 계획 조회</a></li>
							<li><a href="pOrder">생산 지시</a></li>
							<li><a href="pOrderList">생산 지시 조회</a></li>
							<li><a href="pManage">생산 공정</a></li>
							<li><a href="pResult">생산 공정 실적</a></li>

						</ul></li>
					<li class="dropdown"><a href="javascript:;"
						class="dropdown-toggle"> <span class="micon dw dw-library"></span><span
							class="mtext">자재</span>
					</a>
						<ul class="submenu">
							<li><a th:href="@{/productionPlanList}">생산계획별 발주확인</a></li>
						</ul>
						<ul class="submenu">
							<li><a th:href="@{/orderRequestList}">발주 등록, 관리</a></li>
						</ul>
						<ul class="submenu">
							<li><a th:href="@{/mtInList}">입고 관리</a></li>
						</ul>
						<ul class="submenu">
							<li><a th:href="@{/mtOutList}">출고 관리</a></li>
						</ul>
						<ul class="submenu">
							<li><a th:href="@{/stock}">전체재고 관리</a></li>
						</ul></li>
					<li class="dropdown"><a href="javascript:;"
						class="dropdown-toggle"> <span class="micon dw dw-library"></span><span
							class="mtext">품질</span>
					</a>
						<ul class="submenu">
							<li><a href="/incomingQualityWaitInfo">입고 검사 대기 목록1</a></li>
							<li><a href="/incomingQualityWaitHistory">입고 검사 대기 목록2</a></li>
							<li><a href="/incomingQualityDoneInfo">입고 검사 완료 목록</a></li>
						</ul></li>
					<li class="dropdown"><a href="javascript:;"
						class="dropdown-toggle"> <span class="micon dw dw-apartment"></span><span
							class="mtext">설비</span>
					</a>
						<ul class="submenu">
							<li><a th:href="@{eqInsert}">설비 등록</a></li>
							<li><a th:href="@{eqList}">설비 목록</a></li>
							<!-- <li><a th:href="@{eqInfo}">설비 상세</a></li> -->
							<li><a th:href="@{eqChckList}">설비 비가동 관리</a></li>
							<li><a th:href="@{jgList}">설비 점검</a></li>
							<li><a href="">실시간 모니터링</a></li>
						</ul></li>
					<li><a href="javascript:;" class="dropdown-toggle"> <span
							class="micon dw dw-edit-2"></span><span class="mtext">기준정보</span>
					</a>
						<ul class="submenu">
							<li><a th:href="@{infoPrdList}">제품 관리</a></li>
							<li><a th:href="@{infoBomList}">BOM 관리</a></li>
							<li><a th:href="@{infoPrdBomList}">제품/BOM 관리</a></li>
							<li><a th:href="@{infoUserList}">사용자관리</a></li>
							<li><a th:href="@{infoCpList}">업체관리</a></li>
							<li><a th:href="@{infoMtList}">자재관리</a></li>
							<li><a th:href="@{infoLineList}">라인관리</a></li>
							<li><a th:href="@{infoProcessList}">공정관리</a></li>
							<li><a th:href="@{infoLineProcessList}">라인/공정관리</a></li>
							<!-- 
							<li><a th:href="@{infoPrdMtBomList}">제품/자재/BOM 관리</a></li>
							<li><a th:href="@{infoPrdListGridFetch}">제품관리</a></li>
							<li><a th:href="@{infoCpListGridFetch}">업체관리</a></li>
							<li><a th:href="@{infoMtListGridFetch}">자재관리</a></li>
							<li><a th:href="@{infoLineListGridFetch}">라인관리</a></li>
							<li><a th:href="@{infoProcessListGridFetch}">공정관리</a></li>
							 -->
						</ul></li>
				</ul>
			</div>
		</div>
	</div>
</th:block>
</html>