<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjc.app.sales.mapper.SalesMapper">

	<!-- 업체 리스트 조회 -->
	<select id="selectCompany" resultType="OrderVO">
		SELECT cp_code,
		cp_name
		FROM cp
	</select>

	<!-- 제품조회 -->
	<select id="selectProduct" resultType="ProductVO">
		SELECT prd_name,
		prd_code,
		unit_price
		FROM prd
	</select>

	<!-- 주문 접수 -->
	<insert id="insertOrder" parameterType="OrderVO">
		INSERT INTO ORD (ord_code, 
                 ord_date, 
                 dlv_req_date, 
                 cp_code, 
                 comm)
        VALUES ( #{ordCode}, 
                 SYSDATE,
                 #{dlvReqDate},
                 #{cpCode}, 
                 #{comm})
	</insert>
	
	<insert id="insertOrderDetail" parameterType="map">
	    INSERT INTO ORD_DETAIL (ord_detail_code, ord_code, prd_code, prd_name, ord_quantity, price)
	    VALUES ('ORDDETAIL' || TO_CHAR(SYSDATE, 'YYYYMMDD') || ord_seq.NEXTVAL, #{ordCode}, #{productVO.prdCode}, #{productVO.prdName}, #{productVO.ordQuantity}, #{productVO.price})
	</insert>

	<!-- 주문내역 조회 -->
	<select id="selectOrder" resultType="OrderVO">
		SELECT o.ord_code,
		       c.cp_name,
		       o.ord_date,
		       o.dlv_req_date,
		       o.ord_status,
		       o.comm
		FROM ord o LEFT JOIN cp c
		ON o.cp_code = c.cp_code
	</select>
	
	<select id="selectOrderDetail" parameterType="String" resultType="map">
    SELECT o.ord_code AS ordCode,
           od.prd_name AS prdName,
           od.prd_code AS prdCode,
           od.ord_quantity AS ordQuantity,
           o.ord_status AS ordStatus
    FROM   ord o
    JOIN   ord_detail od ON o.ord_code = od.ord_code
    WHERE  o.ord_code = #{ordCode}
	</select>

	<!-- 제품관리 조회 -->
	<select id="selectProductManagement" resultType="ProductVO">
	SELECT   p.prd_name, 
         	 p.prd_code, 
         	 p.unit_price,
         	 COALESCE(SUM(pm.stc_quantity), 0) AS stcQuantity
	FROM     prd p LEFT JOIN prd_management pm
	ON       p.prd_code = pm.prd_code
	GROUP BY p.prd_name, p.prd_code, p.unit_price
	</select>
	
	<select id="selectProductLot" resultType="ProductVO">
		SELECT
		p.prd_name,
		p.prd_code,
		pm.lot,
		pm.md,
		pm.ed,
		pm.stc_quantity
		FROM prd p
		JOIN prd_management pm
		ON p.prd_code = pm.prd_code
	</select>

	<!-- 제품입고 조회 -->
	<select id="selectProductIn" resultType="ProductVO">
		SELECT p.prd_name,
		p.prd_code,
		pm.lot,
		pm.md,
		pm.ed,
		pm.stc_quantity
		FROM prd p JOIN
		prd_management pm
		ON p.prd_code = pm.prd_code
	</select>

	<!-- 제품출고 조회 -->
	<select id="selectProductOut" resultType="OrderVO">
		SELECT o.ord_code,
		c.cp_name,
		o.ord_date,
		o.dlv_req_date
		FROM ord o join cp c
		ON o.cp_code =
		c.cp_code
	</select>

	<!-- 제품 입출고 내역 -->
	<select id="selectInOutHistory" resultType="ProductVO">
		SELECT o.ord_code,
		       c.cp_name,
		       o.ord_date,
		       o.dlv_req_date
		FROM   ord o join cp c	
		               ON o.cp_code = c.cp_code
	</select>
</mapper>

	