<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjc.app.quality.mapper.QualityMapper">
	<select id="selectMtlOd" resultType="InspectionVO">
		SELECT o.mtl_od_code mtl_od_code
		, o.cp_code	cp_code
		, c.cp_name cp_name
		, o.mtl_od_quantity mtl_od_quantity
		, o.mtl_od_date mtl_od_date
		, o.dilivery_date dilivery_date
		, o.price price
		, o.user_id user_id
		, o.mtl_od_status mtl_od_status
		, o.comm comm
		FROM copy_mtl_od o
		JOIN copy_cp c
		ON o.cp_code = c.cp_code
		<where>
			o.mtl_od_status ='입고품질검사대기'
			<if test="cpCode != null and cpCode != ''">
				AND c.cp_code = #{cpCode}
			</if>
			<if test="cpName != null and userId != ''">
				AND c.cp_name = #{cpName}
			</if>
		</where>
	</select>
	<!-- 
	<select id="selectMtlOdDetail" parameterType="String" resultType="map">
	    SELECT d.mtl_od_code  AS "mtlOdCode"
	        , d.mtl_od_detail_code AS "mtlOdDetailCode"
	        , d.mt_code AS "mtCode"
	        , d.quantity AS "mtlOdDetailQuantity"
	        , m.mt_name AS "mtName"
	        , m.material_type AS "materialType"
	        , m.specification AS "specification"
	        , m.unit AS "unit"
	        , m.unit_price AS "unitPrice"
		FROM copy_mtl_od_detail d
		JOIN copy_mt m
		ON d.mt_code = m.mt_code
		WHERE d.mtl_od_code = #{mtlOdCode}
	</select>
	 -->
	<select id="selectMtlOdDetail" parameterType="String" resultType="map">
	    SELECT d.mtl_od_code  AS "mtlOdCode"
	        , d.mtl_od_detail_code AS "mtlOdDetailCode"
	        , d.mt_code AS "mtCode"
	        , d.quantity AS "mtlOdDetailQuantity"
	        , m.mt_name AS "mtName"
	        , m.material_type AS "materialType"
	        , m.specification AS "specification"
	        , m.unit AS "unit"
	        , m.unit_price AS "unitPrice"
		FROM copy_mtl_od_detail d
		JOIN copy_mt m
		ON d.mt_code = m.mt_code
		WHERE d.mtl_od_code = #{mtlOdCode}
	</select>
 	<!-- 입고품질검사 상세목록 -->
<!--	<select id="selectIncomingTest" resultType="InspectionVO">
		SELECT i.ins_item_code
		        , i.ins_item_name
		        , i.ins_item_citeria
		FROM ins_item i
		JOIN ins_map m
		ON m.ins_item_code = i.ins_item_code
		WHERE m.mt_code = #{mtCode}
	</select> -->
	<!-- 입고품질검사 상세목록 -->
	<select id="selectIncomingTest" parameterType="String" resultType="map">
		SELECT d.mtl_od_code  AS "mtlOdCode"
	        , d.mtl_od_detail_code AS "mtlOdDetailCode"
	        , d.mt_code AS "mtCode"
	        , d.quantity AS "mtlOdDetailQuantity"
	        , m.mt_name AS "mtName"
	        , m.material_type AS "materialType"
	        , m.specification AS "specification"
	        , m.unit AS "unit"
	        , m.unit_price AS "unitPrice"
		FROM copy_mtl_od_detail d
		JOIN copy_mt m
		ON d.mt_code = m.mt_code
		WHERE d.mtl_od_detail_code = #{mtlOdDetailCode}
	</select>
	
	
	<insert id="insertInspection" parameterType="InspectionVO">
	    <selectKey keyProperty="insCode" order="BEFORE" resultType="string">
	        SELECT 'INS' || TO_CHAR(SYSDATE, 'YYYYMMDD') || LPAD(INS_SEQ.NEXTVAL, 4, '0') 
	        FROM dual
	    </selectKey>
	
	    
	    INSERT INTO inspection (
		        ins_code
		        , ins_date
		        , ins_status
		        , user_id
		        , user_name
		        , number_of_tests
		        , number_of_passes
		        , number_of_failed
		        , number_of_total_pass
		        , total_pass
		        , mtl_od_detail_code
		    )
		    VALUES ( 
		    		#{insCode}
		        	, SYSDATE
		        	, '검사중'
		        	, #{userId}
		        	, #{userName}
		        	, #{numberOfTests}
		        	, #{numberOfPasses}
		        	, #{numberOfFailed}
		        	, #{numberOfTotalPass}
		        	, #{totalPass}
		        	, #{mtlOdDetailCode}
		    )
	</insert>
	
	<select id="selectInspection" resultType="InspectionVO">
			SELECT i.ins_code
			        , i.ins_date
			        , i.ins_status
			        , i.user_id
			        , i.user_name
			        , i.number_of_tests
			        , i.number_of_passes
			        , i.number_of_failed
			        , i.number_of_total_pass
			        , i.total_pass
			        , i.mtl_od_detail_code
			 FROM inspection i
	         WHERE i.ins_code = #{insCode}
	</select>
	
	<insert id="insertInsDetail" parameterType="InsDetailVO">
	    <selectKey keyProperty="insDetailCode" order="BEFORE" resultType="string">
	        SELECT 'INSD' || TO_CHAR(SYSDATE, 'YYYYMMDD') || LPAD(INS_DETAIL_SEQ.NEXTVAL, 4, '0') 
	        FROM dual
	    </selectKey>
	
	    INSERT INTO ins_detail 
		                ( ins_detail_code
		                    , ins_item_code
		                    , ins_value
		                    , ins_result
		                    , ins_code
		                )
		VALUES          ( #{insDetailCode}
		                    , #{insItemCode}
		                    , #{insValue}
		                    , #{insResult}
		                    , #{insCode}
		                )
	</insert>
	<select id="selectInsDetail" resultType="InsDetailVO">
			SELECT ins_detail_code
		                    , ins_item_code
		                    , ins_value
		                    , ins_result
		                    , ins_code
			 FROM ins_detail
	         WHERE ins_code = #{insCode}
	</select>
		
	<select id="selectMt" resultType="InspectionVO">
		SELECT m.mt_code
	        , m.mt_name
	        , a.ins_item_code
		FROM mt m
		JOIN ins_map a
		ON m.mt_code = a.mt_code
		WHERE a.ins_item_code = ( SELECT ins_item_code
		                         FROM ins_item 
		                         WHERE ins_item_code = ( SELECT ins_item_code
		                                                 FROM ins_detail
		                                                 WHERE ins_code = ( SELECT ins_code
		                                                                    FROM inspection
		                                                                    WHERE mtl_od_detail_code = #{mtlOdDetailCode}
		                                                                    )
		                                                )
		                            )
	
	</select>
	
	
	
	
	
	
	
	
	<select id="selectTest" resultType="InspectionVO">
		SELECT i.ins_item_name
		        , i.ins_item_citeria
		        , i.ins_item_code
		FROM ins_item i
		JOIN ins_map m
		ON m.ins_item_code = i.ins_item_code
		WHERE m.mt_code = #{mtCode}
	</select>
	
	
	<insert id="insertTestInfo" parameterType="InspectionVO">
		<selectKey keyProperty="insDetailCode" order="BEFORE" resultType="string">
		        SELECT 'INSD' || TO_CHAR(SYSDATE, 'YYYYMMDD') || LPAD(INS_DETAIL_SEQ.NEXTVAL, 4, '0') 
		 </selectKey>
		INSERT INTO ins_detail ( ins_detail_code
								, ins_value
								, ins_result
								, ins_code)
	</insert>


	<insert id="insertInspectionInfo" parameterType="InspectionVO">
		    <selectKey keyProperty="insCode" order="BEFORE" resultType="string">
		        SELECT 'INS' || TO_CHAR(SYSDATE, 'YYYYMMDD') || LPAD(INS_SEQ.NEXTVAL, 4, '0') 
		    </selectKey>
		    INSERT INTO inspection (ins_code
			                        , ins_date
			                        , ins_status
			                        , mtl_od_detail_code
			                        )
		    VALUES 					( #{insCode}
		        					, SYSDATE
		        					, #{insStatus}
		        					, #{mtlOdDetailCode}
		        					)
	</insert>
	
	







































	<select id="selectQualityWaitInfo" resultType="MtlOdVO">
		SELECT mtl_od_code
               , mtl_od_quantity
               , mtl_od_date
               , dilivery_date
               , price
               , mt_code
               , cp_code
               , user_id
               , mtl_od_status


		FROM copy_mtl_od
		WHERE mtl_od_status = '입고품질검사대기'

	</select>
	<select id="selectQualityDoneInfo" resultType="InspectionVO">
		SELECT i.ins_date
               , i.ins_code
               , i.ins_status
               , o.cp_code
               , m.mt_name
               , m.specification
               , i.number_of_tests
               , i.number_of_passes
               , i.total_pass
               , o.mtl_od_code
               , o.mt_code
               , i.user_id
               
		FROM copy_mtl_od o
		    JOIN inspection i
		        ON o.mtl_od_code = i.mtl_od_code
		    JOIN copy_mt m
		        ON o.mt_code = m.mt_code
		WHERE i.ins_status = '검사완료'
		and     o.MTL_OD_STATUS not in ('반품', '입고품질검사완료')
	</select>
<!-- 	<select id="selectQualityRegistrationInfo" resultType="InspectionVO">
		SELECT i.ins_code ins_code
		       , i.ins_status
		       , i.ins_date
		       , i.ins_sort
		       , i.ins_target
		       , i.ins_type_code
		       , i.user_id
		       , i.user_name
		       , o.mtl_od_code
		       , o.mtl_od_quantity
		       , o.mtl_od_date
		       , o.dilivery_date
		       , o.price
		       , o.mt_code
		       , o.cp_code
		       , m.mt_name
		FROM mtl_od o
		    JOIN inspection i
		        ON o.mtl_od_code = i.mtl_od_code
		    JOIN mt m
		        ON o.mt_code = m.mt_code
		 WHERE
		 	o.mtl_od_code = #{mtlOdCode}
	</select> -->
	
	<select id="selectQualityRegistrationInfo" resultType="InspectionVO">
		SELECT i.ins_code ins_code
		       , i.ins_status
		       , i.ins_type_code
		       , o.mtl_od_code
		       , o.mtl_od_quantity
		       , o.mtl_od_date
		       , o.dilivery_date
		       , o.price
		       , o.mt_code
		       , o.cp_code
		       , m.mt_name
		FROM copy_mtl_od o
		    JOIN inspection i
		        ON o.mtl_od_code = i.mtl_od_code
		    JOIN copy_mt m
		        ON o.mt_code = m.mt_code
		 WHERE
		 	o.mtl_od_code = #{mtlOdCode}
		 
	</select>
	
	<select id="selectQualityTestInfo" resultType="InspectionVO">
		SELECT  i.ins_item_name ins_item_name
        		,i.ins_item_citeria ins_item_citeria
                , d.ins_value
                , d.ins_result
        FROM ins_detail d
        JOIN ins_item i
        ON d.ins_item_code = i.ins_item_code
        WHERE i.ins_type_code = (SELECT material_type_code
                                 FROM copy_mt
                                 WHERE mt_code = (
                                                        SELECT MATERIAL_TYPE
                                                        FROM    copy_mt
                                                        WHERE   mt_code = (
                                                                            SELECT  mt_code
                                                                            FROM    mtl_od
                                                                            WHERE   mtl_od_code = #{mtlOdCode}
                                                                            )
                                                        )
                                                        
                                )
	</select>


<!--   // 입고등록페이지 - 저장버튼 - inspection.ins_status 검사완료 -->
	<update id="updateInspectionDone" parameterType="InspectionVO">
		UPDATE inspection
		SET ins_status = '검사완료'
		WHERE mtl_od_code = #{mtlOdCode}
	</update>
<!--  // 입고검사완료페이지 - 입고처리 버튼 - mtl_od.mtl_od_status 입고품질검사완료 -->
	<update id="updateMtlOdDone" parameterType="InspectionVO">
		UPDATE copy_mtl_od
		SET mtl_od_status = '입고품질검사완료'
		WHERE mtl_od_code = #{mtlOdCode}
	</update>
<!--  // 입고검사완료페이지 - 입고처리 버튼 - mtl_od.mtl_od_status 반품 -->
	<update id="updateMtlOdBack" parameterType="InspectionVO">
		UPDATE copy_mtl_od
		SET mtl_od_status = '반품'
		WHERE mtl_od_code = #{mtlOdCode}
	</update>
	
	
	
	
	<!-- 자재입고테이블 -->
	<select id="selectMtIn" resultType="InspectionVO">
			SELECT i.number_of_passes
		        , i.user_id
		        , i.ins_code
		        , o.mtl_od_code
		        , o.mt_code
		        , o.cp_code
		FROM inspection i
		JOIN copy_mtl_od o
		    on i.mtl_od_code = o.mtl_od_code
		WHERE mtl_od_status = '입고품질검사완료'
	</select>
	<insert id="insertMtInInfo" parameterType="InspectionVO">
    <selectKey keyProperty="inCode" order="BEFORE" resultType="string">
        SELECT 'IN' || TO_CHAR(SYSDATE, 'YYYYMMDD') || LPAD(MT_IN_SEQ.NEXTVAL, 4, '0') 
        FROM dual
    </selectKey>

    
    INSERT INTO mt_in (
        input_date,
        inquantity, 
        ed, 
        in_code, 
        user_id, 
        mtl_od_code, 
        ins_code, 
        mt_code, 
        cp_code, 
        comm, 
        lot_no
    )
    VALUES (
        SYSDATE,
        #{numberOfPasses},
        ADD_MONTHS(SYSDATE, 6),
        #{inCode},
        #{userId},
        #{mtlOdCode},
        #{insCode},
        #{mtCode},
        #{cpCode},
        #{comm},
        'L' || TO_CHAR(SYSDATE, 'YYYYMMDD') || LPAD(MT_IN_SEQ.CURRVAL, 4, '0')
    )
</insert>
	


</mapper>