<div xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">

	<!-- 페이징 필요하신분 -->
	<th:block th:replace="~{common/configs/default_pageing :: pageing}"></th:block>
	<div class="main-container">
		<div class="pd-ltr-20">
			<h2 class="h2 mb-20">완제품 입/출고 내역</h2>
			<div class="pd-30 card-box mb-20">
				<div class="d-flex justify-content-between align-items-center mb-20">
					<h2 class="h5 mb-0" id="title">입고</h2>
					<div>
						<button class="btn btn-danger" id="inButton">입고</button>
						<button class="btn btn-primary" id="outButton">출고</button>
					</div>
				</div>
				<div id="inGrid"></div>
				<div id="outGrid" style="display : none"></div>
			</div>
		</div>

		<script th:inline="javascript">
			document.addEventListener('DOMContentLoaded', function() {
				
				const inGrid = document.getElementById('inGrid');
		        const outGrid = document.getElementById('outGrid');
				const title = document.getElementById('title');
				
				const outGridData = /*[[${outHistory}]]*/[];
				const inGridData = /*[[${inHistory}]]*/[];
				
				const iGrid = new tui.Grid({
					el : document.getElementById('inGrid'),
					data : inGridData,
					scrollX : false,
					scrollY : false,
					columns : [ {
						header : 'LOT',
						name : 'lot',
						align : 'center',
					}, {
						header : '제품명',
						name : 'prdName',
						align : 'center',
					}, {
						header : '제품코드',
						name : 'prdCode',
						align : 'center',
					}, {
						header : '입고일자',
						name : 'inDate',
						align : 'center',
					}, {
						header : '유통기한',
						name : 'ed',
						align : 'center',
					}, {
						header : '입고량',
						name : 'inQuantity',
						align : 'center',
					}, ],
					rowHeaders : [ 'rowNum' ],
					pageOptions : {
						useClient : true,
						perPage : 10
					}
				});
				
				const oGrid = new tui.Grid({
					el : document.getElementById('outGrid'),
					data : outGridData,
					scrollX : false,
					scrollY : false,
					columns : [ {
						header : 'LOT',
						name : 'lot',
						align : 'center',
					}, {
						header : '제품명',
						name : 'prdName',
						align : 'center',
					}, {
						header : '업체명',
						name : 'cpName',
						align : 'center',
					}, {
						header : '출고일자',
						name : 'outDate',
						align : 'center',
					}, {
						header : '출고량',
						name : 'outQuantity',
						align : 'center',
					}, ],
					rowHeaders : [ 'rowNum' ],
					pageOptions : {
						useClient : true,
						perPage : 10
					}
				});
				
				// 입고 버튼 클릭 이벤트
		        document.getElementById('inButton').addEventListener('click', function() {
		            inGrid.style.display = 'block'; // 입고 그리드 보이기
		            outGrid.style.display = 'none'; // 출고 그리드 숨기기
		            title.textContent = '입고';
		            iGrid.refreshLayout();
		        });

		        // 출고 버튼 클릭 이벤트
		        document.getElementById('outButton').addEventListener('click', function() {
		            outGrid.style.display = 'block'; // 출고 그리드 보이기
		            inGrid.style.display = 'none'; // 입고 그리드 숨기기
		            title.textContent = '출고';
		            oGrid.refreshLayout();
		        });
			});
		</script>
	</div>