<div xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">

	<!-- 페이징 필요하신분 -->
	<th:block th:replace="~{common/configs/default_pageing :: pageing}"></th:block>
	<div class="main-container">
		<div class="pd-ltr-20">
			<h2 class="h2 mb-20">주문 내역</h2>
			<div class="pd-30 card-box mb-20">
				<form>
					<div class="form-group row">
						<label class="col-sm-12 col-md-1 col-form-label">업체명</label>
						<div class="col-sm-12 col-md-3">
							<input class="form-control" type="text" placeholder="업체명">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-1 col-form-label">주문일자</label>
						<div class="col-sm-12 col-md-3">
							<input class="form-control" type="date">
						</div>
						<div
							class="col-sm-12 col-md-auto d-flex align-items-center justify-content-center">
							<span style="font-size: 1rem;">~</span>
						</div>
						<div class="col-sm-12 col-md-3">
							<input class="form-control" type="date">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-1 col-form-label">납기일자</label>
						<div class="col-sm-12 col-md-3">
							<input class="form-control" type="date">
						</div>
						<div
							class="col-sm-12 col-md-auto d-flex align-items-center justify-content-center">
							<span style="font-size: 1rem;">~</span>
						</div>
						<div class="col-sm-12 col-md-3">
							<input class="form-control" type="date">
						</div>
						<div class="col-sm-12 col-md-3">
							<button class="btn btn-dark">조회</button>
							<button class="btn btn-dark">초기화</button>
						</div>
					</div>
				</form>
			</div>
			<div id="gridOrder"></div>
			<div id="gridOrderDetail" style="opacity : 0"></div>
		</div>
	</div>

	<script th:inline="javascript">
		document.addEventListener('DOMContentLoaded', function() {
			const gridData = /*[[${ord}]]*/[];
			const gridModalData = /*[[${ordDetail}]]*/[];

			const grid = new tui.Grid({
				el : document.getElementById('gridOrder'),
				data : gridData,
				scrollX : false,
				scrollY : false,
				columns : [ {
					header : '주문코드',
					name : 'ordCode',
					align : 'center',
				}, {
					header : '업체명',
					name : 'cpName',
					align : 'center',
				}, {
					header : '주문일자',
					name : 'ordDate',
					align : 'center',
				}, {
					header : '납기일자',
					name : 'dlvReqDate',
					align : 'center',
				}, {
					header : '진행상황',
					name : 'ordStatus',
					align : 'center',
				}, {
					header : '요청사항',
					name : 'comm',
					align : 'center',
				}, ],
				rowHeaders : [ 'rowNum' ],
				pageOptions : {
					useClient : true,
					perPage : 10
				}
			});
			
			grid.on('click', (ev) => {
			    const rowKey = ev.rowKey;
			    const ordCodeValue = grid.getValue(rowKey, 'ordCode');
			    
			    if(ordCodeValue) {
			    	$.ajax({
			    		url : '/getOrderDetail',
			    		type : 'POST',
			    		contentType : 'application/json',
			    		data : JSON.stringify({ordCode : ordCodeValue}),
			    		success: function(response) {
			    			console.log('Order details received:', response);
			    			document.getElementById('gridOrderDetail').style.opacity = 1;
			    			gridmodal.resetData(response); 
			    		},
			    		error: function(xhr, status, error) {
			    			console.error('error during request', error);
			    		}
			    	});
			    }
			    
			});
			
			
			const gridmodal = new tui.Grid({
				el : document.getElementById('gridOrderDetail'),
				data : gridModalData,
				scrollX : false,
				scrollY : false,
				columns : [ {
					header : '주문코드',
					name : 'ORDCODE',
					align : 'center',
				}, {
					header : '제품명',
					name : 'PRDNAME',
					align : 'center',
				}, {
					header : '제품코드',
					name : 'PRDCODE',
					align : 'center',
				}, {
					header : '주문량',
					name : 'ORDQUANTITY',
					align : 'center',
				}, ],
				rowHeaders : [ 'rowNum' ],
				pageOptions : {
					useClient : true,
					perPage : 5
				}
			});
		});
	</script>
</div>