<div xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
	
	<head>
    	<title>주문내역</title>
    	<style>
    	
    		#orderGrid:hover {
    			cursor: pointer;
    		}
    	
	    	#gridOrder:hover {
	    		cursor: pointer;
	    	}
	    	
	    	#deleteOrderGrid:hover {
	    		cursor: pointer;
	    	}
	    	
	    	.btn {
	    		background-color: #0b132b; 
	    		color: #ffffff;
	    	}
	    	
	    	.btn:hover {
			    background-color: #2f08cc;
			    color: #ffffff;
			}
			
			.modal-dialog-centered {
    			display: flex;
    			align-items: center;
    			justify-content: center;
    			margin: auto;
			}
			
    	</style>
	</head>

	<!-- 페이징 필요하신분 -->
	<th:block th:replace="~{common/configs/default_pageing :: pageing}"></th:block>
		<h2 class="h2 mb-10" style="font-size: 32px;">주문내역</h2>
		<div class="mb-20 d-flex align-items-center" style="font-size: 18px; font-weight: bold;">
			<i class="fa-solid fa-house" style="margin-right : 8px;"></i> > 영업  >  <span style="color: #575757; margin-left : 8px;">주문내역</span>
		</div>
		<div class="pd-30 card-box mb-20">
			<div class="d-flex justify-content-between align-items-center">
				<h2 class="h5">주문검색</h2>
				<div class="d-flex">
					<div style="text-align: center">
						<button class="btn" type="button" onclick="resetForm()">초기화</button>
					</div>
				</div>
			</div>
			<hr style="border: 0; height: 2px; background: #ccc;">
			
			<form>
				<div class="form-group row" style="display: flex; align-items: center; flex-wrap: wrap;">
				    <label class="col-sm-12 col-md-1 col-form-label">진행상황</label>
				    <div class="col-sm-12 col-md-3 d-flex" style="flex-wrap: wrap; min-width: 350px;">
				        <div style="margin-right: 30px; display: flex; align-items: center;">
				            <input type="radio" id="option1" name="option" value="" style="margin-right: 8px;" checked="checked">
				            <label for="option1" style="margin-bottom: 0px;">전체</label>
				        </div>
				        
				        <div style="margin-right: 30px; display: flex; align-items: center;">
				            <input type="radio" id="option2" name="option" value="주문접수" style="margin-right: 8px;">
				            <label for="option2" style="margin-bottom: 0px;">주문접수</label>
				        </div>
				        
				        <div style="margin-right: 30px; display: flex; align-items: center;">
				            <input type="radio" id="option3" name="option" value="출고완료" style="margin-right: 8px;">
				            <label for="option3" style="margin-bottom: 0px;">출고완료</label>
				        </div>     
				    </div>
				</div>
				
				<hr>
				
				<div class="form-group row">
					<label class="col-sm-12 col-md-1 col-form-label" for="companyName">업체명</label>
					<div class="col-sm-12 col-md-3">
						<input class="form-control" id="companyName" type="text" placeholder="업체명" oninput="performSearch()">
					</div>
				</div>
				
				<hr>

				<div class="form-group row">
					<label class="col-sm-12 col-md-1 col-form-label">주문일자</label>
					<div class="col-sm-12 col-md-3">
						<input class="form-control" id="orderStartDate" type="date" oninput="performSearch()">
					</div>
					<div
						class="col-sm-12 col-md-auto d-flex align-items-center justify-content-center">
						<span style="font-size: 1rem;">-</span>
					</div>
					<div class="col-sm-12 col-md-3">
						<input class="form-control" id="orderEndDate" type="date" oninput="performSearch()">
					</div>
				</div>
				
				<hr>

				<div class="form-group row">
					<label class="col-sm-12 col-md-1 col-form-label">납기일자</label>
					<div class="col-sm-12 col-md-3">
						<input class="form-control" id="deliveryStartDate" type="date" oninput="performSearch()">
					</div>
					<div
						class="col-sm-12 col-md-auto d-flex align-items-center justify-content-center">
						<span style="font-size: 1rem;">-</span>
					</div>
					<div class="col-sm-12 col-md-3">
						<input class="form-control" id="deliveryEndDate" type="date" oninput="performSearch()">
					</div>
				</div>
			</form>
		</div>
		
		<div class="pd-30 card-box mb-20" id="orderCard">
			<div class="d-flex justify-content-between align-items-center mb-20">
				<h2 class="h5">주문목록</h2>
				<div class="d-flex">
					<div style="text-align: center">
						<button class="btn" type="button" onclick="deleteGrid()">주문삭제</button>
					</div>
				</div>
			</div>
			<div id="orderGrid"></div>
		</div>
		
		<div class="pd-30 card-box mb-20" id="orderDetail" style="display : none">
			<h2 class="h5 mb-20">주문상세</h2>
			<div id="gridOrderDetail"></div>
		</div>
		
		<div class="modal" id="orderDeleteModal">
			<div class="modal-dialog-centered modal-xl">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">주문삭제</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<!-- Modal body -->
					<div class="modal-body">
						    <h5 class="h5 mb-20">주문목록</h5>
							<div class="mb-20" id="deleteOrderGrid"></div>
							
							<h5 class="h5 mb-20" id="deleteOrderGridTitle" style="display: none">주문상세</h5>
							<div id="deleteOrderDetailGrid" style="display: none"></div>
					</div>
					<!-- Modal footer -->
					<div class="modal-footer justify-content-center">
						<button type="button" class="btn" onclick="deleteSendCheckedRows()">삭제</button>
						<button type="button" class="btn" data-dismiss="modal" id="cancelBtn">취소</button>
					</div>
				</div>
			</div>
		</div>
			
	<script th:inline="javascript">
		let grid;
		let deleteOrderGrid;
		
		document.addEventListener('DOMContentLoaded', function() {
			
			const gridData = /*[[${ord}]]*/[];
			const gridDeleteData = /*[[${ordDelete}]]*/[];
			
			const gridModalData = /*[[${ordDetail}]]*/[];
			const gridDeleteModalData = /*[[${ordDetail}]]*/[];

			grid = new tui.Grid({
				el : document.getElementById('orderGrid'),
				data : gridData,
				scrollX : false,
				scrollY : true,
				columns : [ {
					header : '주문코드',
					name : 'ordCode',
					align : 'center',
				},{
					header : '담당자',
					name : 'userName',
					align : 'center',
				}, {
					header : '업체명',
					name : 'cpName',
					align : 'center',
				}, {
					header : '주문일자',
					name : 'ordDate',
					align : 'center',
				}, {
					header : '납기일자',
					name : 'dlvReqDate',
					align : 'center',
				}, {
					header : '진행상황',
					name : 'ordStatus',
					align : 'center',
				}, {
					header : '요청사항',
					name : 'comm',
					align : 'center',
				},],
				rowHeaders : [ 'rowNum' ],
				bodyHeight: 200,
				pageOptions: {
				    type: 'scroll',
				    perPage: 10 
				},
			});
			
			function fetchGrid() {
				fetch('/getOrder')
	            .then(response => {
	                if (!response.ok) {
	                    throw new Error('Network response was not ok');
	                }
	                return response.json();
	            })
	            .then(data => {
	                grid.resetData(data); // TOAST UI Grid에 데이터 설정
	    			grid.getData().forEach(row => {
	    			    if (row.ordStatus === '재고부족') {
	    			    	grid.addCellClassName(row.rowKey, 'ordStatus', 'bg-light-pink'); // ordStatus 열의 클래스 추가
	    			    } else if (row.ordStatus === '계획반영') {
	    			    	grid.addCellClassName(row.rowKey, 'ordStatus', 'bg-warning');
	    			    }
	    			});
	            })
	            .catch(error => {
	                console.error('Error fetching out orders:', error);
	            });
			}
			
			fetchGrid();
			
			deleteOrderGrid = new tui.Grid({
				el : document.getElementById('deleteOrderGrid'),
				data : gridDeleteData,
				scrollX : false,
				scrollY : true,
				columns : [ {
					header : '주문코드',
					name : 'ordCode',
					align : 'center',
				},{
					header : '담당자',
					name : 'userName',
					align : 'center',
				}, {
					header : '업체명',
					name : 'cpName',
					align : 'center',
				}, {
					header : '주문일자',
					name : 'ordDate',
					align : 'center',
				}, {
					header : '납기일자',
					name : 'dlvReqDate',
					align : 'center',
				}, {
					header : '진행상황',
					name : 'ordStatus',
					align : 'center',
				}, {
					header : '요청사항',
					name : 'comm',
					align : 'center',
				},],
				rowHeaders : [ 'checkbox' ],
				bodyHeight: 200,
				pageOptions: {
				    type: 'scroll',
				    perPage: 10 
				},
			});
			
			const deleteOrderDetailGrid = new tui.Grid({
				el : document.getElementById('deleteOrderDetailGrid'),
				data : gridDeleteModalData,
				scrollX : false,
				scrollY : false,
				columns : [ {
					header : '주문코드',
					name : 'ORDCODE',
					align : 'center',
				}, {
					header : '제품명',
					name : 'PRDNAME',
					align : 'center',
				}, {
					header : '제품코드',
					name : 'PRDCODE',
					align : 'center',
				}, {
					header : '주문량',
					name : 'ORDQUANTITY',
					align : 'center',
				}, {
					header : '부족량',
					name : 'LACKQUANTITY',
					align : 'center',
				},],
				rowHeaders : [ 'rowNum' ],
				pageOptions : {
					useClient : true,
					perPage : 5
				}
			});
			
			function fetchDeleteGrid() {
				fetch('/getDeleteOrder')
	            .then(response => {
	                if (!response.ok) {
	                    throw new Error('Network response was not ok');
	                }
	                return response.json();
	            })
	            .then(data => {
	                deleteOrderGrid.resetData(data); // TOAST UI Grid에 데이터 설정
	    			deleteOrderGrid.getData().forEach(row => {
	    			    if (row.ordStatus === '재고부족') {
	    			    	deleteOrderGrid.addCellClassName(row.rowKey, 'ordStatus', 'bg-light-pink'); // ordStatus 열의 클래스 추가
	    			    }
	    			});
	    			deleteOrderGrid.on('click', (ev) => {
	    			    const rowKey = ev.rowKey;
	    			    const ordCodeValue = deleteOrderGrid.getValue(rowKey, 'ordCode');
	    			    if(ordCodeValue) {
	    			    	$.ajax({
	    			    		url : '/getOrderDetail',
	    			    		type : 'POST',
	    			    		contentType : 'application/json',
	    			    		data : JSON.stringify({ordCode : ordCodeValue}),
	    			    		success: function(response) {
	    			    			document.getElementById('deleteOrderDetailGrid').style.display = 'block';
	    			    			document.getElementById('deleteOrderGridTitle').style.display = 'block';
	    			    			deleteOrderDetailGrid.resetData(response);
	    			    			deleteOrderDetailGrid.refreshLayout();

	    			    			// 재고부족인 경우 배경색 변경
	    			    			const lackOrdCodes = grid.getData()
	    			    			    .filter(row => row.ordStatus === '재고부족')
	    			    			    .map(row => row.ordCode);

	    			    			// 각 lackOrdCode에 대해 rowKey를 찾고 배경색 변경
	    			    			lackOrdCodes.forEach(lackOrdCode => {
	    			    				deleteOrderDetailGrid.getData().forEach(row => {
	    			    			        if (row.ORDCODE === lackOrdCode) {
	    			    			        	deleteOrderDetailGrid.addCellClassName(row.rowKey, 'LACKQUANTITY', 'bg-light-pink');
	    			    			        }
	    			    			    });
	    			    			});	                
	    			    		},
	    			    		error: function(xhr, status, error) {
	    			    			console.error('error during request', error);
	    			    		}
	    			    	});
	    			    }  
	    			});
	            })
	            .catch(error => {
	                console.error('Error fetching out orders:', error);
	            });
			}
			
			fetchDeleteGrid();
			
			const gridModal = new tui.Grid({
				el : document.getElementById('gridOrderDetail'),
				data : gridModalData,
				scrollX : false,
				scrollY : false,
				columns : [ {
					header : '주문코드',
					name : 'ORDCODE',
					align : 'center',
				}, {
					header : '제품명',
					name : 'PRDNAME',
					align : 'center',
				}, {
					header : '제품코드',
					name : 'PRDCODE',
					align : 'center',
				}, {
					header : '주문량',
					name : 'ORDQUANTITY',
					align : 'center',
				}, {
					header : '부족량',
					name : 'LACKQUANTITY',
					align : 'center',
				},],
				rowHeaders : [ 'rowNum' ],
				pageOptions : {
					useClient : true,
					perPage : 5
				}
			});
			
			grid.on('click', (ev) => {
			    const rowKey = ev.rowKey;
			    const ordCodeValue = grid.getValue(rowKey, 'ordCode');
			    
			    if(ordCodeValue) {
			    	$.ajax({
			    		url : '/getOrderDetail',
			    		type : 'POST',
			    		contentType : 'application/json',
			    		data : JSON.stringify({ordCode : ordCodeValue}),
			    		success: function(response) {
			    			document.getElementById('orderDetail').style.display = 'block';
			    			gridModal.resetData(response);
			    			gridModal.refreshLayout();

			    			// 재고부족인 경우 배경색 변경
			    			const lackOrdCodes = grid.getData()
			    			    .filter(row => row.ordStatus === '재고부족')
			    			    .map(row => row.ordCode);

			    			// 각 lackOrdCode에 대해 rowKey를 찾고 배경색 변경
			    			lackOrdCodes.forEach(lackOrdCode => {
			    			    gridModal.getData().forEach(row => {
			    			        if (row.ORDCODE === lackOrdCode && row.LACKQUANTITY > 0) {
			    			            gridModal.addCellClassName(row.rowKey, 'LACKQUANTITY', 'bg-light-pink');
			    			        }
			    			    });
			    			});

			    			// ordStatus가 '계획반영'인 경우 배경색 변경
			    			const planOrdCodes = grid.getData()
			    			    .filter(row => row.ordStatus === '계획반영')
			    			    .map(row => row.ordCode);

			    			// 각 planOrdCode에 대해 rowKey를 찾고 배경색 변경
			    			planOrdCodes.forEach(planOrdCode => {
			    			    gridModal.getData().forEach(row => {
			    			        if (row.ORDCODE === planOrdCode && row.LACKQUANTITY > 0) {
			    			            gridModal.addCellClassName(row.rowKey, 'LACKQUANTITY', 'bg-warning');
			    			        }
			    			    });
			    			});
			                
			    		},
			    		error: function(xhr, status, error) {
			    			console.error('error during request', error);
			    		}
			    	});
			    }  
			});
		});
		
		const radioButtons = document.querySelectorAll('input[name="option"]');
	    radioButtons.forEach(radio => {
	        radio.addEventListener('change', function() {
	            performSearch(); // 여기에서 원하는 함수를 호출
	        });
	    });
	    
	    function resetForm() {
			// 입력 필드를 초기화
			document.getElementById('companyName').value = '';
			document.getElementById('orderStartDate').value = '';
			document.getElementById('orderEndDate').value = '';
			document.getElementById('deliveryStartDate').value = '';
			document.getElementById('deliveryEndDate').value = '';

			// 라디오 버튼 초기화
			const radios = document.getElementsByName('option');
			radios.forEach(radio => {
				radio.checked = false; // 모든 라디오 버튼 체크 해제
			});
			
			document.getElementById('option1').checked = true; // '전체' 라디오 버튼 선택
			document.getElementById('orderDetail').style.display = 'none';
			performSearch();
		}
		
		function performSearch() {
		    const companyName = document.getElementById('companyName').value;
		    const orderStartDate = document.getElementById('orderStartDate').value;
		    const orderEndDate = document.getElementById('orderEndDate').value;
		    const deliveryStartDate = document.getElementById('deliveryStartDate').value;
		    const deliveryEndDate = document.getElementById('deliveryEndDate').value;
		    
		    const selectedOption = document.querySelector('input[name="option"]:checked');
		    const orderStatus = selectedOption ? selectedOption.value : null; // 선택된 값이 없을 경우 null 처리
		    
		    const searchCriteria = {
		        companyName: companyName,
		        orderStartDate: orderStartDate,
		        orderEndDate: orderEndDate,
		        deliveryStartDate: deliveryStartDate,
		        deliveryEndDate: deliveryEndDate,
		        orderStatus: orderStatus 
		    };

		    $.ajax({
		        url: '/searchOrder',
		        type: 'POST',
		        contentType: 'application/json',
		        data: JSON.stringify(searchCriteria),
		        success: function(response) {
		            grid.resetData(response);
		            grid.getData().forEach(row => {
					    if (row.ordStatus === '재고부족') {
					    	grid.addCellClassName(row.rowKey, 'ordStatus', 'bg-light-pink');
					    } else if(row.ordStatus == '계획반영') {
					    	grid.addCellClassName(row.rowKey, 'ordStatus', 'bg-warning');
					    }
					});
		        },
		        error: function(xhr, status, error) {
		            console.error('Error fetching search results:', error);
		        }
		    });
		}
		
		function deleteGrid() {
			$('#orderDeleteModal').modal('show');
			document.getElementById('deleteOrderGridTitle').style.display = 'none';
			document.getElementById('deleteOrderDetailGrid').style.display = 'none';
			deleteOrderGrid.refreshLayout();
		}
		
		function deleteSendCheckedRows() {
			
		    let checkedRows = deleteOrderGrid.getCheckedRows();
		    
		    if (checkedRows.length === 0) {
                Swal.fire({
                    icon: 'warning',
                    title: '주문삭제 선택',
                    text: '삭제할 주문을 선택해주세요.',
                });
		        return;
		    }
		    
		    let ordCodes = checkedRows.map(row => row.ordCode);
		    
		    const isConfirmed = Swal.fire({
	            title: '주문삭제',
	            text: "주문을 삭제하시겠습니까?",
	            icon: 'warning',
	            showCancelButton: true,
	            confirmButtonColor: '#3085d6',
	            cancelButtonColor: '#d33',
	            confirmButtonText: '삭제',
	            cancelButtonText: '취소'
		        }).then((result) => {
		            if (result.isConfirmed) {
		            	const payload = {
		    		            orderVO: ordCodes,    // 폼 데이터 (주문 정보)
		    		        };

		    		        $.ajax({
		    		            url: '/orderDelete',
		    		            type: 'POST',
		    		            contentType: 'application/json',
		    		            data: JSON.stringify(payload),
		    		            success: function(response) {
		    		            	Swal.fire({
		    		                    icon: 'success',
		    		                    title: '주문삭제 완료',
		    		                    text: '주문이 삭제되었습니다.',
		    		                }).then(() => {
		    		                    window.location.href = "orderHistory";
		    		                });
		    		            },
		    		            error: function(xhr, status, error) {
		    		                console.error('Error during AJAX request:', error);
		    		                Swal.fire({
		    		                    icon: 'warning',
		    		                    title: '주문삭제 오류',
		    		                    text: '주문 삭제 중 오류가 발생했습니다.',
		    		                });
		    		            }
		    		       });
		    		    }
	        })
		    
		}
	</script>
</div>