<div xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">

	<!-- 페이징 필요하신분 -->
	<th:block th:replace="~{common/configs/default_pageing :: pageing}"></th:block>
	<div class="main-container">
		<div class="pd-ltr-20">
			<h2 class="h2 mb-20">완제품 관리</h2>
			<div class="pd-30 card-box mb-20">
				<h4 class="h5 mb-20">제품 선택</h4>
				<div id="selectProduct"></div>
			</div>
			<div id="selectProductLot" style="opacity : 0"></div>
		</div>
	</div>

	<script th:inline="javascript">
		document.addEventListener('DOMContentLoaded', function() {
			const productGridData = /*[[${products}]]*/[];
			const productLotGridData = /*[[${productManagement}]]*/[];

			const productGrid = new tui.Grid({
				el : document.getElementById('selectProduct'),
				data : productGridData,
				scrollX : false,
				scrollY : false,
				columns : [ {
					header : '제품명',
					name : 'prdName',
					align : 'center',
				}, {
					header : '제품코드',
					name : 'prdCode',
					align : 'center',
				}, {
					header : '단가',
					name : 'unitPrice',
					align : 'center',
				}, {
					header : '재고',
					name : 'stcQuantity',
					align : 'center',
				}, ],
				rowHeaders : [ 'rowNum' ],
				pageOptions : {
					useClient : true,
					perPage : 10
				}
			});
			
			productGrid.on('click', (ev) => {
			    const rowKey = ev.rowKey;
			    const prdCodeValue = productGrid.getValue(rowKey, 'prdCode');
			    console.log(prdCodeValue);
			    
			    if(prdCodeValue) {
			    	$.ajax({
			    		url : '/getProductDetail',
			    		type : 'POST',
			    		contentType : 'application/json',
			    		data : JSON.stringify({prdCode : prdCodeValue}),
			    		success: function(response) {
			    			console.log('Order details received:', response);
			    			document.getElementById('selectProductLot').style.opacity = 1;
			    			productLotGrid.resetData(response);
			    		},
			    		
			    	});
			    }
			});

			const productLotGrid = new tui.Grid({
				el : document.getElementById('selectProductLot'),
				data : productLotGridData,
				scrollX : false,
				scrollY : false,
				columns : [ {
					header : '제품명',
					name : 'PRD_NAME',
					align : 'center',
				}, {
					header : '제품코드',
					name : 'PRD_CODE',
					align : 'center',
				}, {
					header : 'LOT',
					name : 'LOT',
					align : 'center',
				}, {
					header : '제조일자',
					name : 'MD',
					align : 'center',
				}, {
					header : '유통기한',
					name : 'ED',
					align : 'center',
				}, {
					header : '수량',
					name : 'STC_QUANTITY',
					align : 'center',
				}, ],
				rowHeaders : [ 'rowNum' ],
				pageOptions : {
					useClient : true,
					perPage : 10
				}
			});
		});
	</script>
</div>