<div xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">

	<!-- 페이징 필요하신분 -->
	<th:block th:replace="~{common/configs/default_pageing :: pageing}"></th:block>
	<div class="main-container">
		<div class="pd-ltr-20">
			<h2 class="h2 mb-20">완제품 출고</h2>
			
			<div class="pd-30 card-box mb-20">
				<h4 class="h5 mb-20">주문내역</h4>
				<div id="gridOrder"></div>
			</div>
			
			<!-- The Modal -->
			<div class="modal" id="myModal">
				<div class="modal-dialog modal-xl">
					<div class="modal-content">
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">출고접수</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<!-- Modal body -->
						<div class="modal-body">
							    <h5 class="h5">주문목록</h5>
								<div id="gridOrderDetail"></div>
								<div id="selectProductLot"></div>
						</div>
						<!-- Modal footer -->
						<div class="modal-footer justify-content-center">
							<button type="button" class="btn btn-primary" data-dismiss="modal" id="submitBtn">등록</button>
							<button type="button" class="btn btn-danger" data-dismiss="modal" id="cancelBtn">취소</button>
						</div>
					</div>
				</div>
			</div>
			
			<div class="pd-30 card-box mb-20">
				<h4 class="h5 mb-20">출고현황</h4>
				<div id=""></div>
			</div>
		</div>
	</div>

	<script th:inline="javascript">
		document.addEventListener('DOMContentLoaded', function() {
			const gridData = /*[[${orderGrid}]]*/[];
			const gridModalData = /*[[${ordDetail}]]*/[];
			const productLotGridData = /*[[${ordDetail}]]*/[];
			
			let outValue = 0; // 출고량 값
			let lotValue = 0; // LOT 값
			
			let outLotData = [];
			let outPrdData = [];
			
			let selectProductLot = document.getElementById('selectProductLot');

			const grid = new tui.Grid({
				el : document.getElementById('gridOrder'),
				data : gridData,
				scrollX : false,
				scrollY : false,
				columns : [ {
					header : '주문코드',
					name : 'ordCode',
					align : 'center',
				}, {
					header : '업체명',
					name : 'cpName',
					align : 'center',
				}, {
					header : '주문일자',
					name : 'ordDate',
					align : 'center',
				}, {
					header : '납기일자',
					name : 'dlvReqDate',
					align : 'center',
				}, {
					header : '진행상황',
					name : 'ordStatus',
					align : 'center',
				}, ],
				rowHeaders : [ 'rowNum' ],
				pageOptions : {
					useClient : true,
					perPage : 10
				}
			});
			
			
			const gridModal = new tui.Grid({
				el : document.getElementById('gridOrderDetail'),
				data : gridModalData,
				scrollX : false,
				scrollY : false,
				columns : [ {
					header : '주문코드',
					name : 'ORDCODE',
					align : 'center',
				}, {
					header : '제품명',
					name : 'PRDNAME',
					align : 'center',
				}, {
					header : '제품코드',
					name : 'PRDCODE',
					align : 'center',
				}, {
					header : '주문량',
					name : 'ORDQUANTITY',
					align : 'center',
				}, {
					header : '미출고량',
					name : 'remainQuantity',
					align : 'center',
				},{
					header : '출고량',
					name : 'totalOutQuantity',
					align : 'center',
				},],
				rowHeaders : [ 'rowNum' ],
				pageOptions : {
					useClient : true,
					perPage : 5
				}
			});
			
			let totalOutQuantity = 0;
			
			gridModal.on('click', (ev) => {
				productLotGrid.refreshLayout();
			    const rowKey = ev.rowKey;
			    const prdCodeValue = gridModal.getValue(rowKey, 'PRDCODE');
			    totalOutQuantity = 0;
			    console.log(prdCodeValue);
			    if(prdCodeValue) {
			    	$.ajax({
			    		url : '/getPrdLotDetail',
			    		type : 'POST',
			    		contentType : 'application/json',
			    		data : JSON.stringify({prdCode : prdCodeValue}),
			    		success: function(response) {
			    			selectProductLot.style.display = 'block';
			    			productLotGrid.resetData(response); 
			    			productLotGrid.refreshLayout();
			    		},
			    	});
			    }
			});
			
			const productLotGrid = new tui.Grid({
				el : document.getElementById('selectProductLot'),
				data : productLotGridData,
				scrollX : false,
				scrollY : false,
				columns : [ {
					header : '제품명',
					name : 'PRD_NAME',
					align : 'center',
				}, {
					header : '제품코드',
					name : 'PRD_CODE',
					align : 'center',
				}, {
					header : 'LOT',
					name : 'LOT',
					align : 'center',
				}, {
					header : '제조일자',
					name : 'MD',
					align : 'center',
				}, {
					header : '유통기한',
					name : 'ED',
					align : 'center',
				}, {
					header : '수량',
					name : 'STC_QUANTITY',
					align : 'center',
				}, {
					header : '출고량',
					name : 'OUT_QUANTITY',
					align : 'center',
					editor: 'text',
				},
				
				],
				rowHeaders : [ 'rowNum' ],
				pageOptions : {
					useClient : true,
					perPage : 10
				}
			});
			
			
			grid.on('click', (ev) => {
				let outLotData = [];
			    const rowKey = ev.rowKey;
			    const ordCodeValue = grid.getValue(rowKey, 'ordCode');
			    selectProductLot.style.display = 'none';
			    productLotGrid.refreshLayout();
			    
			    if(ordCodeValue) {
			    	$.ajax({
			    		url : '/getOrdDetail',
			    		type : 'POST',
			    		contentType : 'application/json',
			    		data : JSON.stringify({ordCode : ordCodeValue}),
			    		success: function(response) {
			    			console.log('Order details received:', response);
			    			document.getElementById('gridOrderDetail').style.opacity = 1;
			    			gridModal.resetData(response); 
			    			$('#myModal').modal('show');
			    			gridModal.refreshLayout();
			    		},
			    	});
			    }
			});

			productLotGrid.on('editingFinish', (ev) => {
			    const { value } = ev; // 입력된 출고량
			    const rowKey = ev.rowKey; // 현재 수정 중인 행의 키
			    const lotValue = productLotGrid.getValue(rowKey, 'LOT'); // LOT 값 가져오기
			    const productName = productLotGrid.getValue(rowKey, 'PRD_NAME'); // 제품명 가져오기

			    // 출고량을 해당 행에 설정
			    productLotGrid.setValue(rowKey, 'OUT_QUANTITY', value);

			    // 현재 그리드의 모든 행을 반복하면서
			    const rowCount = productLotGrid.getRowCount();
			    for (let i = 0; i < rowCount; i++) {
			        const currentLot = productLotGrid.getValue(i, 'LOT'); // 현재 행의 LOT 값
			        const currentOutQuantity = productLotGrid.getValue(i, 'OUT_QUANTITY'); // 현재 행의 출고량

			        // 만약 출고량이 입력되어 있다면 outData에 추가, 중복 체크
			        if (currentOutQuantity && !outLotData.some(item => item.lot === currentLot)) {
			        	outLotData.push({
			                lot: currentLot,
			                outQuantity: Number(currentOutQuantity)
			            });
			            totalOutQuantity += Number(currentOutQuantity);
			        }
			    }

			    const orderRowCount = gridModal.getRowCount(); // 주문 목록의 행 수
			    for (let j = 0; j < orderRowCount; j++) {
			    	const orderProductName = gridModal.getValue(j, 'PRDNAME'); // 주문 목록에서 제품명 가져오기
			        // 제품명이 sjcon과 일치하는지 확인
			        if (productName === orderProductName) {
			            // 주문 목록의 출고량 업데이트
			            gridModal.setValue(j, 'totalOutQuantity', Number(totalOutQuantity)); // 출고량 업데이트
			            break; // 일치하는 첫 번째 제품을 찾으면 루프 종료
			        }
			    }
			});
			
			document.getElementById('submitBtn').addEventListener('click', () => {
			    
				const rowCount = productLotGrid.getRowCount();
			    
			    for (let i = 0; i < rowCount; i++) {
			        productLotGrid.setValue(i, 'OUT_QUANTITY', ""); // 각 행의 출고량을 0으로 설정
			    }

			    // outLotData 초기화
			    console.log(outLotData);
			    outLotData = [];
			    
			    // 그리드 레이아웃 새로고침
			    productLotGrid.refreshLayout();
			});
			
			document.getElementById('cancelBtn').addEventListener('click', () => {
				const rowCount = productLotGrid.getRowCount();
				
				for (let i = 0; i < rowCount; i++) {
			        productLotGrid.setValue(i, 'OUT_QUANTITY', ""); // 각 행의 출고량을 0으로 설정
			    }
				
			    totalOutQuantity = 0; 
			    
			    outLotData = [];
			    
			 	// 그리드 레이아웃 새로고침
			    productLotGrid.refreshLayout();
			});


		});
	</script>
</div>