<div xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">

	<!-- 페이징 필요하신분 -->
	<th:block th:replace="~{common/configs/default_pageing :: pageing}"></th:block>
	<div class="main-container">
		<div class="pd-ltr-20">
			<h2 class="h2 mb-20">완제품 관리</h2>
			<div class="pd-30 card-box mb-20">
				<h4 class="h5 mb-20">제품 선택</h4>
				<div id="selectProduct"></div>
			</div>
			<div id="showProduct"></div>
		</div>
	</div>

	<script th:inline="javascript">
		document.addEventListener('DOMContentLoaded', function() {
			const productLotgridData = /*[[${productManagement}]]*/[];
			const productGridData = /*[[${products}]]*/[];

			const productGrid = new tui.Grid({
				el : document.getElementById('selectProduct'),
				data : productGridData,
				scrollX : false,
				scrollY : false,
				columns : [ {
					header : '제품명',
					name : 'prdName',
					align : 'center',
				}, {
					header : '제품코드',
					name : 'prdCode',
					align : 'center',
				}, {
					header : '단가',
					name : 'unitPrice',
					align : 'center',
				}, {
					header : '재고',
					name : 'stcQuantity',
					align : 'center',
				}, ],
				rowHeaders : [ 'rowNum' ],
				pageOptions : {
					useClient : true,
					perPage : 10
				}
			});

			const productLotgrid = new tui.Grid({
				el : document.getElementById('showProduct'),
				data : productLotgridData,
				scrollX : false,
				scrollY : false,
				columns : [ {
					header : '제품명',
					name : 'prdName',
					align : 'center',
				}, {
					header : '제품코드',
					name : 'prdCode',
					align : 'center',
				}, {
					header : 'LOT',
					name : 'lot',
					align : 'center',
				}, {
					header : '제조일자',
					name : 'md',
					align : 'center',
				}, {
					header : '유통기한',
					name : 'ed',
					align : 'center',
				}, {
					header : '수량',
					name : 'stcQuantity',
					align : 'center',
				}, ],
				rowHeaders : [ 'rowNum' ],
				pageOptions : {
					useClient : true,
					perPage : 10
				}
			});
		});
	</script>
</div>