<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjc.app.mt.mapper.OrderRequestMapper">
 
    <select id="getAllOrderRequests" resultType="com.sjc.app.mt.service.OrderRequestVO">
        SELECT ORDER_REQUEST_CODE AS orderRequestCode, 
               ORDER_DATE AS orderDate, 
               MT_CODE AS mtCode, 
               QUANTITY AS quantity, 
               CP_CODE AS cpCode, 
               USER_ID AS userId, 
               COMM AS comm 
        FROM OD_REQUEST <!-- 발주 요청 테이블에서 모든 데이터 조회 -->
    </select>

    <select id="getOrderRequestById" parameterType="String" resultType="com.sjc.app.mt.service.OrderRequestVO">
        SELECT ORDER_REQUEST_CODE AS orderRequestCode, 
               ORDER_DATE AS orderDate, 
               MT_CODE AS mtCode, 
               QUANTITY AS quantity, 
               CP_CODE AS cpCode, 
               USER_ID AS userId, 
               COMM AS comm 
        FROM OD_REQUEST WHERE ORDER_REQUEST_CODE = #{orderId} <!-- 특정 발주 요청 조회 -->
    </select>

    <insert id="insertOrderRequest" parameterType="com.sjc.app.mt.service.OrderRequestVO">
        INSERT INTO OD_REQUEST (ORDER_REQUEST_CODE, ORDER_DATE, MT_CODE, QUANTITY, CP_CODE, USER_ID, COMM) 
        VALUES (#{orderRequestCode}, #{orderDate}, #{mtCode}, #{quantity}, #{cpCode}, #{userId}, #{comm}) <!-- 발주 요청 등록 -->
    </insert>

    <update id="updateOrderRequest" parameterType="com.sjc.app.mt.service.OrderRequestVO">
        UPDATE OD_REQUEST 
        SET MT_CODE = #{mtCode}, 
            QUANTITY = #{quantity}, 
            COMM = #{comm}, 
            ORDER_DATE = #{orderDate},
            CP_CODE = #{cpCode},
            USER_ID = #{userId} 
        WHERE ORDER_REQUEST_CODE = #{orderRequestCode} <!-- 발주 요청 수정 -->
    </update>

    <delete id="deleteOrderRequest" parameterType="String">
        DELETE FROM OD_REQUEST WHERE ORDER_REQUEST_CODE = #{orderRequestCode} <!-- 발주 요청 삭제 -->
    </delete>

</mapper>
