<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>사용자 관리</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
</head>
<body>
	

	<div class="main-container">
		<div class="pd-ltr-20">
			<h2 class="h2 mb-20">자재 목록</h2>

			<div class="pd-20 card-box mb-20">
		        <button class="btn btn-primary mb-3 mr-3" id="registerBtn">BOM 추가</button>
		        <button class="btn btn-success mb-3 mr-3" id="insertBtn">BOM 목록</button>
		        <button class="btn btn-secondary mb-3 mr-3" id="saveBtn">BOM 상세</button>
				<div id="grid"></div>
				<div id="gridBom"></div>
				<div id="gridBomDetail"></div>
			</div>
		</div>
	</div>

	<script th:src="@{/assets/js/info/bomList.js}"></script>