<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>사용자 관리</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
   
</head>
<body>
	<div class="main-container">
		<div class="pd-ltr-20">
			<h2 class="h2 mb-20">자재 - BOM</h2>

			<div class="pd-20 card-box mb-20">
		        <button class="btn btn-primary mb-3 mr-3" id="registerBtn">BOM 추가</button>
		        <h2 class="h5 mb-20">자재목록</h2>
		        
				<div id="grid"></div>
			</div>
			
	        <div style="display: flex; width: 100%; gap: 20px;">
	            <div class="pd-20 card-box mb-20" style="width: 50%;">
		        	<h2 class="h5 mb-20">BOM 목록</h2>
	                <div id="gridBom"></div>
	            </div>
	            <div class="pd-20 card-box mb-20" style="width: 50%;">
		        	<h2 class="h5 mb-20">BOM 상세목록</h2>
	                <div id="gridBomDetail"></div>
	            </div>
	        </div>
	        
		</div>
	</div>

	<script th:src="@{/assets/js/info/bomList.js}"></script>