<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>설비 차트</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
	<link rel="stylesheet" href="https://uicdn.toast.com/chart/latest/toastui-chart.min.css">
	<script src="https://uicdn.toast.com/chart/latest/toastui-chart.min.js"></script>
<style>
	.chart-container {
	    width: 100%;
	    max-width: 100%;
	    overflow-x: auto;
	}
	.chart-wrapper {
	    position: relative;
	    width: 100%;
	    min-height: 250px;
	    margin: 0 auto;
	}
		
	#pieChart {
	    margin: 0 auto;
	}
	
	@media (max-width: 768px) {
	    .chart-wrapper {
	        min-height: 250px;
	    }
	}
</style></head>
<body>
<div class="main-container">
    <div class="pd-ltr-20">
		<h2 class="h2 mb-20">메인 페이지</h2>
        <div class="row">
            <div class="col-12">
		        <div style="display: flex; width: 100%; gap: 20px;">
		            <div class="pd-20 card-box mb-20 w-50">                    
		            	<h2 class="h5 mb-20">현재 설비 가동 현황<small class="text-secondary ml-2" th:text="${#dates.format(new java.util.Date(), '( yyyy년 M월 d일 )')}"></small ></h2>
	                    <div class="chart-wrapper">
	                        <div id="pieChartEqChck"></div>
	                    </div>
	                </div>
		            <div class="pd-20 card-box mb-20 w-50">                    
		            	<h2 class="h5 mb-20">라인별 장비 보유 현황</h2>
	                    <div class="chart-wrapper">
	                        <div id="columnChartEq"></div>
	                    </div>
	                </div>
		            <div class="pd-20 card-box mb-20 w-50">                    
		            	<h2 class="h5 mb-20 text-secondary ml-2" th:text="${#dates.format(new java.util.Date(), 'yyyy년 M월 제품별 주문수량')} "></h2>
	                    <div class="chart-wrapper">
	                        <div id="columnChartOrd"></div>
	                    </div>
	                </div>
		            <div class="pd-20 card-box mb-20 w-50">                    
		            	<h2 class="h5 mb-20">자재별 안전재고 부족 현황</h2>
	                    <div class="chart-wrapper">
	                        <div id="stackBarChartMt"></div>
	                    </div>
	                </div>
	            </div>
            </div>
            <div class="col-12">
		        <div style="display: flex; width: 100%; gap: 20px;">
		            <div class="pd-20 card-box mb-20 w-50">                    
		            	<h2 class="h5 mb-20">공정별 투입/생산 현황</h2>
	                    <div class="chart-wrapper">
	                        <div id="columnLineChartPr"></div>
	                    </div>
	                </div>
		            <div class="pd-20 card-box mb-20 w-50">                    
		            	<h2 class="h5 mb-20">차트</h2>
	                    <div class="chart-wrapper">
	                        <div id=""></div>
	                    </div>
	                </div>
		            <div class="pd-20 card-box mb-20 w-50">                    
		            	<h2 class="h5 mb-20">차트</h2>
	                    <div class="chart-wrapper">
	                        <div id=""></div>
	                    </div>
	                </div>
		            <div class="pd-20 card-box mb-20 w-50">                    
		            	<h2 class="h5 mb-20">차트</h2>
	                    <div class="chart-wrapper">
	                        <div id=""></div>
	                    </div>
	                </div>
	            </div>
            </div>
        
        
        </div>
    </div>
</div>



<script>
document.addEventListener('DOMContentLoaded', function() {

	// 디바운스 함수
	function debounce(func, wait) {
	    let timeout;
	    return function executedFunction(...args) {
	        const later = () => {
	            clearTimeout(timeout);
	            func(...args);
	        };
	        clearTimeout(timeout);
	        timeout = setTimeout(later, wait);
	    };
	}
	
	// 리사이즈 핸들러
	const handleResize = debounce(() => {
	    if (chart) {
	        chart.destroy();
	    }
	    chart = initChart();
	}, 250);
	
	window.addEventListener('resize', handleResize);
	
	function getChartSize() {
	    const containerWidth = document.querySelector('.chart-wrapper').offsetWidth;
	    let chartWidth = containerWidth;
	    let chartHeight = containerWidth * 0.6; // 높이를 너비의 60%로 설정
	
	    // 최소,최대 크기 제한
	    chartWidth = Math.min(Math.max(chartWidth, 300), 1200);
	    chartHeight = Math.min(Math.max(chartHeight, 300), 300);
	
	    return { width: chartWidth, height: chartHeight };
	}
	
	function getChartEqChck() {
		$.ajax({
		    url: 'getChartEqChck',
		    type: 'GET',
		    success: function(response) {
		    	const pieChartData = {
		    		    categories: ['가동현황'],
		    		    series: []
		    		};
			    const { width, height } = getChartSize();
			    
			    const options = {
				        chart: { 
				            width: width,
				            height: height,
				        },
				        series: {
				            dataLabels: {
				                visible: true,
				                pieSeriesName: {
				                    visible: true
				                }
				            }
				        },
				        legend: {
				            align: 'bottom',
				        	showCheckbox: false,
				            
				        },
				        theme: {
				            chart: {
				                fontFamily: 'Arial'
				            }
				        },
				        exportMenu: {
				            visible: false
				        },
				        tooltip: {
				            formatter: (value) => `${value}개`,
			            },					        
				    };
			    
				response.forEach(item => {
				    pieChartData.series.push({
				        name: item.eqStatus,
				        data: Number(item.eqCount)
				    });
				});
			    const pieChartEqChck = new toastui.Chart.pieChart({ 
			        el: document.getElementById('pieChartEqChck'),
			        data: pieChartData, 
			        options: options
			    });		        
			    
		    },
		    error: function(xhr, status, error) {
		        console.error(error);
		    }
		});
	}
	getChartEqChck();
	
	function getChartOrd() {
		$.ajax({
		    url: 'getChartOrd',
		    type: 'GET',
		    success: function(response) {
		    	
		        const columnChartData = {
		            categories: [], // 제품 이름
		            series: [{
		                name: [],
		                data: [], // 주문 건수
		            	colorByCategories: true
		            }]
		        };
		        
			    const { width, height } = getChartSize();
			    
			    const options = {
			        chart: { 
			            width: width,
			            height: height,
			        },
			        series: {
			            dataLabels: {
			                visible: false,
			                pieSeriesName: {
			                    visible: true
			                }
			            },


			        },
			        legend: {
			            align: 'bottom',
		                visible: false,
			        },
			        exportMenu: {
			            visible: false
			        },
			        tooltip: {
			            formatter: (value) => `${value}개`,
		            },	        
			    };		        
		        
		        // 받은 데이터 변환
		        response.forEach(item => {
		            columnChartData.categories.push(item.prdName);
		            columnChartData.series[0].data.push(item.totalQuantity);
		        });

			    const columnChartOrd = new toastui.Chart.columnChart({ 
			        el: document.getElementById('columnChartOrd'),
			        data: columnChartData, 
			        options: options
			    });		        
		    },
		    error: function(xhr, status, error) {
		        console.error(error);
		    }
		});
	}
	getChartOrd();
	
	function getChartEq() {
		$.ajax({
		    url: 'getChartEq',
		    type: 'GET',
		    success: function(response) {
			    const { width, height } = getChartSize();
			    
			    const options = {
			        chart: { 
			            width: width,
			            height: height,
			        },
			        series: {
			            dataLabels: {
			                visible: false,
			                pieSeriesName: {
			                    visible: true
			                }
			            },


			        },
			        legend: {
			            align: 'bottom',
			        	showCheckbox: false,
			            
			        },
			        exportMenu: {
			            visible: false
			        },
			        tooltip: {
			            formatter: (value) => `${value}개`,
		            },	        
			    };
			    /*
			    // name, data
		        const columnChartData = {
		            categories: [], // 라인코드
		            series: [{
		                name: [], // 설비종류
		                data: [], 
		            	colorByCategories: true
		            }]
		        };
		        
			    response.forEach(item => {
			        columnChartData.categories.push(item.lineCode);
			        columnChartData.series[0].name.push(item.eqType);
			        columnChartData.series[0].data.push(item.eqCount);
			    });
			    */
			    
			    // category, name, data
			    const columnChartData = {
			    	    categories: [],
			    	    series: []     
			    	};

			    	const uniqueLineCode = [...new Set(response.map(item => item.lineCode))];
			    	const uniqueEqType = [...new Set(response.map(item => item.eqType))];

			    	columnChartData.categories = uniqueLineCode;

			    	uniqueEqType.forEach(eqType => {
			    	    const seriesData = {
			    	        name: eqType,
			    	        data: uniqueLineCode.map(lineCode => {
			    	            const found = response.find(item => 
			    	                item.lineCode === lineCode && 
			    	                item.eqType === eqType
			    	            );
			    	            return found ? found.eqCount : 0;
			    	        })
			    	    };
			    	    columnChartData.series.push(seriesData);
			    	});			    

			    const columnChartEq = new toastui.Chart.columnChart({ 
			        el: document.getElementById('columnChartEq'),
			        data: columnChartData, 
			        options: options
			    });		        
		    },
		    error: function(xhr, status, error) {
		        console.error(error);
		    }
		});
	}
	getChartEq();
	
    function getChartMt() {
        fetch('/getChartMt')
		.then(response => response.json())
		.then(response => {
			const { width, height } = getChartSize();
			
			const stackBarChartData = {
			  categories: [],
			  series: [
			    {
			      name: '현재수량',
			      data: []
			    },
			    {
			      name: '부족수량',
			      data: []
			    },
			    
			  ]
			};
	
			// 받은 데이터를 차트 데이터 형식으로 변환
			response.forEach(item => {
				stackBarChartData.categories.push(item.mtName);
				stackBarChartData.series[0].data.push(item.currentStc);
				stackBarChartData.series[1].data.push(item.safetyStock);
			});
	
			// 차트 옵션 설정
			const options = {
				chart: { 
					width: width,
					height: height,
				},
				series: {
					dataLabels: {
					visible: true,
					formatter: (value) => `${value}`
					},
					stack: {
					    type: 'percent',
					},			    
				},
				legend: {
			  		align: 'bottom',
		        	showCheckbox: false,
				},
				xAxis: {
				  title: '안전재고 대비 현재재고 비율(%)'
				},
				yAxis: {
				  title: '자재명'
				},
				tooltip: {
				  formatter: (value) => `${value}개`
				},
				/*
				theme: {
					series: {
					  colors: ['#47B881', '#FFB020']
					}
				},
				*/
				exportMenu: {
				    visible: false
				},			  
			};
	
			// 차트 생성
			const stackBarChartMt = new toastui.Chart.barChart({ 
			  el: document.getElementById('stackBarChartMt'),
			  data: stackBarChartData, 
			  options: options
			});
	    })
	    .catch(error => {
	      console.error(error);
	    });
	}
    getChartMt();    
    
    function getChartPr() {
        fetch('getChartPr')
        .then(response => response.json())
        .then(response => {
            const { width, height } = getChartSize();

            const chartData = {
                categories: [],
                series: {
                    column: [
                        {
                            name: '투입량',
                            data: []
                        },
                        {
                            name: '생산량',
                            data: []
                        }
                    ],
                    line: [
                        {
                            name: '생산효율',
                            data: []
                        }
                    ]
                }
            };

            response.forEach(item => {
                chartData.categories.push(item.processName);
                chartData.series.column[0].data.push(item.input);
                chartData.series.column[1].data.push(item.output);
                chartData.series.line[0].data.push(item.rate);
            });

            const options = {
            	    chart: {
            	        width: width,
            	        height: height,
            	    },
            	    series: {
            	        column: {  // column 시리즈 설정
            	            dataLabels: {
            	                visible: false,
            	                formatter: (value) => `${value}개`
            	            }
            	        },
            	        line: {    // line 시리즈 설정
            	            dataLabels: {
            	                visible: false,
            	                formatter: (value) => `${value}%`
            	            }
            	        },
            	        showDot: true,
            	    },
            	    legend: {
            	        align: 'top',
            	        showCheckbox: false
            	    },
            	    xAxis: {
            	        title: '공정명',
            	        label: {
            	            rotatable: true,
            	            interval: 1
            	        }
            	    },
            	    yAxis: [
            	        {
            	            title: '수량',
            	            chartType: 'column'
            	        },
            	        {
            	            title: '생산비율(%)',
            	            chartType: 'line',
            	            scale: {
            	                min: 0,
            	                max: 100
            	            }
            	        }
            	    ],
            	    tooltip: {
            	        formatter: (value, columnSeriesName, categoryIndex, seriesIndex, point) => {
            	            if(columnSeriesName.label =='생산효율') return `${value}%`;         	            	
            	            else return `${value}개`;
            	        }
            	    },
            	    exportMenu: {
            	        visible: false
            	    },	
            	};


            const columnLineChartPr = new toastui.Chart.columnLineChart({ 
                el: document.getElementById('columnLineChartPr'),
                data: chartData,
                options: options
            });
        })
        .catch(error => {
            console.error(error);
        });
    }
    getChartPr();  

});
</script>
</body>