<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>MES > 기준정보 > 업체 관리</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
<style>
	#grid div.tui-grid-body-container {
	  cursor: pointer;
	}
</style>    
</head>
<body>
	<!-- 
	<div class="main-container">
		<div class="pd-ltr-20">
	 -->
			<h2 class="h2 mb-20">기준정보 > 업체 관리</h2>
			<div class="pd-30 card-box mb-20">
				<div class="d-flex justify-content-between align-items-center align-middle mb-20">
					<div>
				        <h4 class="h5 mb-0">업체 목록</h4>
					</div>
					<div>
					  <div class="d-flex align-items-center">
					    <div class="d-flex align-items-center">
							<label class="col-form-label h5 mr-3 text-nowrap">업체코드</label>
							<input class="form-control mr-3 w-25" type="text" id="inputCpCode" placeholder="업체코드 입력">
							<label class="col-form-label h5 mr-3 text-nowrap">업체명</label>
							<input class="form-control mr-3 w-25" type="text" id="inputCpName" placeholder="업체명 입력">
							<button class="btn btn-primary mr-3 text-nowrap" id="searchBtn">검색</button>
					    </div>
					  </div>
					</div>
					 <div>
				        <button class="btn btn-success mr-3" id="insertBtn">등록</button>
				        <!-- 
				        <button class="btn btn-warning mr-3" id="updateBtn">수정</button>
				        <button class="btn btn-danger" id="deleteBtn">삭제</button>
				         -->
					</div>
				</div>			
				<div class="gridClass" id="grid"></div>
			</div>
	<!-- 
		</div>
	</div>
	 -->			
	
	
	<div class="modal" id="CpInsertModal">
		<div class="modal-dialog modal-xl modal-dialog-centered">
			<div class="modal-content">
	            <div class="pd-20 card-box mb-20" style="width: 100%;">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">업체 등록</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<!-- Modal body -->
					<div class="modal-body">
						<div class="d-flex justify-content-between align-items-center align-middle mb-20">
							<div>
						        <h2 class="h5 mb-0">업체 목록</h2>
							</div>
							<div>
						        <button class="btn btn-primary mr-3" id="appendCpBtn">행 추가</button>
						        <!-- 
						        <button class="btn btn-success mr-3" id="insertCpBtn">등록</button>
						        <button class="btn btn-warning mr-3" id="updateCpBtn">수정</button>
						        <button class="btn btn-danger" id="deleteCpBtn">삭제</button>
						         -->
							</div>
						</div>							
						<div id="gridCpInsertModal"></div>
					</div>
					<!-- Modal footer -->
					<div class="modal-footer justify-content-center">
						<button type="button" class="btn btn-success" id="insertCpBtn">등록</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal" id="cancelCpBtn">취소</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal" id="CpModal">
		<div class="modal-dialog modal-xl modal-dialog-centered">
			<div class="modal-content">
	            <div class="pd-20 card-box mb-20" style="width: 100%;">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">업체 정보</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<!-- Modal body -->
					<div class="modal-body">
						<div class="d-flex justify-content-between align-items-center align-middle mb-20">
							<div>
						        <h2 class="h5 mb-0">업체 수정/삭제</h2>
							</div>
							<div>
						        <button class="btn btn-primary mr-3" id="updateCpBtn">수정</button>
						        <button class="btn btn-danger" id="deleteCpBtn">삭제</button>
						        <!-- 
						        <button class="btn btn-success mr-3" id="insertCpBtn">등록</button>
						        <button class="btn btn-warning mr-3" id="updateCpBtn">수정</button>
						        <button class="btn btn-danger" id="deleteCpBtn">삭제</button>
						         -->
							</div>
						</div>							
						<div id="gridCpModal"></div>
					</div>
					<!-- Modal footer -->
					<div class="modal-footer justify-content-center">
						<button type="button" class="btn btn-primary" data-dismiss="modal" id="">확인</button>
					</div>
				</div>
			</div>
		</div>
	</div>

		
	
</body>
	<script th:src="@{/assets/js/info/tooltip.js}"></script>
	<script th:src="@{/assets/js/info/cpList.js}"></script>