<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>설비 차트</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
	<link rel="stylesheet" href="https://uicdn.toast.com/chart/latest/toastui-chart.min.css">
	<script src="https://uicdn.toast.com/chart/latest/toastui-chart.min.js"></script>
<style>
	.chart-container {
	    width: 100%;
	    max-width: 100%;
	    overflow-x: auto;
	}
	.chart-wrapper {
	    position: relative;
	    width: 100%;
	    min-height: 250px;
	    margin: 0 auto;
	}
		
	#pieChart {
	    margin: 0 auto;
	}
	
	@media (max-width: 768px) {
	    .chart-wrapper {
	        min-height: 250px;
	    }
	}
</style></head>
<body>
<div class="main-container">
    <div class="pd-ltr-20">
        <div class="row">
            <div class="col-12">
		        <div style="display: flex; width: 100%; gap: 20px;">
		            <div class="pd-20 card-box mb-20 w-50">                    
		            	<h2 class="h5 mb-20">설비 현황<small class="text-secondary ml-2" th:text="${#dates.format(new java.util.Date(), '( yyyy년 M월 d일 )')}"></small ></h2>
	            		
		            	
	                    <div class="chart-wrapper">
	                        <div id="pieChartLeft"></div>
	                    </div>
	                </div>
		            <div class="pd-20 card-box mb-20 w-50">                    
		            	<h2 class="h5 mb-20">라인별 장비 보유 현황</h2>
	                    <div class="chart-wrapper">
	                        <div id="columnChartRight"></div>
	                    </div>
	                </div>
	            </div>
            </div>
            <div class="col-12">
		        <div style="display: flex; width: 100%; gap: 20px;">
		            <div class="pd-20 card-box mb-20" style="width: 100%;"> 
		            	<div class="d-flex justify-content-between align-items-center align-middle mb-20">
		            
			                <div>
			            		<h2 class="h5 mb-20">실시간 온도 모니터링</h2>
			            		
			                </div>
							<div class="row mb-3">
							    <div class="col">
							        <div class="btn-group" role="group">
							            <button type="button" class="btn mr-2" style="opacity:0" id="">빈 버튼</button>
							            <button type="button" class="btn btn-light" id="intervalStartBtn">시작</button>
							            <button type="button" class="btn btn-success active" id="intervalStopBtn">종료</button>
							        </div>
							    </div>
							</div>
							
							<div class="row">
							    <div class="col">
							        <div class="btn-group" role="group">
							            <button type="button" class="btn btn-light" id="schedulerStartBtn" style="opacity:1">스케줄러 시작</button>
							            <button type="button" class="btn btn-primary active" id="schedulerStopBtn" style="opacity:1">스케줄러 종료</button>
							        </div>
							    </div>
							</div>
						</div>		                               
	                    <div class="chart-wrapper">
	                        <div id="lineChartBottom"></div>
	                    </div>
	                </div>
            	</div>
            </div>
        </div>
    </div>
</div>



<script>
document.addEventListener('DOMContentLoaded', function() {

	const columnChartData = {
			  categories: ['라인1', '라인2', '라인3', '라인4', '라인5', '라인6', '라인7'],
			  series: [
			    {
			      name: '배합기',
			      data: [5, 3, 5, 7, 6, 4, 1]
			    },
			    {
			      name: '냉각기',
			      data: [8, 4, 7, 2, 6, 3, 5]
			    },
			    {
			      name: '성형기',
			      data: [4, 4, 6, 3, 4, 5, 7]
			    },
			    {
			      name: '포장기',
			      data: [3, 4, 3, 1, 2, 4, 3]
			    }
			  ]
			}
	const pieChartData = {
	    categories: ['가동율'],
	    series: [
	        {
	            name: '가동',
	            data: 70,
	        },
	        {
	            name: '점검중',
	            data:  13,
	        },
	        /*
	        {
	            name: '수리중',
	            data:  4.45,
	        },
	        {
	            name: '고장',
	            data:  2.00,
	        },
	        */
	        {
	            name: '비가동',
	            data: 17,
	        },
	
	    ],
	};
	
	//const lineChartData = null;
	
	const dataLength = 11; // 빈 배열 갯수
	const seriesNames = ['성형기', '혼합기'];
	
	// 배열 생성
	function createEmptyChartData(length, names) {
	   return {
	       categories: Array(length).fill(''),
	       series: names.map(name => ({
	           name: name,
	           data: Array(length).fill('145') // 145 ~ 150 난수 생성이라서 가운데 값
	       }))
	   };
	}
	
	const lineChartData = createEmptyChartData(dataLength, seriesNames);
	
	function getChartSize() {
	    const containerWidth = document.querySelector('.chart-wrapper').offsetWidth;
	    let chartWidth = containerWidth;
	    let chartHeight = containerWidth * 0.6; // 높이를 너비의 60%로 설정
	
	    // 최소,최대 크기 제한
	    chartWidth = Math.min(Math.max(chartWidth, 300), 1200);
	    chartHeight = Math.min(Math.max(chartHeight, 300), 300);
	
	    return { width: chartWidth, height: chartHeight };
	}
	
	function initPieChartLeft() {
	    const { width, height } = getChartSize();
	    
	    const options = {
	        chart: { 
	            width: width,
	            height: height,
	        },
	        series: {
	            dataLabels: {
	                visible: true,
	                pieSeriesName: {
	                    visible: true
	                }
	            }
	        },
	        legend: {
	            align: 'bottom'
	        },
	        theme: {
	            chart: {
	                fontFamily: 'Arial'
	            }
	        },
	        exportMenu: {
	            visible: false
	        }
	    };
	  
	    const pieChartLeft = new toastui.Chart.pieChart({ 
	        el: document.getElementById('pieChartLeft'),
	        data: pieChartData, 
	        options: options
	    });
	
	    return pieChartLeft;
	}
	
	function initColumnChartRight() {
	    const { width, height } = getChartSize();
	    
	    const options = {
	        chart: { 
	            width: width,
	            height: height,
	        },
	        series: {
	            dataLabels: {
	                visible: false,
	                pieSeriesName: {
	                    visible: true
	                }
	            }
	        },
	        legend: {
	            align: 'bottom'
	        },
	        theme: {
	            chart: {
	                fontFamily: 'Arial'
	            }
	        },
	        exportMenu: {
	            visible: false
	        },
	        tooltip: {
	            formatter: (value) => `${value}대`,
            },	        
	    };
	  
	    const columnChartRight = new toastui.Chart.columnChart({ 
	        el: document.getElementById('columnChartRight'),
	        data: columnChartData, 
	        options: options
	    });
	
	    return columnChartRight;
	}
	
	function initLineChartBottom() {
	    const { width, height } = getChartSize();
	    
	    const options = {
	        chart: { 
	        	//title: '실시간 온도 모니터링',
	            width: width * 2,
	            height: height,
	        },
	        series: {
	            dataLabels: {
	                visible: false,
	                pieSeriesName: {
	                    visible: true
	                }
	            },
	            spline: true,
	            shift: true // 차트 선 부드럽게            
	        },
	        legend: {
	            align: 'bottom'
	        },
	        theme: {
	            chart: {
	                fontFamily: 'Arial'
	            }
	        },
	        exportMenu: {
	            visible: false
	        },
	        xAxis: {
	            title: '시간',
	            tick: {
	                interval: 1,
	              },
	              label: {
	                interval: 1,
	                rotatable: false  // 라벨 회전 비활성화
	              },
	        },
	        yAxis: {
	            title: '온도'
	        },
	        tooltip: {
	            formatter: (value) => `${value}°C`,
            },	        
	    };
	  
	    const lineChartBottom = new toastui.Chart.lineChart({ 
	        el: document.getElementById('lineChartBottom'),
	        data: lineChartData, 
	        options: options
	    });
	
	    return lineChartBottom;
	}
	
	let pieChart = initPieChartLeft();
	let columnChart = initColumnChartRight();
	let lineChart = initLineChartBottom();
	
/*
    const lineChart = new LineChart({ 
        el: document.getElementById('lineChartBottom'),
        data: lineChartData, 
        options: options
    });
	*/
	
	// 디바운스 함수
	function debounce(func, wait) {
	    let timeout;
	    return function executedFunction(...args) {
	        const later = () => {
	            clearTimeout(timeout);
	            func(...args);
	        };
	        clearTimeout(timeout);
	        timeout = setTimeout(later, wait);
	    };
	}
	
	// 리사이즈 핸들러
	const handleResize = debounce(() => {
	    if (chart) {
	        chart.destroy();
	    }
	    chart = initChart();
	}, 250);
	
	window.addEventListener('resize', handleResize);
	
	
	/*
	
	document.getElementById('startBtn').addEventListener('click', startScheduler);
	function startScheduler() {
		   fetch('/startScheduler', {
		       method: 'POST'
		   })
		   .then(response => response.json())
		   .then(data => {
			   //chart.addData(newData, newCategory);		   
			   chart.addData(newData, newCategory);		   
		       console.log('Success:', data);
		       alert('스케줄러가 시작되었습니다.');
		   })
		   .catch(error => {
		       console.error('Error:', error);
		       alert('스케줄러 시작 실패');
		   });
		}
	
	document.getElementById('stopBtn').addEventListener('click', stopScheduler);
	function stopScheduler() {
		   $.ajax({
		       url: '/stopScheduler',
		       type: 'POST',
		       success: function(data) {
		           console.log('Success:', data);
		           alert('스케줄러가 종료되었습니다.');
		       },
		       error: function(error) {
		           console.error('Error:', error);
		           alert('스케줄러 종료 실패');
		       }
		   });
		}
	*/
	
	
		
	$('#schedulerStartBtn, #schedulerStopBtn').click(function() {
	    const isStart = $(this).attr('id') === 'schedulerStartBtn';
	    
	    // 버튼 상태 변경
	    if(isStart) {
	        $('#schedulerStartBtn').removeClass('btn-light').addClass('btn-primary active');
	        $('#schedulerStopBtn').removeClass('btn-primary active').addClass('btn-light');
	        // 스케줄러 시작
	        $.post('/startScheduler');
	    } else {
	        $('#schedulerStartBtn').removeClass('btn-primary active').addClass('btn-light');
	        $('#schedulerStopBtn').removeClass('btn-light').addClass('btn-primary active');
	        // 스케줄러 정지
	        $.post('/stopScheduler');
	    }
	    console.log(isStart);
	});
	
	
	let intervalId = null; // 인터벌 버튼
	
    // intervalId = setInterval(getChartData, 1000); // 화면 로드 시 테스트 모니터링 시작
	$('#intervalStartBtn, #intervalStopBtn').click(function() {
	    const isStart = $(this).attr('id') === 'intervalStartBtn';
	    
	    if(isStart) {
	        $('#intervalStartBtn').removeClass('btn-light').addClass('btn-success active');
	        $('#intervalStopBtn').removeClass('btn-success active').addClass('btn-light');
	        // 인터벌 시작
	        intervalId = setInterval(getEqLog, 1000);
	        
	    } else {
	        $('#intervalStartBtn').removeClass('btn-success active').addClass('btn-light');
	        $('#intervalStopBtn').removeClass('btn-light').addClass('btn-success active');
	        // 인터벌 정지
	        if(intervalId) {
	            clearInterval(intervalId);
	            intervalId = null;
	        }
	    }
	});
	
	function getTemperature() {
	    $.ajax({
	        url: '/getTemperature',
	        type: 'GET',
	        contentType: 'application/json',
	        data: JSON.stringify(payload),
	        success: function(response) {
	            console.log(response);
	        }
	    });	
	}
	/*
	function getChartData() {
	    $.get('/getChartData', function(data) {
	        const newCategory = data.categories[0];
	        
	        const newData = [
	            data.series[0].data[0],  // 성형기 값
	            data.series[1].data[0]   // 혼합기 값
	        ];
	        
	        lineChart.addData(newData, newCategory);
	    });
	}
	*/
    function getChartData(search = {}) {
        const params = new URLSearchParams(search);
        const url = `/getChartData?${params.toString()}`;

        fetch(url)
            .then(response => response.json())
            .then(data => {
    	        const newCategory = data.categories[0];
    	        
    	        const newData = [
    	            data.series[0].data[0],  // 성형기 값
    	            data.series[1].data[0]   // 혼합기 값
    	        ];
    	        
    	        lineChart.addData(newData, newCategory);                
            })
            .catch(error => {
                console.error(error);
            });
    }	
	/*
	function getEqLog() {
	    $.get('/getEqLog', function(data) {
	        const newCategory = data.categories[0];
	        
	        const newData = [
	            data.series[0].data[0],  // 성형기 값
	            data.series[1].data[0]   // 혼합기 값
	        ];
	        
	        lineChart.addData(newData, newCategory);
	    });
	}
	*/
    function getEqLog(search = {}) {
        const params = new URLSearchParams(search);
        const url = `/getEqLog?${params.toString()}`;

        fetch(url)
            .then(response => response.json())
            .then(data => {
    	        const newCategory = data.categories[0];
    	        
    	        const newData = [
    	            data.series[0].data[0],  // 성형기 값
    	            data.series[1].data[0]   // 혼합기 값
    	        ];
    	        
    	        lineChart.addData(newData, newCategory);                
            })
            .catch(error => {
                console.error(error);
            });
    }	

});
</script>
</body>