<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>MES > 기준정보 > 라인/공정 관리</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>

<style>
	.gridClass td.tui-grid-cell-editable {
	  cursor: pointer;
	}
</style>
    
</head>
<body>
	<!-- 
	<div class="main-container">
		<div class="pd-ltr-20">
	 -->
			<h2 class="h2 mb-20">기준정보 > 라인/공정 관리</h2>
	        <div style="display: flex; width: 100%; gap: 20px;">
				<div class="pd-30 card-box mb-20" style="width: 50%;">
					<div>
				        <h4 class="h5 mb-20 text-nowrap">라인 목록</h4>
					</div>
					
					<div class="form-group row align-items-center">
					    
					    
					   <label class="col-sm-1 col-form-label text-nowrap h4 mb-0">라인코드</label>
					   <div class="col-sm-2 mb-0 py-0">
					       <input class="form-control form-control-sm" type="text" id="inputLineCode" placeholder="">
					   </div>
					   						    
					   <label class="col-sm-1 col-form-label text-nowrap h4 mb-0">제품코드</label>
					   <div class="col-sm-2 mb-0 py-0">
					       <input class="form-control form-control-sm" type="text" id="inputPrdCode" placeholder="">
					   </div>						    
						
						<div class="col-auto ml-auto">
					        <button class="btn btn-sm btn-success mr-3 text-nowrap" id="insertLineBtn">등록</button>
					        <button class="btn btn-sm btn-warning mr-3 text-nowrap" id="updateLineBtn">수정</button>
					        <button class="btn btn-sm btn-danger text-nowrap" id="deleteLineBtn">삭제</button>						    
						</div>						
					</div>

					<div class="gridClass" id="gridLine"></div>
				</div>
				
				<div class="pd-30 card-box mb-20" style="width: 50%;">
					<div>
				        <h4 class="h5 mb-20 text-nowrap">공정 목록</h4>
					</div>
					
					<div class="form-group row align-items-center">
					    
					    
					   <label class="col-sm-1 col-form-label text-nowrap h4 mb-0">공정코드</label>
					   <div class="col-sm-2 mb-0 py-0">
					       <input class="form-control form-control-sm" type="text" id="inputProcessCode" placeholder="">
					   </div>
					   						    
					   <label class="col-sm-1 col-form-label text-nowrap h4 mb-0">공정명</label>
					   <div class="col-sm-2 mb-0 py-0">
					       <input class="form-control form-control-sm" type="text" id="inputProcessName" placeholder="">
					   </div>						    
						
						<div class="col-auto ml-auto">
					        <button class="btn btn-sm btn-success mr-3 text-nowrap" id="insertProcessBtn">등록</button>
					        <button class="btn btn-sm btn-warning mr-3 text-nowrap" id="updateProcessBtn">수정</button>
					        <button class="btn btn-sm btn-danger text-nowrap" id="deleteProcessBtn">삭제</button>						    
						</div>						
					</div>

					<div class="gridClass" id="gridProcess"></div>
				</div>
				


				
			</div>
<!-- 
		</div>
	</div>
 -->			
</body>
	<script th:src="@{/assets/js/info/lineProcessList.js}"></script>