<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>사용자 관리</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
</head>
<body>
	

	<div class="main-container">
		<div class="pd-ltr-20">

			<div class="pd-20 card-box mb-20">
			<!-- 
			<h2 class="h2 mb-20">자재 목록</h2>
			 -->
			
			<div class="d-flex justify-content-between align-items-center align-middle mb-20">
		        <h2 class="h5 mb-0">자재 목록</h2>
				<div>
					<!-- 
					<button type="button" class="btn btn-success" id="openBomBtn">BOM 생성</button>
					 -->
			        <button class="btn btn-primary mb-3 mr-3" id="insertBtn">등록</button>
			        <button class="btn btn-warning mb-3 mr-3" id="updateBtn">수정</button>
			        <button class="btn btn-danger mb-3 mr-3" id="deleteBtn">삭제</button>
					<!-- 
					<button type="button" class="btn btn-warning" id="">수정</button>
					<button type="button" class="btn btn-danger" id="">삭제</button>
					 -->
				</div>
			</div>			
			
				<div id="grid"></div>
		        <!--
				<div id="gridBom"></div>
				<div id="gridBomDetail"></div>
		         -->
			</div>
		</div>
	</div>

	<script th:src="@{/assets/js/info/mtList.js}"></script>