<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
    <title>발주 상세내역</title>
      <style>
            #orderDetailsGrid:hover {
                cursor: pointer;
            }
        </style>
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.grid/latest/tui-grid.css" />
    <script src="https://uicdn.toast.com/tui.grid/latest/tui-grid.js"></script>
</head>

<body>
    <h1>발주 상세내역</h1>
    <div id="orderDetailsGrid" style="width: 100%; height: 400px;"></div>
    <a href="/orderRequestList" class="btn btn-primary mt-3">발주 목록으로 돌아가기</a>

    <script th:inline="javascript">
        const orderDetails = /*[[${orderDetails}]]*/ [];

        const orderDetailsGrid = new tui.Grid({
            el: document.getElementById('orderDetailsGrid'),
            data: orderDetails,
            columns: [
                { header: '자재 발주 상세 코드', name: 'mtlOdDetailCode', align: 'center' },
                { header: '자재 코드', name: 'mtCode', align: 'center' },
                { header: '자재 명', name: 'mtName', align: 'center' },
                { header: '규격', name: 'specification', align: 'center' },
                { header: '단가', name: 'unitPrice', align: 'right' },
                { header: '수량', name: 'quantity', align: 'right' },
                {
                    header: '주문 금액',
                    name: 'orderAmount',
                    align: 'right',
                    formatter: item => item.value ? item.row.unitPrice * item.row.quantity : '-'
                },
                { header: '발주 일자', name: 'mtlOdDate', align: 'center' },
                { header: '상태', name: 'status', align: 'center' },
                { header: '비고', name: 'comm', align: 'center' }
            ]
        });
    </script>
</body>
</html>
