<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjc.app.info.mapper.InfoCpMapper">

	<select id="selectCpAllList" resultType="CpVO" parameterType="CpVO">
		select	CP_CODE  
				,cp_name
		        ,BUSINESS_NO
		        ,ADDRESS
		        ,COMM
		        ,CP_TYPE
		        ,TEL
		from    CP
	    <where>
	        <if test="cpCode != null and cpCode != ''">
	            AND UPPER(cp_code) LIKE UPPER('%' || #{cpCode} || '%')
	        </if>
	        <if test="cpName != null and cpName != ''">
	            AND UPPER(cp_name) LIKE UPPER('%' || #{cpName} || '%')
	        </if>
	        <if test="cpType != null and cpType != ''">
	            AND UPPER(cp_type) LIKE UPPER('%' || #{cpType} || '%')
	        </if>
	    </where>
	    --ORDER BY CP_CODE
		ORDER BY CP_DATE DESC, CP_CODE 	    
	</select>
	
    <update id="updateCp" parameterType="CpVO">
        UPDATE 	cp
        SET 	
            	cp_name = #{cpName}
            	,cp_type = #{cpType}
            	,business_no = #{businessNo}
            	,address = #{address}
        		,comm = #{comm}
        		,tel = #{tel}
        WHERE 	cp_code = #{cpCode}
    </update>
    
    <insert id="insertCp" parameterType="CpVO">
	<selectKey keyProperty="cpCode" order="BEFORE" resultType="String">
		select 'CP' || lpad(to_char(NVL(max(substr(cp_code, 3, 2)), 0) + 1), 2, 0)
		from 	cp
	</selectKey>
	    INSERT INTO cp (
	    	cp_code
	    	,cp_name
	    	,cp_type
	    	,business_no
	    	,address
	    	,comm
	    	,tel
	
	    ) VALUES (
	    	#{cpCode}
	    	,#{cpName}
	    	,#{cpType}
	    	,#{businessNo}
	    	,#{address}
	    	,#{comm}
	    	,#{tel}
	    )
    </insert>
    
    <delete id="deleteCp">
    	delete
    	from	cp
    	where	cp_code = #{cpCode}
    </delete>
	
</mapper>