<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjc.app.info.mapper.InfoLineMapper">

	<select id="selectLineAllList" resultType="LineVO" parameterType="LineVO">
        select	l.LINE_CODE  
		        ,l.PRD_CODE
                ,p.prd_name
				,l.USE
				,l.line_name
				,l.line_date
		from    LINE    l
		left outer
        join    prd     p
        on      l.prd_code = p.prd_code
	    <where>
	        <if test="lineCode != null and lineCode != ''">
	            AND UPPER(l.line_code) LIKE UPPER('%' || #{lineCode} || '%')
	        </if>
	        <if test="prdCode != null and prdCode != ''">
	            AND UPPER(l.prd_code) LIKE UPPER('%' || #{prdCode} || '%')
	        </if>
	        <if test="use != null and use != ''">
	            AND UPPER(l.use) LIKE UPPER('%' || #{use} || '%')
	        </if>
	    </where>
	    ORDER BY l.LINE_CODE
	</select>
	
    <update id="updateLine" parameterType="LineVO">
        UPDATE 	line
        SET 	
            	prd_code = #{prdCode}
	        <if test="lineName != null and lineName != ''">
	            ,line_name = #{lineName}
	        </if>            	
        WHERE 	line_code = #{lineCode}
    </update>


    <insert id="insertLine" parameterType="LineVO">
	<selectKey keyProperty="lineCode" order="BEFORE" resultType="String">
		select 'L' || lpad(to_char(NVL(max(substr(line_code, 2, 2)), 0) + 1), 2, 0)
		from 	line
	</selectKey>
	    INSERT INTO line (
	    	line_code
	    	,line_name
	    	,prd_code
	    	,use
	    	,line_date
	
	    ) VALUES (
	    	#{lineCode}
	    	,#{lineName}
	    	,#{prdCode}
	    	,#{use}
	    	,SYSDATE
	    )
    </insert>

    <delete id="deleteLine">
    	delete
    	from	line
    	where	line_code = #{lineCode}
    </delete>
    	
</mapper>