<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjc.app.info.mapper.InfoMtMapper">

	<select id="selectMtAllList" resultType="MtVO" parameterType="MtVO">
		select	MT_CODE  
				,MT_NAME
		        ,MATERIAL_TYPE
		        ,SPECIFICATION
		        ,UNIT
		        ,UNIT_PRICE
		        ,SAFETY_STOCK
		        ,COMM
		        ,STC_CODE
		        ,UPDATE_DATE
		        ,CURRENT_STC
		        --,LEADTIME
		from    MT
	    <where>
	        <if test="mtCode != null and mtCode != ''">
	            AND UPPER(mt_code) LIKE UPPER('%' || #{mtCode} || '%')
	        </if>
	        <if test="mtName != null and mtName != ''">
	            AND UPPER(mt_ame) LIKE UPPER('%' || #{mtName} || '%')
	        </if>
	        <if test="materialType != null and materialType != ''">
	            AND UPPER(material_type) LIKE UPPER('%' || #{materialType} || '%')
	        </if>

	    </where>
	    ORDER BY UPDATE_DATE DESC, MT_CODE
	</select>
	
	<select id="selectMtStockList">
    <![CDATA[
        SELECT 
            mt_name
            --,safety_stock
            ,current_Stc
            ,safety_stock - current_Stc AS safety_stock
        FROM mt
        WHERE current_Stc < safety_stock
        ORDER BY MT_CODE
    ]]>
	</select>
	
    <insert id="insertMt" parameterType="MtVO">
	<selectKey keyProperty="mtCode" order="BEFORE" resultType="String">
		select 'MT' || lpad(to_char(NVL(max(substr(mt_code, 3, 3)), 0) + 1), 3, 0)
		from 	mt
	</selectKey>
	    INSERT INTO mt (
	    	mt_code
	    	,mt_name
	    	,material_type
	    	,specification
	    	,unit
	    	,unit_price
	    	,safety_stock
	    	,comm
	    	,stc_code
	    	,update_date
	    	,current_stc
	
	    ) VALUES (
	    	#{mtCode}
	    	,#{mtName}
	    	,#{materialType}
	    	,#{specification}
	    	,#{unit}
	    	,#{unitPrice}
	    	,#{safetyStock}
	    	,#{comm}
	    	,#{stcCode}
	    	,SYSDATE
	    	,#{currentStc}
	    )
    </insert>
    
    <update id="updateMt" parameterType="MtVO">
    	update	mt
    	set
	    	mt_name = #{mtName}
	    	,material_type = #{materialType}
	    	,specification = #{specification}
	    	,unit = #{unit}
	    	,unit_price = #{unitPrice}
	    	,safety_stock = #{safetyStock}
	    	,comm = #{comm}
	    	,stc_code = #{stcCode}
	    	,update_date = SYSDATE
	    	,current_stc = #{currentStc}
		where mt_code = #{mtCode}
    </update>
    
    <delete id="deleteMt">
    	delete
    	from	mt
    	where	mt_code = #{mtCode}
    </delete>
    	
</mapper>