<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjc.app.info.mapper.InfoBomMapper">

	<update id="updatePrd" parameterType="ProductVO">
		update 	prd
		set		bom_code = #{bomCode}
		where	prd_code = #{prdCode}
	</update>
	
	<update id="updateBom" parameterType="BomVO">
		update 	bom
		set		prd_code = #{prdCode}
		where	bom_code = #{bomCode}
	
	</update>
	
	<update id="updateBomNull" parameterType="ProductVO">
		update 	bom
		set		prd_code = null
		where	prd_code = #{prdCode}
	
	</update>
	

	<select id="selectBomAllList" resultType="BomVO" parameterType="BomVO">
		select	b.BOM_CODE BOM_CODE
				,b.REG_DATE REG_DATE
		        ,b.DESCRIPTION DESCRIPTION
		        ,b.COMM COMM
		        ,b.MANAGER MANAGER
		        ,b.PRD_CODE PRD_CODE
                ,p.prd_name prd_name
		from    BOM b left outer
        join    prd p
        on      b.prd_code = p.prd_code
	    <where>
	        <if test="bomCode != null and bomCode != ''">
	            AND UPPER(bom_code) LIKE UPPER('%' || #{bomCode} || '%')
	        </if>
	    </where>
	    ORDER BY BOM_CODE DESC
	</select>
	
	<select id="selectBomDetailAllList" resultType="BomVO" parameterType="BomVO">
		select	b.B_DETAIL_CODE B_DETAIL_CODE
				,b.QUANTITY_REQUIRED QUANTITY_REQUIRED
		        ,b.COMM COMM
				,b.BOM_CODE BOM_CODE 
		        ,b.MT_CODE MT_CODE
		        ,b.NO NO
                ,m.MT_NAME MT_NAME
                ,m.MATERIAL_TYPE MATERIAL_TYPE
                ,m.SPECIFICATION SPECIFICATION
                ,m.UNIT UNIT
                ,m.UNIT_PRICE UNIT_PRICE
		from    B_DETAIL b
        join    mt m
        on      b.mt_code = m.mt_code
	    <where>
	        <if test="bomCode != null and bomCode != ''">
	            AND UPPER(b.bom_code) LIKE UPPER('%' || #{bomCode} || '%')
	        </if>
	    </where>
	    ORDER BY b.B_DETAIL_CODE DESC, m.MT_CODE ASC
	</select>
	
	<insert id="insertBom" parameterType="BomVO">
		<selectKey keyProperty="bomCode" order="BEFORE" resultType="String">
			select 	f_code_pk('bom','b') bom_code
			from	dual
		</selectKey>
	
	    INSERT INTO bom (
	    	bom_code
	    	,description
	    	,reg_date
	    	,manager
	    	,prd_code
    	)
	    VALUES (
	    	#{bomCode}
	    	,#{description}
	    	,#{regDate}
	    	,#{manager}
	    	,#{prdCode}
	    	
	    )
	</insert>
	<!-- 
	<insert id="insertBom" parameterType="BomVO">
	    INSERT INTO bom (
	    	bom_code
	    	,description
	    	,reg_date
	    	,manager
    	)
	    VALUES (
	    	f_code_pk('bom','b')
	    	,#{description}
	    	,#{regDate}
	    	,#{manager}
	    	
	    )
	</insert>
	 -->
	

	<insert id="insertBomDetail" parameterType="BomVO">
	    INSERT INTO b_detail (
	    	B_DETAIL_CODE
	    	,BOM_CODE 
	    	,MT_CODE 
	    	,QUANTITY_REQUIRED
	    )VALUES(
	    	f_code_pk('b_detail','bd')
			,(
				SELECT  bom_code
				FROM    (
				    SELECT 	*
				    FROM 	bom
				    ORDER BY bom_code desc
				)
				WHERE   ROWNUM = 1
       		)
       		,#{mtCode}
	    	,#{quantityRequired}
	    )
	</insert>	
	<!-- mutating 에러로 단건 처리로 변경함.
	<insert id="insertBomDetail" parameterType="list">
	    INSERT INTO b_detail (
	    	B_DETAIL_CODE
	    	,BOM_CODE 
	    	,MT_CODE 
	    )
	    <foreach collection="list" item="bom" index="index" separator="UNION ALL">
	        SELECT	f_code_pk('b_detail','bd')
	        		,(
						SELECT  bom_code
						FROM    (
						    SELECT 	*
						    FROM 	bom
						    ORDER BY bom_code desc
						)
						WHERE   ROWNUM = 1
	        		)
	        		,#{bom.mtCode}
	        FROM 	dual
	    </foreach>
	</insert>	
	 -->
	
</mapper>